<div class="section section-description " >
    <div class="section-content job-description" ng-if="n.microtask.submission.testId!=undefined" >

        Issue of the following test case for the function <strong>{{n.funct.getName()}}</strong>.
    </div>
    <div class="section-content job-description" ng-if="! n.microtask.submission.testId">

        Debug of function <strong>{{n.funct.getName()}}</strong>.
    </div>
</div>


<div class="section section-description">
    <div class="section-title">
        <div class="dot bg-color"></div>
        <span ng-if="n.microtask.submission.testId!=undefined" >FUNCTION DESCRIPTION </span>
        <span ng-if="! n.microtask.submission.testId" >FUNCTION Debugged </span>
    </div>
    <div class="section-content no-padding" >
        <ace-read-js code="n.funct.getSignature()"></ace-read-js>
    </div>
</div>
<div ng-if="n.microtask.submission.testId!=undefined">
    <div class="section section-description">
        <div class="section-title" ><div class="dot bg-color"></div>test case</div>
        <div class="section-content" >
            {{n.test.getDescription()}}
        </div>
    </div>

    <div class="section section-description">
        <div  class="section-title" ><div class="dot bg-color"></div>TEST</div>
        <div class="section-content" >
            <table style="width:100%" class="test">
                <tr ng-repeat="(inputKey,input) in n.test.getSimpleTest().inputs track by $index">
                    <td>{{n.funct.getParamNameAt($index)}}</td>
                    <td>
                        <div ace-read-json ng-model="input" ></div>
                    </td>
                </tr>
                <tr >
                    <td>test output</td>
                    <td>
                        <div ace-read-json ng-model="n.test.getSimpleTest().output" ></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>

    <div class="section section-review">
        <div class="section-title" ><div class="dot bg-color"></div>Reported Issue</div>
        <div class="section-content" >
            {{n.microtask.submission.description}}
        </div>
    </div>
</div>