<div class="popover popover-news" tabindex="-1">
    <div class="arrow"></div>
    <div ng-if="! n.isReview">
        <h3 class="popover-title">Your work above for {{n.microtask.title}}</h3>
        <div class="popover-content">

            <code-mirror-readonly ng-if="n.editorCode" code="n.editorCode"></code-mirror-readonly>
            <ul ng-if="n.testcases">
                <li ng-repeat="testcase in n.testcases">{{testcase.text}}</li>
            </ul>
            <div ng-if="n.test">
                <ul ng-if="! n.test.inDispute">
                    <li ng-repeat="input in n.test.simpleTestInputs track by $index">Input: {{input}}</li>
                    <li>Output: {{n.test.simpleTestOutput}}</li>
                </ul>
                <span ng-if="n.test.inDispute">{{n.test.disputeText}}</span>
            </div>
        </div>
        <div ng-if="n.microtask.review">
            <h3 class="popover-title">Has been reviewed with score:</h3>
            <div class="popover-content">
                <span ng-repeat="currentValue in [1,2,3,4,5] track by $index"  ng-if="currentValue <= n.qualityScore" class="rating-star-news full"></span>
                <span ng-repeat="currentValue in [1,2,3,4,5] track by $index"  ng-if="currentValue <= n.qualityScore" ></span>

                <br>
                <br>
                <span> <b>{{n.reviewText}}</b>
                </span>
            </div>
        </div>
    </div>
    <div ng-if="n.isReview">
        <h3 class="popover-title">You revieved in the following way:</h3>
        <div class="popover-content">
            <span ng-repeat="currentValue in [1,2,3,4,5] track by $index"  ng-if="currentValue<=n.qualityScore" class="rating-star-news full"></span>
            <br>
            <br>
            <span> <b>{{n.reviewText}}</b>
            </span>

        </div>
        <h3 class="popover-title">For the work above:</h3>
        <div class="popover-content">
            <code-mirror-readonly ng-if="n.editorCode" code="n.editorCode"></code-mirror-readonly>
            <ul ng-if="n.testcases">
                <li ng-repeat="testcase in n.testcases">{{testcase.text}}</li>
            </ul>
            <div ng-if="n.test">
                <ul ng-if="! n.test.inDispute">
                    <li ng-repeat="input in n.test.simpleTestInputs track by $index">Input: {{input}}</li>
                    <li>Output: {{n.test.simpleTestOutput}}</li>
                </ul>
                <span ng-if="n.test.inDispute">{{n.test.disputeText}}</span>
            </div>

        </div>
    </div>
</div>