<div ng-if="review.microtask.submission.hasPseudo">
    <div class="section section-description " >
        <div class="section-content job-description" >
            Debug of the function <strong>{{ n.funct.getName() }}</strong>.
            Can you review this work?
        </div>

    </div>
    <div class="section section-review" >
        <div class="section-title" >
            <div class="dot bg-color"></div>Code of the function
        </div>
        <div class="section-content no-padding" >
            <ace-read-js code="n.funct.getFullCode()"></ace-read-js>
        </div>
    </div>
</div>

<div ng-if="! review.microtask.submission.hasPseudo">


    <div class="section section-description " >
        <div class="section-content job-description" >

            Issue of the following test case for the function <strong>{{n.funct.getName()}}</strong>.
        </div>
    </div>


    <div class="section section-description">
        <div class="section-title">
            <div class="dot bg-color"></div>
            <span >FUNCTION DESCRIPTION </span>
        </div>
        <div class="section-content no-padding" >
            <ace-read-js code="n.funct.getSignature()"></ace-read-js>
        </div>
    </div>
    <div ng-repeat="(key, test) in n.tests">
        <div class="section section-description">
            <div class="section-title" ><div class="dot bg-color"></div>test case</div>
            <div class="section-content" >
                {{test.getDescription()}}
            </div>
        </div>

        <div class="section section-description">
            <div  class="section-title" ><div class="dot bg-color"></div>TEST</div>
            <div class="section-content" >
                <table style="width:100%" class="test">
                    <tr ng-repeat="(inputKey,input) in test.getSimpleTest().inputs track by $index">
                        <td>{{n.funct.getParamNameAt($index)}}</td>
                        <td>
                            <div ace-read-json ng-model="input" ></div>
                        </td>
                    </tr>
                    <tr >
                        <td>test output</td>
                        <td>
                            <div ace-read-json ng-model="test.getSimpleTest().output" ></div>
                        </td>
                    </tr>
                </table>
            </div>
        </div>

        <div class="section section-review">
            <div class="section-title" ><div class="dot bg-color"></div>Reported Issue</div>
            <div class="section-content" >
                {{test.disputeText}}
            </div>
        </div>
    </div>
</div>