<div class="section section-description " >
    <div class="section-content job-description" >
        <div ng-if="! n.microtask.submission.inDispute">
            Detailed description for the following requested function.
        </div>

        <div ng-if="n.microtask.submission.inDispute">
            request that the following function not be implemented.
        </div>
    </div>
</div>
<div class="section section-description">
    <div class="section-title" >
        <div class="dot bg-color"></div>
        <span ng-if="! n.microtask.submission.inDispute">Requested Function</span>
        <span ng-if="n.microtask.submission.inDispute">Function description</span>

    </div>

    <div class="section-content no-padding" >
        <ace-read-js code="n.microtask.pseudoFunctionDescription"></ace-read-js>
    </div>
</div>
<div class="section section-description" ng-if="! n.microtask.submission.inDispute">
    <div class="section-title" >
        <div class="dot bg-color"></div>
        <span >Requesting function</span>
    </div>

    <div class="section-content no-padding" >
        <ace-read-js code="n.requestingFunction.getFunctionCode()"></ace-read-js>
    </div>
</div>
<div class="section section-review" ng-if="! n.microtask.submission.inDispute">
    <div class="section-title" >
        <div class="dot bg-color"></div>Detailed Function Description
    </div>
    <div class="section-content" >
        <ace-read-js code="n.functionDescription"></ace-read-js>
    </div>
</div>

<div class="section section-review" ng-if="n.microtask.submission.inDispute">
    <div class="section-title" ><div class="dot bg-color"></div>Reason for request</div>
    <div class="section-content" >
        {{n.microtask.submission.disputeFunctionText}}
    </div>
</div>
