<div class="popover popover-news task-{{ n.microtaskType | lowercase }}" tabindex="-1">
    <button type="button" class="close popover-close" ng-click="$hide()">&times;</button>
    <h3 class="popover-title"><b>Your work on: &emsp; </b> 
        <span class="microtask-title" ng-if="! n.isReview">{{n.microtask.title}} </span>
        <span class="microtask-title" ng-if="n.isReview"> review</span>
    </h3>
    <!-- MICROTASK DATA -->
    <div ng-if="n.microtask.type" ng-include="'/html/templates/popover/news_popover_' + n.microtask.type + '.html'"></div>
    <!-- REVIEW SCORE -->
    <h3 class="popover-title " ng-if="! n.isReview"><b>Score received:</b> </h3>
    <h3 class="popover-title " ng-if="n.isReview"><b>Given score:</b> </h3>
    <div  class="section section-description">
        <div class="section-content" >
            <span ng-repeat="currentValue in [1,2,3,4,5] track by $index"  class="rating-star {{ n.qualityScore >= currentValue ? 'full' : '' }}"></span>
            <span class="clearfix"></span><br />
            <span ng-if="n.reviewText"> <b>Review: </b>{{n.reviewText}}</span>
        </div>
    </div>
</div>