<div class="section section-description " >
    <div class="section-content job-description" >
        <div ng-if=" ! n.microtask.submission.inDispute">
            <div ng-if="n.microtask.promptType=='WRITE'">
                Test cases for the function <strong>{{n.funct.getName()}}</strong>
            </div>
            <div ng-if="n.microtask.promptType=='CORRECT'">
               Test cases for the function <strong>{{n.funct.getName()}}</strong>
            </div>
        </div>
        <div ng-if="n.microtask.submission.inDispute">
            Reported the function <strong>{{n.funct.getName()}}</strong>
        </div>
    </div>
</div>

<!-- FUNCTION CODE -->
<div class="section section-description">
    <div class="section-title" >
        <div class="dot bg-color"></div>
        FUNCTION DESCRIPTION:
    </div>
    <div class="section-content" >
        <ace-read-js code="n.funct.getSignature()"></ace-read-js>
    </div>
</div>
<div class="section section-review" ng-if="! n.microtask.submission.inDispute">
    <div class="section-title" >
        <div class="dot bg-color"></div>
        SUBMITTED TEST CASES:
    </div>
    <div class="section-content" >
        <ul style="list-style:none">
            <li class="" ng-repeat="testcase in n.testcases"><strong>#{{$index+1}}</strong> {{testcase.text}}</li>
        </ul>
    </div>
</div>
<div class="section section-review" ng-if="n.microtask.submission.inDispute">
    <div class="section-title" >
        <div class="dot bg-color"></div>
        Reported Issue:
    </div>
    <div class="section-content" >
        {{review.microtask.submission.disputeFunctionText}}
    </div>
</div>