<div class="section section-description " >
    <div class="section-content job-description" >
        Function providing the behavior 
        of <strong>{{n.microtask.pseudoFunctionName}}</strong> in <strong>{{n.funct.getName()}}</strong>
    </div>
</div>

<div class="section section-description-2">
    <div class="section-title" >
        <div class="dot bg-color"></div>REQUESTED BEHAVIOR
    </div>
    <div class="section-content" >
        <ace-read-js code="n.microtask.pseudoFunctionDescription"></ace-read-js>
    </div>
</div>
<div class="section section-description-2">
    <div class="section-title" >
        <div class="dot bg-color"></div>requesting function
    </div>
    <div class="section-content" >
        <ace-read-js code="n.funct.getFunctionCode()"></ace-read-js>
    </div>
</div>

<div class="section section-review">
    <div class="section-title" >
        <div class="dot bg-color"></div>Function Found
    </div>
    <div class="section-content" >
        <ace-read-js code="n.calleeFunction.getSignature()"></ace-read-js>
    </div>
</div>
