<div class="popover popover-news task-{{ n.microtaskType | lowercase }}" tabindex="-1">
    <button type="button" class="close popover-close" ng-click="$hide()">&times;</button>
 


    <!-- REVIEW MICROTASK -->
    <div ng-if="n.isReview">
    <h3 class="popover-title ">You wrote the following   &emsp;<span class="microtask-title"> review</span> </h3>
        <div ng-if="n.isReview" class="section section-description">
            <div class="section-title" >
                REVIEW SCORE:
            </div>
            <div class="section-content" >
                <span ng-repeat="currentValue in [1,2,3,4,5] track by $index"  class="rating-star {{ n.qualityScore >= currentValue ? 'full' : '' }}"></span>
                <span class="clearfix"></span><br />
                <span ng-if="n.reviewText"> <b>Review description: </b>{{n.reviewText}}</span>
            </div>
        </div>
         <h3 class="popover-title">Reviewed microtask: <b>{{n.microtask.title}}</b> </h3> 
    </div>

   <div ng-include="'/html/templates/popover/news_popover_' + n.type + '.html'"></div>

    <!-- REVIEW SCORE -->
    <div ng-if="! n.isReview && n.qualityScore" class="section section-description">
        <div class="section-title" >
            REVIEW RECEIVED:
        </div>
        <div class="section-content" >
            <span ng-repeat="currentValue in [1,2,3,4,5] track by $index"  class="rating-star {{ n.qualityScore >= currentValue ? 'full' : '' }}"></span>
            <span class="clearfix"></span><br />
        <span ng-if="n.reviewText"> <b>Review description: </b>{{n.reviewText}}</span>        </div>
    </div>

</div>
