<div class="dashboard2" ng-controller="dashboard2">
    <div ui-layout="{ flow: 'row', dividerSize: 1 }">
        <div ui-layout-container min-size="40px" size="100%">
            <div class="title">DashBoard</div>
            <div class="content">

                <span class="section-header">Project Name: </span>
                <span ng-bind="projectName"></span><br/>

                <span class="section-header">Project Description:</span><br/>
                <span ng-bind="projectDescription"></span><br/>

                <div bs-collapse start-collapsed="false" allow-multiple="true">
                    <span class="section-header">Data Types</span><br/>
                    <div ng-repeat="d in DataTypes" class="data-types" ng-init="d.selectedExample = d.examples[0]">
                        <div bs-collapse-toggle class="toggler" >{{d.name}}</div>
                        <div bs-collapse-target class="toggled" ng-init="structure = buildStructure(d)">
                            <span ng-bind="::d.description"></span>
                            <pre ng-if="d.structure" ng-bind="structure"></pre>
                            <div ng-if="d.selectedExample != undefined">
                                <span class="pull-left" for="exampleSelect">EXAMPLES:</span>
                                <span class="pull-right">
                                    <div ng-if="::d.examples" class="dropdown"  >
                                       <button name= "exampleSelect"
                                               class="btn btn-xs dropdown-toggle"
                                               bs-select
                                               bs-options="e.name for e in d.examples"
                                               data-html="1"
                                               data-placement="bottom-right"
                                               ng-model="d.selectedExample" >
                                       </button>
                                    </div>
                                </span>
                                <span class="clearfix"></span>
                                <div json-reader ng-model="d.selectedExample.value" copy-allowed></div>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <span class="section-header">Functions (you choose function to implement from the below list ):</span><br/>
                    <div ng-repeat="f in Functions" ng-show="!f.isThirdPartyAPI"  class="functions">
                        <div bs-collapse-toggle class="toggler" >{{f.name}}</div>
                        <div bs-collapse-target class="toggled">
                            <div ng-bind="f.description"></div>
                            <div><strong> Parameters </strong></div>
                            <div ng-repeat="p in f.parameters">
                                <span ng-bind="p.name"></span>
                                <span ng-bind="p.type"></span>
                            </div>
                            <div >
                                <strong>Return:</strong>
                                <span ng-bind="f.returnType"></span>
                            </div>
                        </div>
                    </div>
                    <br/>
                    <span class="section-header">3rd Party APIs (functions are already implemented, They can be called in the body of the functions you want to implement )</span><br/>
                    <div ng-repeat="f in Functions" ng-show="f.isThirdPartyAPI" class="functions">
                        <div bs-collapse-toggle class="toggler" >{{f.name}}</div>
                        <div bs-collapse-target class="toggled">
                            <div ng-bind="f.description"></div>
                            <div><strong> Parameters </strong></div>
                            <div ng-repeat="p in f.parameters">
                                <span ng-bind="p.name"></span>
                                <span ng-bind="p.type"></span>
                            </div>
                            <div >
                                <strong>Return:</strong>
                                <span ng-bind="f.returnType"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>