<div class="sections" ui-layout="{ flow: 'row', dividerSize: 2 }">
	<div class="section" ui-layout-container size="7%">
		<div class="section-content bg-color-alpha padding" style="top:0px">
			<span ng-if="data.disputeText">
				A worker reported an issue with the description of <strong ng-bind="data.funct.name"></strong>. Can you review the reported issue?
			</span>
			<span ng-if="data.disputedTests">
				A worker was asked to implement part of the function and also reported an issue with the following tests. Can you review this work?
			</span>

			<span>TIP:When you review an issue, high rate means that you agree on the issue.</span>
		</div>
	</div>

	<div class="section" ui-layout-container size="33%" >
		<div class="section-bar">
			<span class="title">Code edits</span>
		</div>
		<div class="section-content">
			<js-reader mode="diff" code="data.newCode" old-code="data.oldCode" ></js-reader>
		</div>
	</div>

	<div class="section" ui-layout-container size="{{!data.disputedTests ? 35 : 10}}%" ng-if="data.disputeText">
		<div class="section-bar">
			<span class="title">Report description</span>
		</div>
		<div class="section-content padding">
			<span ng-bind="data.disputeText"></span>
		</div>
	</div>

	<div class="section" ui-layout-container size="{{!data.disputeText ? 35 : 25}}%" ng-if="data.disputedTests">
		<div class="section-bar" ng-if="data.selected == -1">
			<span class="title">Reported Tests</span>
		</div>
		<div class="section-content slide from-left" ng-if="data.selected == -1">
			<div class="tests-list">
				<div class="test-item clickable" ng-repeat="t in data.disputedTests track by $index">
					<div ng-click="data.selected = t">
						<span >
							<span class="glyphicon glyphicon glyphicon-chevron-right"></span>
							<span ng-bind="t.description"></span>
						</span>
						<span class="clearfix"></span>
					</div>
				</div>
			</div>
		</div>
		<div class="section-bar" ng-if="data.selected != -1">
			<span class="pull-left" >
				<button class="btn btn-sm" ng-click="data.selected = -1">
					<span class="glyphicon glyphicon-arrow-left"></span>
				</button>
			</span>
		</div>
		<div class="section-content slide from-right padding"
				 ng-repeat="t in data.disputedTests track by $index"
				 ng-if="data.selected == t">
				<div ng-form="{{ 'testForm_'+$index }}" class="form form-material" ng-init="errors = {}">

					<div class="form-group">
						<label for="disputetext">Dispute reason </label>
						<div class="form-control form-control-static" name="disputetext">
							{{ t.disputeText }}
						</div>
					</div>
					<div class="form-group">
						<label for="description">Description </label>
						<div class="form-control form-control-static" name="description">
							{{t.description}}
						</div>
					</div>
					<div class="form-group">
						<label>Type</label>
						<div class="form-control form-control-static" name="description">
							{{t.isSimple ? 'simple' : 'advanced'}}
						</div>
					</div>
					<div class="form-group" ng-if="!t.isSimple">
						<label for="code">Code</label>
						<div class="form-control form-control-static" js-reader code="t.code"></div>
					</div>

					<div ng-if="t.isSimple" ng-form="inputs" >
						<div class="form-group"  ng-repeat="(pIdx,p) in funct.parameters track by p.name">
							<label for="inputs">
								{{p.name + ' {' + p.type + '}' }}
							</label>

							<div
								class="form-control code"
								json-reader
								name="{{p.name}}"
								ng-model="t.inputs[pIdx]">
							</div>
						</div>

					</div>

					<div class="form-group" ng-if="t.isSimple">
						<label for="code">Output {{ '{' + funct.returnType + '}'}}</label>
						<div
							class="form-control code"
							json-reader
							ng-model="t.output"
							name="output">
						</div>
					</div>
				</div>
		</div>
	</div>

	<div class="section" ui-layout-container size="25%" ng-include="'/client/microtasks/review/review_form.html'"></div>
</div>
