*.class

# Package Files #*.war*.ear
CrowdCoding/war/WEB-INF/appengine-generated/datastore-indexes-auto.xml

CrowdCoding/war/WEB-INF/appengine-generated/local_db.bin

CrowdCoding/war/html/.DS_Store

CrowdCoding/war/html/test.html

.DS_Store

CrowdCoding/war/include/hashmap.js

CrowdCoding/war/include/typeahead.js

CrowdCoding/.idea/.name

CrowdCoding/.idea/CrowdCoding.iml

CrowdCoding/.idea/encodings.xml

CrowdCoding/.idea/misc.xml

CrowdCoding/.idea/modules.xml

CrowdCoding/.idea/scopes/scope_settings.xml

CrowdCoding/.idea/vcs.xml

CrowdCoding/.idea/workspace.xml

CrowdCoding/war/.idea/workspace.xml

CrowdCoding/war/.idea/workspace.xml

*.jar

*.jar

CrowdCoding/war/WEB-INF/lib/datanucleus-core-1.1.5.jar

CrowdCoding/.classpath

CrowdCoding/.buildpath

CrowdCoding/.settings/org.eclipse.vjet.eclipse.core.prefs

CrowdCoding/.project

CrowdCoding/.project

CrowdCoding/.project

CrowdCoding/war/WEB-INF/.DS_Store

CrowdCoding/war/WEB-INF/lib/.DS_Store

CrowdCoding/war/WEB-INF/.DS_Store

CrowdCoding/war/WEB-INF/lib/.DS_Store
