*.class
*.war
*.ear
*.jar
CrowdCoding/war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
CrowdCoding/.settings/com.google.appengine.eclipse.core.prefs
CrowdCoding/war/WEB-INF/appengine-generated/local_db.bin
CrowdCoding/war/html/.DS_Store
.DS_Store
CrowdCoding/.idea/.name
CrowdCoding/.idea/CrowdCoding.iml
CrowdCoding/.idea/encodings.xml
CrowdCoding/.idea/misc.xml
CrowdCoding/.idea/modules.xml
CrowdCoding/.idea/scopes/scope_settings.xml
CrowdCoding/.idea/vcs.xml
CrowdCoding/.idea/workspace.xml
CrowdCoding/war/.idea/workspace.xml
CrowdCoding/war/.idea/workspace.xml
CrowdCoding/war/.idea/.name
CrowdCoding/war/.idea/encodings.xml
CrowdCoding/war/.idea/jsLibraryMappings.xml
CrowdCoding/war/.idea/misc.xml
CrowdCoding/war/.idea/modules.xml
CrowdCoding/war/.idea/war.iml
CrowdCoding/war/.idea/libraries/war_node_modules.xml
.classpath
.project
.settings
CrowdCoding/war/WEB-INF/lib/datanucleus-core-1.1.5.jar
CrowdCoding/.classpath
CrowdCoding/.buildpath
CrowdCoding/war/WEB-INF/lib.zip
CrowdCoding/war/.tmp
CrowdCoding/war/clientDist/
CrowdCoding/war/adminDist/
CrowdCoding/war/client/.tmp/
CrowdCoding/war/admin/.tmp/
CrowdCoding/war/node_modules
CrowdCoding/war/bower_components
CrowdCoding/war/statistics/