*.class
*.war
*.ear
*.jar
CrowdCoding/war/WEB-INF/appengine-generated/datastore-indexes-auto.xml
CrowdCoding/.settings/com.google.appengine.eclipse.core.prefs
CrowdCoding/war/WEB-INF/appengine-generated/local_db.bin
CrowdCoding/war/html/.DS_Store
.DS_Store
CrowdCoding/.idea/.name
CrowdCoding/.idea/CrowdCoding.iml
CrowdCoding/.idea/encodings.xml
CrowdCoding/.idea/misc.xml
CrowdCoding/.idea/modules.xml
CrowdCoding/.idea/scopes/scope_settings.xml
CrowdCoding/.idea/vcs.xml
CrowdCoding/.idea/workspace.xml
CrowdCoding/war/.idea/workspace.xml
CrowdCoding/war/.idea/workspace.xml
CrowdCoding/war/.idea/.name
CrowdCoding/war/.idea/encodings.xml
CrowdCoding/war/.idea/jsLibraryMappings.xml
CrowdCoding/war/.idea/misc.xml
CrowdCoding/war/.idea/modules.xml
CrowdCoding/war/.idea/war.iml
CrowdCoding/war/.idea/libraries/war_node_modules.xml
.classpath
.project
.settings
CrowdCoding/war/WEB-INF/lib/datanucleus-core-1.1.5.jar
CrowdCoding/.classpath
CrowdCoding/.buildpath
CrowdCoding/war/WEB-INF/lib.zip
CrowdCoding/war/.tmp
CrowdCoding/war/clientDist/
CrowdCoding/war/adminDist/
CrowdCoding/war/client/.tmp/
CrowdCoding/war/admin/.tmp/
CrowdCoding/war/node_modules
CrowdCoding/war/bower_components
CrowdCoding/war/statistics/
*.iml
CrowdCode/sessions/ceZJjQukxSQY-Z7KLp8EpMS-KyXgvuG-.json
CrowdCode/.idea/modules.xml
CrowdCode/.idea/vcs.xml
CrowdCode/.idea/jsLinters/jshint.xml
CrowdCode/sessions/nToZBXB6-316DSjzADthU977jBGA6d68.json
CrowdCode/sessions/QU2tYq7FFVn93fB6wbXKqhd-6zk3V-JM.json
CrowdCode/.idea/workspace.xml
CrowdCode/.idea/inspectionProfiles/Project_Default.xml
CrowdCode/sessions/8SVoLAtc7Q_5Zp-VDUKALpKPlRHk2YCs.json
CrowdCode/sessions/_hx7o_CnNyfKgZFUg1dGfwDwGh8OBntZ.json
CrowdCode/sessions/APE5TIGSVLjjNNuXWG9E6nlIBJmH6DTT.json
CrowdCode/sessions/doA7cLexfOZ9frrDzcGaNilBcJUqe6YG.json
CrowdCode/sessions/I-l6Rw7eYcMyabfmqAqwiJokwkG-WquO.json
CrowdCode/sessions/w4dsw43SaOY4aPQEKBFosPD6fpM4yCU4.json
CrowdCode/sessions/w4dsw43SaOY4aPQEKBFosPD6fpM4yCU4.json
CrowdCode/sessions/mKcAQWrQY9ELVfg_vA6zrQ-bPKitbIEf.json
CrowdCode/sessions/KNtj-3-tt84hVBjxD05d8rLLvcAJbyNr.json
CrowdCode/sessions/ivNb2Mb_6E9y2IwXNdMapnCU-cg5tyeP.json
CrowdCode/sessions/doA7cLexfOZ9frrDzcGaNilBcJUqe6YG.json
CrowdCode/sessions/k-WGhAmE2NC-Zd4WwS7OpqxI2EcgZpGf.json
CrowdCode/sessions/_hx7o_CnNyfKgZFUg1dGfwDwGh8OBntZ.json
CrowdCode/sessions/_hx7o_CnNyfKgZFUg1dGfwDwGh8OBntZ.json
CrowdCode/sessions/_hx7o_CnNyfKgZFUg1dGfwDwGh8OBntZ.json
CrowdCode/sessions/APE5TIGSVLjjNNuXWG9E6nlIBJmH6DTT.json
CrowdCode/sessions/KNtj-3-tt84hVBjxD05d8rLLvcAJbyNr.json
CrowdCode/sessions/mKcAQWrQY9ELVfg_vA6zrQ-bPKitbIEf.json
CrowdCode/sessions/KNtj-3-tt84hVBjxD05d8rLLvcAJbyNr.json
CrowdCode/sessions/doA7cLexfOZ9frrDzcGaNilBcJUqe6YG.json
CrowdCode/sessions/doA7cLexfOZ9frrDzcGaNilBcJUqe6YG.json
CrowdCode/sessions/doA7cLexfOZ9frrDzcGaNilBcJUqe6YG.json
CrowdCode/sessions/_hx7o_CnNyfKgZFUg1dGfwDwGh8OBntZ.json
CrowdCode/sessions/w4dsw43SaOY4aPQEKBFosPD6fpM4yCU4.json
CrowdCode/services/meysam/
CrowdCode/sessions/0YMOIyg4bQZdZ-UBA883iBrsJ3KueAjP.json
CrowdCode/sessions/2IKANdP6fLBlbIKqcW3k20wHKuyYU0cL.json
CrowdCode/sessions/7rofqpfFdafV3ToBSeeegxC8O1DrOINH.json
CrowdCode/sessions/APE5TIGSVLjjNNuXWG9E6nlIBJmH6DTT.json
CrowdCode/sessions/_hx7o_CnNyfKgZFUg1dGfwDwGh8OBntZ.json
CrowdCode/sessions/APE5TIGSVLjjNNuXWG9E6nlIBJmH6DTT.json
CrowdCode/sessions/EaQs8ECXiH1qrInagFdID6ZcrXd5P_z5.json
CrowdCode/sessions/VAXfr02t7xHrU1M3kRmw3HHJ8k-iYHhx.json
CrowdCode/sessions/XCCkYIHzRmGyHArCp1Wp27WRQsZ5tmbQ.json
CrowdCode/sessions/zyqSiclqESNPj--9DLxPmHPt5SVipOt5.json
CrowdCode/sessions/m0CS6xcQtZQS9ny9dpbI5JJtuLxqIwYS.json
