<div class="section bg-color-alpha padding" style="height:10%">
	review the described behaviors		
</div>


<div class="section" style="height:25%">
	<div class="section-bar">
		<span class="title">Function Description</span>
	</div>
	<div class="section-content">
		<js-reader code="::data.funct.getSignature()" ></js-reader>
	</div>
</div>

<div class="section" style="height:35%" ng-if="data.disputeText === undefined">
	<div class="section-bar">
		<span class="title">Described behaviors</span>
	</div>
	<div class="section-content padding">
		<div class="tests-list">
			<div class="test-item" ng-repeat="t in data.tests track by $index">
				<span>
					it 
					<span ng-bind="t.description"></span>
				</span> 
				<js-reader code="t.code"></js-reader>
			</div>
		</div>
	</div>
</div>


<div class="section" style="height:35%" ng-if="data.disputeText !== undefined">
	<div class="section-bar">
		<span class="title">Dispute description</span>
	</div>
	<div class="section-content padding">
		<span ng-bind="data.disputeText"></span>
	</div>
</div>

<div class="section" style="height:30%" ng-include="'/client/microtasks/review/review_form.html'"></div>