<div class="sections" ui-layout="{ flow: 'row', dividerSize: 2 }">
	<div class="section bg-color-alpha padding" ui-layout-container size="10%">
		<div>A worker was asked to edit the code of the function <strong>{{ funct.name }}</strong>.</div>
		<div ng-if="data.disputedTests !== undefined">
			He also disputed {{data.disputedTests.length}} test{{ data.disputedTests.length > 1 ? 's' : '' }}.
		</div>
		<span>Can you review this work?</span>
	</div>


	<div class="section" ui-layout-container size="{{ !data.disputedTests ? '65' : '35' }}%" >
		<div class="section-bar">
			<span class="title">Code edits</span>
		</div>
		<div class="section-content">
			<js-reader code="::data.funct.getFullCode()" ></js-reader>
		</div>
	</div>

	<div class="section" ui-layout-container size="30%" ng-show="data.disputedTests !== undefined">
		<div class="section-bar">
			<span class="title">Disputed Tests</span>
		</div>
		<div class="section-content padding">
			<div class="tests-list">
				<div class="test-item static" ng-repeat="t in data.disputedTests track by $index">
					<div class="row">
						<div class="col-sm-2 col-md-2 row-label">description</div>
						<div class="col-sm-10 col-md-10">it {{ t.description }}</div>
					</div>
					<div class="row">
						<div class="col-sm-2 col-md-2 row-label">Code</div>
						<div class="col-sm-10 col-md-10"><js-reader code="t.code"></js-reader></div>
					</div>
					<div class="row">
						<div class="col-sm-2 col-md-2 row-label">dispute reason</div>
						<div class="col-sm-10 col-md-10">{{t.disputeText}}</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="section" ui-layout-container size="25%" >
		<div ng-include="'/client/microtasks/review/review_form.html'" include-replace></div>
	</div>
</div>