<div class="section bg-color-alpha padding" style="height:10%">
	<div>A worker was asked to edit the code of the function <strong>{{ funct.name }}</strong>.</div>
	<span>Can you review this work?</span>
</div>


<div class="section" style="height:{{ !data.disputedTests ? '65' : '35' }}%">
	<div class="section-bar">
		<span class="title">Code edited</span>
	</div>
	<div class="section-content">
		<js-reader code="::data.funct.getFullCode()" ></js-reader>
	</div>
</div>

<div class="section" style="height:30%" ng-if="data.disputedTests !== undefined">
	<div class="section-bar">
		<span class="title">Disputed Tests</span>
	</div>
	<div class="section-content padding">
		<div class="tests-list">
			<div class="test-item" ng-repeat="t in data.disputedTests track by $index">
				<div>
					it 
					<span ng-bind="t.description"></span>
				</div> 
				<div ng-bind="t.disputeText"></div>
				<js-reader code="t.code"></js-reader>
			</div>
		</div>
	</div>
</div>

<div class="section" style="height:25%" ng-include="'/client/microtasks/review/review_form.html'"></div>