<div class="top padding">
	<h4> New question: </h4>
	
</div>
<div class="middle padding">
	
	<div class="list-group">
		<div class="list-group-item">
			<form name="questionForm" novalidate ng-submit="questionForm.$valid && postQuestion()">
				<div class="form-group">
					<label for="title">Title</label>
					<input type="text" class="form-control" name="title" ng-model="question.title" placeholder="insert title" required>
					<div ng-if="questionForm.title.$dirty" ng-messages="questionForm.title.$error" style="color:maroon" role="alert">
						<div ng-message="required">the 'title' field is required!</div>
					</div>
				</div>
				<div class="form-group">
					<label for="text">Text</label>
					<textarea name="text" class="form-control" style="resize:none;height:300px" ng-model="question.text" placeholder="insert text"></textarea>
				</div>
				<div class="form-group">
					<label for="">Tags (separate tags with comma) </label>
					<div><span ng-repeat="tag in question.tags" class="tag">{{tag}} <span ng-click="removeTag(tag)">x</span></span></div>
					
					<input name="tag" class="form-control" ng-model="newTag" placeholder="insert tag" data-min-length="1" bs-options="tag for tag in allTags" bs-typeahead press-enter="addTag()">
				</div>
				<div class="form-group">
					<label for="relatedTo">The question is linked to: </label>
					<select class="form-control" name="relatedTo" ng-model="relatedTo">
						<option value="none"> - </option>
						<option value="artifact">the current artifact</option>
						<!--<option value="microtask_type" disabled="true">the current microtask type</option>-->
					</select>
				</div>
				<div class="btn-group pull-right padding" role="group">	
					<button class="btn btn-sm btn-default" ng-click="setUiView('question_list'); questionForm.$setPristine(); setSelected(null)" >cancel</a>
					<button class="btn btn-sm btn-primary" type="submit" >Ask</button>
				</div>
			</form>
		</div>
	</div>
</div>
