<div class="top padding">
	<div class="form-group has-feedback">
		<input type="text" ng-model="search" class="form-control" placeholder="filter questions">
		<span class="glyphicon glyphicon-search form-control-feedback" aria-hidden="true"></span>
	</div>
</div>
<div class="middle">

	<div class="padding" ng-if="questions.length == 0 && search.length > 0 ">
		no questions found matching the filter <strong>{{search}}</strong> (<a href="#" ng-click="resetFilter()">reset filter</a>)
	</div>
	<div class="padding" ng-if="questions.length == 0 && search.length == 0">
		no questions yet!
	</div>
	<ul class="list-group questions-list">
		<li class="list-group-item question-item {{ isHighlighted(q) ? 'highlight' : 'not' }}" ng-click="setView('question_detail'); setSelected(q)" ng-repeat="q in questions | orderBy : 'numVotes' : 'desc' ">
			
			<span class="pull-left">
				<span>{{q.title}}</span>
				<br/>
				<time-ago style="font-style: italic; font-size: 0.8em;" from-time="{{q.time | date : 'medium'}}"></time-ago>
				<br />
				<span ng-repeat="tag in q.tags" class="tag">{{tag}}</span>
			</span> 

			<span class="pull-right" >
				{{ q.score }}
				<span class="glyphicon glyphicon-thumbs-up"></span>


				{{ q.answers | objectLength }}
				<span class="glyphicon glyphicon-comment"></span>
			</span>

			<span class="clearfix"></span>
		</li>
		<li class="list-group-item">
			<a href="#" ng-click="setView('question_form'); ">
				Ask a new question
			</a>
		</li>
	</ul>
</div>