<div class="top padding">
	<a href="#" ng-click="setView('question_list');">
		<span class="glyphicon glyphicon-arrow-left"></span>
		back
	</a>
</div>

<div class="middle padding">
	

	<ul class="list-group">

		<li class="list-group-item question-item">

			<div class="pull-left">
				<h3 class="panel-title">{{sel.title}}</h3>
				<span>{{sel.text}}</span>
				<div><span class="tag" ng-repeat="tag in sel.tags">{{tag}} </span></div>

			</div>

			<div style="font-size: 1.1em;" class="pull-right">
				<span>{{sel.score}}</span>
				<span 
					ng-click="toggleVoteUp(sel)" 
					class="glyphicon glyphicon-thumbs-up unselected" 
					ng-class="{'selected':sel.votersId.indexOf(workerId)>-1}">
				</span>
				<span 
					ng-click="toggleVoteDown(sel)" 
					class="glyphicon glyphicon-thumbs-down unselected" 
					ng-class="{'selected':sel.reportersId.indexOf(workerId)>-1}">
				</span>
			</div>

			<span class="clearfix"></span>

		</li>
	</ul>

	<strong> {{ sel.answers | objectLength }} answers: </strong>

	<ul class="list-group">

		<li class="list-group-item answer-item" ng-repeat="answer in sel.answers | orderObjectBy : 'time' : false">

			<div class="content-panel">
				<span>{{answer.text}}</span>
				<br />
				<small>
					<span time-ago from-time="{{answer.time | date : 'medium'}}"></span>
					-
					<span ng-bind="answer.ownerHandle" ></span>
				</small>
			</div>


			<div class="vote-panel">
				<span>{{answer.score}}</span>
				<span
					ng-click="toggleVoteUp(answer)"
					class="glyphicon glyphicon-thumbs-up unselected"
					ng-class="{'selected':answer.votersId.indexOf(workerId)>-1}">
				</span>
				<span
					ng-click="toggleVoteDown(answer)"
					class="glyphicon glyphicon-thumbs-down unselected"
					ng-class="{'selected':answer.reportersId.indexOf(workerId)>-1}">
				</span>
			</div>


			<span class="clearfix"></span>

			<ul class="list-group">
				<li class="list-group-item comment-item" ng-repeat="comment in answer.comments | orderObjectBy : 'time' : false">
					<div class="content-panel">
						<span>{{comment.text}}</span>
						<br />
						<small>
							<span time-ago from-time="{{comment.time | date : 'medium'}}"></span>
							-
							<span ng-bind="comment.ownerHandle" ></span>
						</small>
					</div>

					<div class="vote-panel">
						<span>{{comment.score}}</span>
						<span 
							ng-click="toggleVoteUp(comment)"
							class="glyphicon glyphicon-thumbs-up unselected"
							ng-class="{'selected':comment.votersId.indexOf(workerId)>-1}">
						</span>
						<span
							ng-click="toggleVoteDown(comment)"
							class="glyphicon glyphicon-thumbs-down unselected"
							ng-class="{'selected':comment.reportersId.indexOf(workerId)>-1}">
						</span>
					</div>

				</li>
				<li class="list-group-item comment-item">

					<small ng-hide='selectedAnswer.id==answer.id' ng-click="selectedAnswer.toggle(answer.id)" ng-class="{'selected':selectedAnswer.id==answer.id}">Add Comment</small>
				</li>
			</ul>

			<form ng-show='selectedAnswer.id==answer.id'>
				<div class="form-group">
					<textarea name="text" class="form-control" ng-model="selectedAnswer.text" placeholder="comment text"></textarea>
				</div>
				<button type="submit" ng-click="postComment() ; selectedAnswer.toggle(answer.id)" class="btn btn-xs btn-primary pull-right">Post Comment</button>
			</form>
				
			<span class="clearfix"></span>

		</li>
	</ul>

	<small ng-show="!showForm" ng-click="showForm=!showForm">Add Answer</small>
	<form ng-show="showForm">
		<div class="form-group">
			<textarea required name="text" class="form-control" ng-model="answerText" placeholder="answer text"></textarea>
		</div>
		<button type="submit" ng-click="postAnswer(); showForm=false" class="btn btn-xs btn-primary pull-right">Post Answer</button>
		<div class="clearfix"></div>
	</form>
</div>
