<form name="microtaskForm" class="form-horizontal" novalidate microtask-shortcuts>
	<div id="task" class="task" microtask >
		<ng-include class="{{ !noMicrotask ? 'task-' + (microtask.type | lowercase) : '' }}" src="templatePath"></ng-include>
	</div>
	<reminder></reminder>

	<div class="button-bar">
		<div class="btn-group pull-right" role="group">
			<button type="button"

       	 		id= "skipBtn"
       			ng-click="$emit('submitMicrotask')" 
       			tabindex="100" 
       			class="btn btn-default btn-sm"
       			ng-disabled="noMicrotask">
       			Skip
       		</button>
		  	
		  	<button type="button" 
      			id="submitBtn"
		  		ng-click="$broadcast('collectFormData', microtaskForm) " 
		  		tabindex="99" 
		  		class="btn btn-primary btn-sm"
		  		ng-disabled="noMicrotask">
		  		Submit
		  	</button>
		 
		</div>
		<span class="clearfix"></span>
	
	</div>
</form>