<span class="pull-left">
	<span class="type  bg-color">{{::microtask.title}}</span>
	<span class="reissued" ng-if="microtask.reissuedSubmission !== undefined">REISSUED</span>
	<span class="points">( {{::microtask.points}} pts )</span>
</span>
<span class="pull-right">
	<button class="btn btn-sm" ng-click="$emit('queue-tutorial', microtask.type, true); trackInteraction('Click Tutorial (Microtask Title)', 'Microtask', $event)">
		<span class="glyphicon glyphicon-question-sign"></span>
	</button>
</span>
<span class="clearfix"></span>
