<div class="modal center" tabindex="-1" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">The form is invalid!</h4>
			</div>
			<div class="modal-body">
				<div style="text-align: center"> Please, fix all the errors before submitting the microtask!</div>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-sm" ng-click="$hide()">Close</button>
			</div>	
		</div>
	</div>
</div>