<div ng-controller="NoMicrotaskController" >
	<div ng-hide="breakMode" class="alert alert-warning no-microtask" role="alert" >
		SORRY, there aren't available microtasks at the moment. <br />
		The microtask queue will be checked again in <strong> {{checkQueueIn}} seconds </strong>.
	</div>

	<h2>Workers Stats</h2>
	<div class="stats">
		<ul>
		  <li ng-repeat="leader in leaders track by $index | orderBy:'-score'" ng-if="leaders.length > 0" 
		  	  class="{{ leaders.$keyAt(leader) == workerId ? 'self' : '' }}" >
		  	
		  		<div class="position">#{{$index+1}}</div>
		  		<div class="avatar"><img ng-src="{{ avatar(leaders.$keyAt(leader)).$value }}" alt="{{ ::leader.name }}" /></div>
		  		<div class="score">{{ leader.score }} pts</div>
		  		<div class="name">{{::(leader.name) }}</div>

		  		<div class="clearfix"></div>

			
		  </li>
		</ul>
		<span ng-if="leaders.length == 0" >
			no leaders yet!
		</span>
	</div>
</div>

