<div class="form-group">
	<label for="filter" >Filter: </label>
	<input ng-model="filterText" class="form-control" name="filter"></input>
</div>
<table class="table table-hover" >
	<thead>
		<th ng-click="changeSorting('data.id')">
			Id
			<span ng-if="sort.column == 'data.id' && !sort.descending " class="glyphicon glyphicon-chevron-up"></span>
			<span ng-if="sort.column == 'data.id' && sort.descending " class="glyphicon glyphicon-chevron-down"></span>
		</th>		
		<th ng-click="changeSorting('spawnedAt')">
			SpawnedAt 
			<span ng-if="sort.column == 'spawnedAt' && !sort.descending " class="glyphicon glyphicon-chevron-up"></span>
			<span ng-if="sort.column == 'spawnedAt' && sort.descending " class="glyphicon glyphicon-chevron-down"></span>
		</th>
		<th ng-click="changeSorting('data.type')">
			Type
			<span ng-if="sort.column == 'data.type' && !sort.descending " class="glyphicon glyphicon-chevron-up"></span>
			<span ng-if="sort.column == 'data.type' && sort.descending " class="glyphicon glyphicon-chevron-down"></span>
		</th>
		<th ng-click="changeSorting('data.owningArtifact')">
			Artifact
			<span ng-if="sort.column == 'data.owningArtifact' && !sort.descending " class="glyphicon glyphicon-chevron-up"></span>
			<span ng-if="sort.column == 'data.owningArtifact' && sort.descending " class="glyphicon glyphicon-chevron-down"></span>
		</th>
		
		<th ng-click="changeSorting('status')">
			Status
			<span ng-if="sort.column == 'status' && !sort.descending " class="glyphicon glyphicon-chevron-up"></span>
			<span ng-if="sort.column == 'status' && sort.descending " class="glyphicon glyphicon-chevron-down"></span>
		</th>
	</thead>
	
	<tbody>
		<tr ng-repeat="(key,mtask) in filter ? filterMicrotasks : microtasks | orderBy:sort.column:sort.descending" ui-sref=" microtasksDetail({ microtaskKey: mtask.$id }) ">

			<td>
				<a id="{{mtask.$id}}"></a>
				<span ng-bind="mtask.$id"></span>
			</td>
			<td><span ng-bind="mtask.spawnedAt | date : 'medium' "></span></td>
			<td><span ng-bind="mtask.data.type"></span></td>
			<td><span ng-bind="mtask.data.owningArtifact"></span></td>
			<td><span ng-bind="mtask.status"></span></td>
		</tr>
	</tbody>
</table>
