
<tr >
	<td><span ng-bind="mtask.id"></span></td>
	<td><span ng-bind="mtask.type"></span></td>
	<td><span ng-bind="mtask.owningArtifact"></span></td>
	<td><span ng-bind="status"></span></td>

	<td ng-if="spawnedAt > 0 " ><span ng-bind="spawnedAt   | date: 'mediumTime'"></span></td>
	<td ng-if="spawnedAt == 0 "><span> - </span></td>

	<td ng-if="assignedAt > 0 " ><span ng-bind="assignedAt  | date: 'mediumTime'"></span></td>
	<td ng-if="assignedAt == 0 "><span> - </span></td>

	<td ng-if="completedAt > 0 " ><span ng-bind="completedAt | date: 'mediumTime'"></span></td>
	<td ng-if="completedAt == 0 "><span> - </span></td>

	<td ng-if="completedIn > 0 " ><span ng-bind="completedIn | date: 'ss'"></span></td>
	<td ng-if="completedIn == 0 "><span> - </span></td>
</tr>