<label>Title</label>
<p ng-switch="data.promptType">
    <span ng-switch-when="WRITE"> You were asked to implement part of the function and/or write a test for function <strong ng-bind="funct.name"></strong> </span>
    <span ng-switch-when="CORRECT">You were asked to fix an issue that was reported for the function <strong ng-bind="funct.name"></strong>. correct implementation and/or test(s)</span>
    <span ng-switch-when="FUNCTION_CHANGED'">fix test(s)</span>
</p>


<label>Description</label>
<p ng-switch="data.promptType">
    <span ng-switch-when="WRITE">
        Write implementation and/or test(s) for the function <strong>{{data.functionName}}</strong>.
    </span>
    <span ng-switch-when="CORRECT">
        Correct implementation and/or a test for the function <strong>{{data.functionName}}</strong>
    </span>
    <span ng-switch-when="FUNCTION_CHANGED'">
        Fix the test for the function <strong>{{data.functionName}}</strong> after a change of signature.
    </span>
</span>
</p>

<label>Code edits</label>
<p>
    <js-reader mode="diff" code="data.newCode" old-code="data.oldCode" ></js-reader>
</p>

<label ng-if="data.tests.length > 0">Submitted tests</label>
<p ng-if="data.tests.length > 0">
    <div class="tests-list" bs-collapse ng-model="data.openedTests" data-allow-multiple="true">
        <div ng-repeat="t in data.tests">
            <div class="test-item clickable" bs-collapse-toggle>


                <strong>{{t.description}}</strong>

                <small class="pull-right" ng-if="t.edited">
                    edited
                    <span class="glyphicon glyphicon-pencil"  ></span>
                </small>
                <small class="pull-right" ng-if="t.added">
                    added
                    <span class="glyphicon glyphicon-plus"  ></span>
                </small>
                <small class="pull-right" ng-if="t.deleted">
                    removed
                    <span class="glyphicon glyphicon-remove"  ></span>
                </small>
                <span class="clearfix"></span>
            </div>
            <div bs-collapse-target style="padding:5px;">
                <div ng-if="t.isSimple">
                    <div class="form-group"  ng-repeat="(pIdx,p) in data.functionParameters track by p.name">
                        <label for="inputs">
                            Input: {{p.name + ' {' + p.type + '}' }}
                        </label>

                        <div
                            class="form-control code"
                            json-reader
                            name="{{p.name}}"
                            ng-model="t.inputs[pIdx]">
                        </div>
                    </div>
                    <div class="form-group" ng-if="t.isSimple">
                        <label for="code">Output {{ '{' + data.functionReturnType + '}'}}</label>
                        <div
                            class="form-control code"
                            json-reader
                            ng-model="t.output"
                            name="output">
                        </div>
                    </div>
                </div>
                <div ng-if="!t.isSimple">

                    <div class="form-group">
                        <label for="code">Code</label>
                        <div class="form-control form-control-static" js-reader code="t.code"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <strong ng-if="data.isComplete">the test suite is marked as complete</strong>
</p>
