<div class="top padding">
    <a href="#" class="pull-left" ng-click="updateView(); setUiView('list');">
      <span class="glyphicon glyphicon-arrow-left"></span>
      back
    </a>
    <a href="#" class="pull-right" ng-click="toggleClosed(sel)" ng-if="sel.answersCount != null && sel.answersCount > 0">
        {{ sel.closed ? 'Reopen for discussion' : 'Mark as closed' }}
    </a>
    <span class="clearfix"></span>
</div>
<div class="middle padding">
    <span class="clearfix"></span>
    <div class="task-{{ selectedNews.microtaskType | lowercase }}">
        <h3 class="popover-title"><b>Your work on: &emsp; </b>
        <span class="microtask-title" ng-if="! selectedNews.isReview">{{selectedNews.microtask.title}} 
        </span>
        <span class="microtask-title" ng-if="selectedNews.isReview"> review</span>
        </h3>
        <!-- MICROTASK DATA -->
        <div ng-if="selectedNews.microtask.type" ng-include="'/client/newsfeed/news_detail_' + selectedNews.microtask.type + '.html'"></div>
        <!-- REVIEW SCORE -->
        <div ng-if="selectedNews.qualityScore">
            <h3 class="popover-title " ng-if="! selectedNews.isReview"><b>Score received:</b> </h3>
            <h3 class="popover-title " ng-if="selectedNews.isReview"><b>Given score:</b> </h3>
            <div  class="section section-description">
                <div class="section-content" >
                    <span ng-repeat="currentValue in [1,2,3,4,5] track by $index"  class="rating-star {{ selectedNews.qualityScore >= currentValue ? 'full' : '' }}"></span>
                    <span class="clearfix"></span><br />
                    <span ng-if="selectedNews.reviewText"> <b>Review: </b>{{selectedNews.reviewText}}</span>
                </div>
            </div>
        </div>
        <a href="#" class="pull-right" ng-init="show=false" ng-show="!show && selectedNews.canBeChallenged" ng-click="show=true">challenge this review</a>
        <span class="clearfix"></span>
        <form name="challengeForm" novalidate ng-show="show" ng-submit="challengeForm.$valid && challengeReview()">
            <div class="form-group">
                <textarea required name="text" class="form-control" ng-model="challengeText" placeholder="Challenge text"></textarea>
            </div>
            <span class="btn-group pull-right">
                <button type="button" class="btn btn-xs btn-default" ng-click="show = false">Cancel</button>
                <button type="submit" class="btn btn-xs btn-primary">Challenge</button>
            </span>
                
            <div class="clearfix"></div>
        </form>
    </div>
</div>