<div class="section section-description " >
    <div class="section-content job-description" >
        <div ng-if="! selectedNews.microtask.submission.inDispute">
            <div ng-if="selectedNews.microtask.promptType=='WRITE'">
                Implementation of the following test case for
                the function <strong>{{selectedNews.funct.getName()}}</strong>.
            </div>

            <div ng-if="selectedNews.microtask.promptType=='CORRECT'">
                Revision of the following test for the function
                <strong>{{selectedNews.funct.getName()}}</strong>  to address the following issue.
            </div>

            <div ng-if="selectedNews.microtask.promptType=='TESTCASE_CHANGED'">
                Revision test for the function
                <strong>{{selectedNews.funct.getName()}}</strong> based on a change to the description of the test case.
            </div>

            <div ng-if="selectedNews.microtask.promptType=='FUNCTION_CHANGED'">
                Revision of the following test for the function
                <strong>{{selectedNews.funct.getName()}}</strong>
                based on the new function signature.
            </div>
        </div>

        <div ng-if="selectedNews.microtask.submission.inDispute">
            <div ng-if="selectedNews.microtask.submission.disputeFunctionText!=''" >
                Reported issue with the function
                <strong>{{selectedNews.funct.getName()}}</strong>.
            </div>

            <div ng-if="selectedNews.microtask.submission.disputeTestText!=''" >
                Reported issue with the following test case for the function
                <strong>{{selectedNews.funct.getName()}}</strong>.
            </div>
        </div>
    </div>
</div>


<div class="section section-description">
    <div class="section-title">
        <div class="dot bg-color"></div>
        <span ng-if="selectedNews.submission.disputeFunctionText!=''">
            REPORTED FUNCTION DESCRIPTION
        </span>
        <span ng-if="selectedNews.submission.disputeFunctionText==''">
            FUNCTION DESCRIPTION
        </span>
    </div>
    <div class="section-content no-padding" >
        <ace-read-js code="selectedNews.funct.getSignature()"></ace-read-js>
    </div>
</div>


<div class="section section-description" ng-if="selectedNews.microtask.submission.disputeFunctionText==''">
    <div class="section-title" ><div class="dot bg-color"></div>Test case</div>
    <div class="section-content" >
        <span ng-if="selectedNews.microtask.promptType!='TESTCASE_CHANGED' || selectedNews.microtask.submission.inDispute">
            {{selectedNews.microtask.owningArtifact}}
        </span>

        <span ng-if="selectedNews.microtask.promptType=='TESTCASE_CHANGED' && ! selectedNews.microtask.submission.inDispute">
            <strong>Old description: </strong><span ng-bind="selectedNews.microtask.oldTestCase"></span><br />
            <strong>New description: </strong><span ng-bind="selectedNews.microtask.owningArtifact"></span>
        </span>
    </div>
</div>
 

<div ng-if="selectedNews.microtask.submission.inDispute" class="section section-review">
    <div class="section-title" ><div class="dot bg-color"></div>Reported Issue</div>
    <div class="section-content" >
        {{selectedNews.microtask.submission.disputeTestText}}
        {{selectedNews.microtask.submission.disputeFunctionText}}
    </div>
</div>

<div ng-if="! selectedNews.microtask.submission.inDispute" >

    <div class="section section-review">
        <div  class="section-title" ><div class="dot bg-color"></div>submitted TEST</div>
        <div class="section-content" >
            <table style="width:100%" class="test">
                <tr ng-repeat="(inputKey,input) in selectedNews.microtask.submission.simpleTestInputs track by $index">
                    <td>{{selectedNews.funct.getParamNameAt($index)}}</td>
                    <td>
                        <div ace-read-json ng-model="input" ></div>
                    </td>
                </tr>
                <tr>
                    <td>test output</td>
                    <td>
                        <div ace-read-json ng-model="selectedNews.microtask.submission.simpleTestOutput" ></div>
                    </td>
                </tr>
            </table>
        </div>
    </div>
</div>