<div class="padding">
		<div class="padding" ng-if="news.length == 0"> No news yet! </div>
	</div>
	<ul class="list-group" ng-if="news.length > 0">
		<li class="list-group-item news-element {{ n.microtaskType | lowercase }}"
			ng-repeat="n in news | orderBy:'-timeInMillis'"
			ng-click="setSelected(n)" 
			>
			<div class="type">{{::n.microtaskType}}</div>
			<div class="result" ng-if="::(n.score != -1)">
				<!--<span ng-if="::(n.score < 3)" class="rejected" >REJECTED</span>-->
				<span ng-if="::(n.score <= 3)" class="reissued">REISSUED</span>
				<span ng-if="::(n.score > 3)" class="accepted">ACCEPTED</span>
			</div>
			<span class="points">{{::n.awardedPoints}}/<small>{{::n.maxPoints}}</small> pts</span>
			<div class="clearfix"></div>
		</li>
	</ul>
