<div id="chatPanel" class="chat">

	<div class="output" scroll-glue>
		<ul class="messages">
			<li ng-repeat="m in messages">
	      		<div class="avatar"><img ng-src="{{ avatar(m.workerId).$value }}"  alt="" /></div>
	      		<div class="message">
	      			<span class="nickname">{{ m.workerHandle }}</span><br />
	      			<span class="text" ng-bind-html="m.text"></span>
	      		</div>
	      		<small class="timestamp pull-right" time-ago from-time="{{m.createdAt | date : 'medium'}}"></small>
	      		<div class="clearfix"></div>
	      	</li>
		</ul>
	</div>

	<div class="input">
		<textarea ng-model="data.newMessage" placeholder="Enter a chat message" ng-model-option="{ updateOn: 'blur'}"class="input-sm" press-enter="addMessage()" ></textarea>
	</div>
	
</div>