<div class="popover">
  <div class="arrow"></div>
  <div class="popover-title">
    Send feedback
  </div>
  <div class="popover-content">
    
    <ng-form name="feedbackForm" ng-hide="sent">
        <span ng-class="{'has-success': feedbackForm.feedbackText.$valid}">
            <textarea type="text"
            class="col-md-8 form-control input-sm" draggable="false" name="feedbackText"
            placeholder="Give us feedback on CrowdCode! What do you like? What don't you like?" ng-model="feedbackText" required></textarea>
        </span>
    </ng-form>

    <button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
    <button type="button" class="btn btn-primary" 
        ng-click="$emit('sendFeedback',[feedbackText]) ; $hide()" 
        ng-disabled="feedbackForm.$invalid">Send</button>
  </div>
</div>
