<div bs-collapse start-collapsed="false" allow-multiple="true">
	<div ng-repeat="d in dataTypes" class="data-types">
		<div bs-collapse-toggle class="toggler" >DT: {{d.name}}</div>
		<div bs-collapse-target class="toggled">
			<span ng-bind="::d.description"></span>
			<pre ng-if="d.structure" ng-bind="::buildStructure(d)"></pre>
			<div ng-if="::d.examples" class="dropdown" ng-init="selectedExample=d.examples[0]" >
               <h5 class="pull-left" for="exampleSelect">EXAMPLES:</h5>
               <button name= "exampleSelect" 
                       class="btn btn-default btn-xs pull-right dropdown-toggle"
                       bs-select  
                       ng-model="selectedExample" 
                       data-html="1" 
                       data-placement="bottom-right"
                       bs-options="example.name for example in d.examples" >
               </button>
               <span class="clearfix"></span>
               <div json-reader ng-model="::selectedExample.value" class="clearfix adt-detail" copy-allowed></div>
           </div>
		</div>
	</div>
	<div ng-repeat="f in functions" class="functions">
		<div bs-collapse-toggle class="toggler" >API: {{f.name}}</div>
		<div bs-collapse-target class="toggled">
			<div ng-bind="f.description"></div>
			<div><strong> Parameters </strong></div>
			<div ng-repeat="p in f.parameters">
				<span ng-bind="p.name"></span>
				<span ng-bind="p.type"></span>
			</div>
			<div >
				<strong>Return:</strong>
				<span ng-bind="f.returnType"></span>
			</div>
		</div>
	</div>
</div>