/*

#3F81AC - blue - header, primary buttons

#ECECEC - lightgray - background of the microtask container

#E0E0E0 - lightgray - background of the sidebar
#969696 - medium gray - headers of the sidebar, scores,

*/


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input.ng-dirty.ng-valid, select.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid{
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(60, 118, 61,.6);
}

input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid{
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169, 68, 66,.6);

}
.popover-news{
	max-width: 700px !important;
	width: 500px !important;
	margin-top: -35px;
	max-height: 400px;
	overflow-y:auto;
	border-radius: 0px;
	margin-left: 7px;

}

.popover-close{ font-size: 2em;
padding: 7px !important; }

/*
rgba(17,112,190,1) Wode - blue - writefunction
rgba(252,223,63,1) Aerial yellow - yellow - writetestcases
rgba(23,163,125,1) Celadon - green - writetest
rgba(186,105,66,1) Heliotrope - brown - writefunctiondescription
rgba(195,35,58,1)  Kermes - magenta - reusesearch
rgba(131,90,161,1) Atmosphere - purple - writecall
rgb(186,156,59,1)  Chimayo - brown - debugtestfailure
rgba(237,90,48,1)  Valencia - orange - review

*/

.microtask-title{
	color: white; text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-top: 2px;}

.task-writefunction .microtask-title    { background-color: rgba(17,112,190,1);}
.task-writetestcases .microtask-title          { background-color: rgba(252,223,63,1);}
.task-writetest .microtask-title              { background-color: rgba(23,163,125,1);}
.task-writefunctiondescription .microtask-title{ background-color: rgba(186,105,66,1);}
.task-reusesearch .microtask-title              { background-color: rgba(195,35,58,1);}
.task-writecall .microtask-title             { background-color: rgba(131,90,161,1);}
.task-debugtestfailure .microtask-title       { background-color: rgba(186,156,59,1);}
.task-review .microtask-title         { background-color: rgba(237,90,48,1);}




.submit-alert {
	 position:relative !important;
	 margin-top: 0px !important;
	 margin-bottom: 10px !important;
}


/* UTILS */
.no-padding { padding:0px !important; }

.reset-padding { padding:0px !important; margin:0px !important; }

.fullwidth  { width:100%; }
.fullheight { height:100%; }

.container-flex-row, .container-flex-column {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}
.container-flex-row {
	flex-direction: row;
	align-items: stretch;
	height:100%;
	width:100%; !important
}

.container-flex-column {
	align-items: stretch;
	flex-direction: column;
}

.pull-top-right {
	position:absolute;
	right: 181px;
	top: 20px;
}

/* --------- BOOTSTRAP OVERWRITE ---------  */
.dropdown-menu > li > a {
	padding:5px;
	font-size:0.8em;
}

@grid-float-breakpoint {  }
.btn:focus {outline:none;}
.btn { font-family: 'Lato' !important;font-style: normal; font-weight: 400;}
.btn:hover, .btn:focus { background-color: rgb(163, 163, 163); }


.btn-primary { border:none; background-color:#3F81AC; }
.btn-primary:hover, .btn-primary:focus{ background-color:#7491A1; }

.form-group,.form-horizontal .form-group { margin:0px ; padding:0px; }

.input-sm {
	font-family: 'Merriweather' !important;
	font-style: normal;
	font-weight: 400;
}


.glyphicon { font-size:1em; }


.navbar { min-height:35px;   }
.navbar .navbar-brand { padding: 0 12px;font-size: 16px;line-height: 35px;height: 35px; }
.navbar .navbar-brand:hover { color:white; }
.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 35px; }
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }

.navbar {
	font-family: 'Lato' !important;
	background-color:#555;
}
.navbar .navbar-brand { color:white; }
.navbar .navbar-nav > li > a { color:white; background-color:transparent; }
.navbar .navbar-nav > li > a:visited { color:white; }
.navbar .navbar-nav > li > a:hover{ color:white; opacity:0.8; }
.navbar img { width:25px; }

.list-group { margin: 0px;}
.control-label { padding-right:10px !important; }

/* --------- CODEMIRROR OVERWRITE ---------  */
.CodeMirror { border: none; font-size: 1.1em;}

/* --------- ACE JSON OVERWRITE ---------  */
.json-editor .ace_scroller,
.json-reader .ace_scroller {
	left:17px !important;
}

.json-editor .ace_folding-enabled > .ace_gutter-cell {
	padding:0px;
	color:transparent;
}

.json-editor .ace_gutter-layer  {
	width:20px !important;
}


.json-reader.ace-editor {
	background-color:transparent !important;
}



/* GENERAL STYLES AND LAYOUT */


body, html { height: 100%; }
body {
	font-family: 'Merriweather' !important;
	font-style: normal;
	font-weight: 400;
	font-size: 12px ;
}

h1, h2, h3, h4 {
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 800;
}


.main-wrapper {
	width:100%;
	position:absolute;
    top:35px;
    left:0px;
    right:0px;
    bottom:0px;
}



#sidebarLeft { width:20%; height:100%; background-color: #EEEEEE; padding-top:10px; position: relative;}

#content {
	width:80%;
    padding:0px;
    margin:0px;
    height:100%;
    position:relative;
	background-color: #FFFFFF;
}


.task {
	position:absolute;
	bottom:40px;
	top:0px;
	width:100%;
	padding:10px;
	padding-top:7px;
    overflow-x:hidden;
    overflow-y:auto;
}
.button-bar {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
	background-color: #AFAFAF;
	position: absolute;
	width: 100%;
	bottom: 0px;
	z-index:10;
}

.task-container {	/*height:100%;*/}
.task-container > div { flex-shrink: 0; }




.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}


/* SIDEBAR BUTTONS */
.sidebar .sidebar-buttons{
	position: absolute;
	width:100%;
	width: 100%;
	height: 100%;
	bottom: 0px;
	height: 50px;
}

.sidebar-buttons button {
	color: #969696;
	border:0px;
	cursor:pointer;
	background-color:transparent;
	margin-bottom: 2px;
	padding-left: 10px;
	text-align:left;
	text-transform: uppercase;
	font-size: 0.9em;
	width:100%;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 800;
}

/* SIDEBAR PANELS */
.sidebar .sidebar-panels{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 50px;
	top: 0px;
}

.sidebar .toggler {
	cursor: pointer;
	color: #969696;
	margin-bottom: 2px;
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 0.9em;
	margin-top:10px;
}
.sidebar .element {
	border-bottom:1px solid #D0D0D0;
	height:0px;
	overflow:hidden;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}
.sidebar .element:last-child{border:0px;}
.sidebar .element-body {
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

.sidebar .scrollable{
	overflow-y: auto;
    height: 100%;
}
/* SIDEBAR LIST */
.sidebar-list { list-style:none; padding:0px; margin:0px; }
.sidebar-list li { display:block; width:100%; height:35px; background-color:#ECECEC; margin-bottom:3px; padding:2px; width:100%;}
.sidebar-list li:hover { background: #EFEFEF; cursor:pointer;}
.sidebar-list .left { float:left; width:80%; overflow:hidden;}
.sidebar-list .right {
	float:right; width:20%;
	color: #999;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 800;
	font-size: 0.875em;
}

/* SIDEBAR NEWS PANEL */
.news-list li:hover { background-color:#E0E0E0 !important; }
.news-element .accepted { color: #5cb85c; font-weight: bold;}
.news-element .reissued { color: #f0ad4e; font-weight: bold;}
.news-element .rejected { color: #555; font-weight: bold;}



/*
rgba(17,112,190,1) Wode - blue - writefunction
rgba(252,223,63,1) Aerial yellow - yellow - writetestcases
rgba(23,163,125,1) Celadon - green - writetest
rgba(186,105,66,1) Heliotrope - brown - writefunctiondescription
rgba(195,35,58,1)  Kermes - magenta - reusesearch
rgba(131,90,161,1) Atmosphere - purple - writecall
rgb(186,156,59,1)  Chimayo - brown - debugtestfailure
rgba(237,90,48,1)  Valencia - orange - review

*/
.news-element.writefunction            { border-left: 5px solid rgba(17,112,190,1);}
.news-element.writetestcases           { border-left: 5px solid rgba(252,223,63,1);}
.news-element.writetest                { border-left: 5px solid rgba(23,163,125,1);}
.news-element.writefunctiondescription { border-left: 5px solid rgba(186,105,66,1);}
.news-element.reusesearch              { border-left: 5px solid rgba(195,35,58,1);}
.news-element.writecall                { border-left: 5px solid rgba(131,90,161,1);}
.news-element.debugtestfailure         { border-left: 5px solid rgba(186,156,59,1);}
.news-element.review                   { border-left: 5px solid rgba(237,90,48,1);}

/* SIDEBAR LEADERBOARD PANEL */
.user-list .avatar img { width:20px;}
.user-list .avatar { float:left; margin-right:5px;}
.user-list .name   { float:left; }

.modal.center .modal-dialog{
    position:absolute !important;
    top:40%;left:50%;
    min-width:320px;
    max-width:630px;
    width:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
} 

/* CHAT */

.btn-chat-toggle, .btn-chat-toggle:focus{ background-color:transparent; cursor:pointer; }
.btn-chat-toggle.opened { background-color:gray;}


.chat {
	position:absolute;
	right:5px;
	bottom:45px;
	width:300px;
	background-color:white;
	opacity:0;
	border: 1px solid #969696;

	height:0;
	overflow:hidden;
/*
	-webkit-transform: scale(0);
	-moz-transform:    scale(0);
	-ms-transform:     scale(0);
	-o-transform:      scale(0);
*/
	-webkit-transition: height .35s, opacity .4s;
	-moz-transition:    height    .35s, opacity .4s;
	-ms-transition:     height     .35s, opacity .4s;
	-o-transition:      height     .35s, opacity .4s;
}
.chat.active {
	opacity:1;
	z-index:999;
	height:auto;
/*
	-webkit-transform: scale(1) ;
	-moz-transform:    scale(1) ;
	-ms-transform:     scale(1) ;
	-o-transform:      scale(1) ;
*/
}
.chat .header {
	padding:5px;
	background-color:#555;
	color:white;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 800;
}
.chat .input { width:100%;}
.chat .input textarea {
	width:100%;
	background-color:#ECECEC;
	border-radius:0px;
	border:none;
	border-top:1px solid gray;
	resize:none;display: block;
}
.chat .input textarea:focus { outline:none;}
.chat .btn-close { cursor:pointer; }

.chat .output-wrapper {
	min-height:300px;
	height:300px;
	width:100%;

	padding-bottom:10px;
	overflow-y:auto;
	overflow-x:none;
}
.chat .output {
	margin:0px;
	padding:0px;
}

.chat .output li {
	margin-top:2px;
	background-color:white;
	display:block;
	padding:2px;
}

.chat .avatar { float:left; padding-top:2px;}
.chat .avatar img { width:30px; }

.chat .message{ float:left; width:240px;margin-left:5px; word-wrap: break-word;}
.chat .message .nickname { font-weight:bold; font-size:0.9em;}
.chat .message .text{ font-style:italic; margin:0px; }
.chat .message .time { font-weight:bold; font-size:0.7em; text-align: right}

.alert-chat{
	background-color:rgba(255, 255, 255, 0.80);
	width: 310px;
	padding: 3px;
	border-radius: 0px;
	margin-bottom: 40px ! important;
}
.alert-chat .avatar { float:left; padding-top:2px;}
.alert-chat .avatar img { width:30px; }

.alert-chat .message{ float:left; width:240px;margin-left:5px; word-wrap: break-word;}
.alert-chat .message .nickname { font-weight:bold; font-size:0.9em;}
.alert-chat .message .text{ font-style:italic; margin:0px; text-align: right;}
.alert-chat .output {
	margin:0px;
	padding:0px;
}

.alert-chat .output{
	margin-top:2px;
	background-color:rgba(255, 255, 255, 0.42);
	display:block;
	padding:2px;
}


.unreded-messages{
background-color: #dc0d17;
background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
color: #fff;
min-height: 13px;
padding: 1px 3px;
text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
position: absolute;
right: -1px;
top: 0;
}

.chat-icon{
	._1z4y a.jewelButton {
	background-image: url(http://fbstatic-a.akamaihd.net/rsrc.php/v2/yg/r/XYoTa_7lVnN.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -481px;
	}
}

/* ADT PANEL */

.toggler-adt {
	cursor: pointer;
	color: #575757;
	margin-top: 10px;
	margin-bottom: 2px;
	/*text-transform: uppercase;*/
	font-size: 1em;
}
.toggler-adt.active {color:black;}
.element-adt {
	border-bottom:1px solid #D0D0D0;
	height:0px;
	overflow:hidden;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}

.element-adt.active {height:auto;}
.element-adt:last-child{border:0px;}
.element-body-adt {
}


/** COLLAPSABLE LIST **/
ul.collapsable-list { margin:0px; padding:0px; list-style:none; }
ul.collapsable-list .toggler {
	cursor: pointer;
	color: #575757;
	font-size: 1em;
	padding: 3px;
}
ul.collapsable-list .toggler span.closed { display:inline; }
ul.collapsable-list .toggler span.open   { display:none; }
ul.collapsable-list .toggler.active {  }
ul.collapsable-list .toggler.active span.closed { display:none; }
ul.collapsable-list .toggler.active span.open   { display:inline; }

ul.collapsable-list .element {
	/*height:0px;*/
	overflow:hidden;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}

ul.collapsable-list .element-body { padding: 5px; }

table.test { width: 100%;}
table.test td { vertical-align: top; }
table.test td:first-child { width:20%; text-align: right; padding-right:5px; }

table.test.spacing td { padding-bottom:5px;}




.test-collapsable-list .toggler .success { font-family: 'Lato' !important; font-weight: bold; color:green;}
.test-collapsable-list .toggler .failed  { font-family: 'Lato' !important; font-weight: bold; color:red;}
.test-collapsable-list .toggler  { background-color: #ECECEC; color:black !important; /*border-bottom: 2px solid #4F5457;*/}


.test-collapsable-list .element {
	color:black;
}
.test-collapsable-list table { width: 100%;}
.test-collapsable-list table td:first-child { width:20%; text-align: left; padding-left:5px; font-weight:700;}

.mock-collapsable-list table { width: 100%;}
.mock-collapsable-list table td:first-child { width:20%; text-align: left; }

/*table.debugTests tr.passed { background-color:green;}
table.debugTests tr.failed { background-color:red;}
*/

span.rating-star-fixed {
	 background-image: url('/img/stars.png');
	 background-position: 0px 0px;

	 width:25px;
	 height:25px;
	 display:block;
}

span.rating-star {
	 background-image: url('/img/stars.png');
	 background-position: 25px 0px;

	 width:25px;
	 height:25px;
	 display:block;
	 float:left;
}

span.rating-star-news {
	 background-image: url('/img/stars.png');
	 background-position: 25px 0px;

	 width:25px;
	 height:25px;
	 display:block;
	 float:left;
}
span.rating-star-news.full {
	 background-position: 0px 0px;
}


span.rating-star.full {
	 background-position: 0px 0px;
}

.rating-separator { float:left; content:'s'; width:1px; height:25px; background-color: black;}


/* Search results styles in reuseSearch */
.list-element.result:hover {background:#dff0d8; cursor:pointer;}
.list-element.result { padding:5px; border-bottom: 1px solid rgba(128, 128, 128, 0.32);}
.list-element.result.selected { background:rgb(229, 199, 179); color:black;}

/* Styles for text diffs produced by PrettyTextDiff (e.g., as in WriteFunction) */
ins {  background-color: #c6ffc6;  text-decoration: none; }
del {  background-color: #ffc6c6; }

/* ------ FLEXBOX ORDERS -------- */

.column-resizer {
	cursor:col-resize;
	width:3px;
}

.row-resizer {
	cursor:row-resize;
	height:3px;
	width:100%;
}

.row-resizer, .column-resizer {
	background-color: #E0E0E0;
}

.order-1 {
  -webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
  -ms-flex-order: 1;              /* TWEENER - IE 10 */
  -webkit-order: 1;               /* NEW - Chrome */
  order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-2 {
  -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.2-6 */
  -moz-box-ordinal-group: 2;      /* OLD - Firefox 29- */
  -ms-flex-order: 2;              /* TWEENER - IE 20 */
  -webkit-order: 2;               /* NEW - Chrome */
  order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-3 {
  -webkit-box-ordinal-group: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 3;      /* OLD - Firefox 19- */
  -ms-flex-order: 3;              /* TWEENER - IE 10 */
  -webkit-order: 3;               /* NEW - Chrome */
  order: 3;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-4 {
  -webkit-box-ordinal-group: 4;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 4;      /* OLD - Firefox 19- */
  -ms-flex-order: 4;              /* TWEENER - IE 10 */
  -webkit-order: 4;               /* NEW - Chrome */
  order: 4;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* Style for highlighted lines in CodeMirror */

.pseudoCall { background-color: rgba(122, 61, 61, 0.7);     color: white !important; }
.pseudoCode { background-color: rgba(74, 119, 69, 0.7); color: white !important; }

.highlightPseudoCall { background-color: rgb(189, 94, 144,0.7); }



.loading {
	position: absolute;
	margin-right:50%;
	margin-left:50%;
	width: 200px;
	height: 200px;
}

tutorial  { display:none; }
tutorial-container .overlay, tutorial-container .content {
	position: absolute;
	top:0px;
	left:0px;
	width: 0;
	height: 0px;
}
tutorial-container .overlay {
	z-index: 10000;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 10000px;
	opacity:0.5;
}

tutorial-container .content {
	z-index: 10001;
	opacity: 0;
	background-color: #6095B8;
	color: black;
	border: 2px solid #3F81AC;
	border-radius: 10px;
	padding: 5px;
}

tutorial-container .button-bar {
	position:absolute;
	z-index: 10002;
	width:100%;
	height:40px;
	left:0;
	bottom:0;
	background-color:lightgray;
}

tutorial-container .circles { position: absolute;left: 50%;}
tutorial-container .circle
{
    background: transparent;
    margin:5px;
    border-radius: 100%;
    width:15px;
    height:15px;
    box-shadow: 0px 0px 2px 2px green;
    display:inline-block;
    position:relative;
}
tutorial-container .circle div {
    position:absolute;
    top:1px; left:1px;
    width:13px; height:13px;
    border-radius: 100%;
}
tutorial-container .circle div.completed { background-color:green; }

tutorial-container .title { position: absolute; left: 0; }
tutorial-container .btn-next { position: absolute; right: 0; }


.ace-editor { 
    height: 200px;
    /*width: 100%;*/
}
.ace-editor .ace_marker-layer .ace_selection {
   background: transparent;
}
.ace-editor .ace_hidden-cursors {opacity:0} 
.ace-editor-test { height: 100px; width: 100%; }

.btn-mini { font-size:0.8em; text-transform: uppercase; padding: 3px 3px; border-radius: 0px; background-color: rgba(63, 129, 172, 0.8); }

.stats { }
.stats span {  padding-left:10px;}

/* microtask types color */


/* MICROTASK CONTAINER SECTIONS */
.section {
	position:relative;
	margin-bottom:10px;
 	background-color:#EEEEEE;
 	color: #303030;
}
.section-title {
	text-align: left;
	padding:5px;
	text-transform:uppercase;
	font-size:0.8em;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 600;
	color: #3F81AC;
}
.section-content { padding:5px; }


.section.section-help { background-color:#BFC7CD; }
.section.section-help .section-title { color:#5F5F5F; }

.help-block { margin:0px; padding:0px; list-style: none; color: rgb(159, 17, 17);}


.section.section-form {  } 

.section.section-form .section-title .input-group { background-color: rgba(63, 129, 172, 0.8); padding:5px;}
.section.section-form .section-title .input-group input  { background-color:white; border-radius:0px; border: none; }
.section.section-form .section-title .input-group input::-webkit-input-placeholder {  color: gray; font-style:italic;}
.section.section-form .section-title .input-group button { border:none; font-weight: bold; border-radius:0px; background-color:transparent; }
.section.section-form .section-title .input-group button:hover,
.section.section-form .section-title .input-group button:focus
 { background-color:rgba(130, 169, 195, 1); }


.section.section-form .section-content .input-group             { cursor:pointer;}
.section.section-form .section-content .input-group input       { background-color: transparent !important; border:none; outline:none; box-shadow:none;}
.section.section-form .section-content .input-group input:focus { background-color: white !important; }
.section.section-form .section-content .input-group .btn        { background-color:transparent; }


/* MICROTASK */
.microtask-details {
	list-style: none; padding:0px; margin:0px;

	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;
}
.microtask-details li              { float:left; padding-left:20px; padding-right:20px; }
.microtask-details li:nth-child(1) { color:white; }
.microtask-details li:nth-child(3) { float:right; padding:0px; cursor:pointer; }

/* NO MORE MICROTASKS */
.no-microtask {
	text-align: center;
	color: gray;
	margin-top: 25%;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;
}



/* rgba(17,112,190,1) Wode - blue - writefunction */
.task-writefunction .microtask-details,
.task-writefunction .section-title
{ color:  rgba(17,112,190,1); }

.task-writefunction .microtask-details li:nth-child(1),
.task-writefunction .section.section-form .section-title .input-group 
{ background-color:  rgba(17,112,190,1); }

.task-writefunction .section.section-help 
{ background-color:  rgba(17,112,190,0.4); }

/* rgba(254, 195, 36,1) yellow - yellow - writetestcases */
.task-writetestcases .microtask-details,
.task-writetestcases .section-title
{ color:  rgba(254, 195, 36,1); }

.task-writetestcases .microtask-details li:nth-child(1),
.task-writetestcases .section.section-form .section-title .input-group 
{ background-color:  rgba(254, 195, 36,1); }

.task-writetestcases .section.section-help 
{ background-color:  rgba(254, 195, 36,0.4); }

.section.section-form .section-title .input-group button:hover,
.section.section-form .section-title .input-group button:focus
 { background-color:rgba(254, 230, 166, 1); }


/* rgba(23,163,125,1) Celadon - green - writetest */
.task-writetest .microtask-details,
.task-writetest .section-title
{ color:   rgba(23,163,125,1) ; }

.task-writetest .microtask-details li:nth-child(1),
.task-writetest .section.section-form .section-title .input-group 
{ background-color:   rgba(23,163,125,1) ; }

.task-writetest .section.section-help 
{ background-color:   rgba(23,163,125,0.4) ; }

/* rgba(186,105,66,1) Heliotrope - brown - writefunctiondescription */

.task-writefunctiondescription .microtask-details,
.task-writefunctiondescription .section-title
{ color:  rgba(186,105,66,1); }

.task-writefunctiondescription .microtask-details li:nth-child(1),
.task-writefunctiondescription .section.section-form .section-title .input-group 
{ background-color:  rgba(186,105,66,1); }

.task-writefunctiondescription .section.section-help 
{ background-color:  rgba(186,105,66,0.4); }

/* rgba(195,35,58,1)  Kermes - magenta - reusesearch */
.task-reusesearch .microtask-details,
.task-reusesearch .section-title
{ color:  rgba(195,35,58,1); }

.task-reusesearch .microtask-details li:nth-child(1),
.task-reusesearch .section.section-form .section-title .input-group 
{ background-color:  rgba(195,35,58,1); }

.task-reusesearch .section.section-help 
{ background-color:  rgba(195,35,58,0.4); }

/* rgba(131,90,161,1) Atmosphere - purple - writecall */
.task-writecall .microtask-details,
.task-writecall .section-title
{ color:  rgba(131,90,161,1); }

.task-writecall .microtask-details li:nth-child(1),
.task-writecall .section.section-form .section-title .input-group 
{ background-color:  rgba(131,90,161,1); }

.task-writecall .section.section-help 
{ background-color:  rgba(131,90,161,0.4); }

/* rgb(186,156,59,1)  Chimayo - brown - debugtestfailure */
.task-debugtestfailure .microtask-details,
.task-debugtestfailure .section-title
{ color:  rgba(186,156,59,1)  ; }

.task-debugtestfailure .microtask-details li:nth-child(1),
.task-debugtestfailure .section.section-form .section-title .input-group 
{ background-color:  rgba(186,156,59,1)  ; }

.task-debugtestfailure .section.section-help 
{ background-color:  rgba(186,156,59,0.4);   }

/* rgba(237,90,48,1)  Valencia - orange - review */
.task-review .microtask-details,
.task-review .section-title
{ color:  rgba(237,90,48,1) ; }

.task-review .microtask-details li:nth-child(1),
.task-review .section.section-form .section-title .input-group 
{ background-color:  rgba(237,90,48,1) ; }

.task-review .section.section-help 
{ background-color:  rgba(237,90,48,0.4) ; }


pre.jsonRead {
	padding: 5px; margin: 5px; 
	border: none;
	border-radius: 0px;
	font-size:1em;
}
.jsonRead .jsonString { color: #DF0002; }
.jsonRead .jsonNumber { color: blue; }
.jsonRead .jsonBoolean { color: purple; }
.jsonRead .jsonNull { color: black; }
.jsonRead .jsonKey { color: black; }

