po/*

#3F81AC - blue - header, primary buttons

#ECECEC - lightgray - background of the microtask container

#E0E0E0 - lightgray - background of the sidebar
#969696 - medium gray - headers of the sidebar, scores,

*/


[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none !important;
}

input.ng-dirty.ng-valid, select.ng-dirty.ng-valid, textarea.ng-dirty.ng-valid{
	border-color: #3c763d;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(60, 118, 61,.6);
}

input.ng-dirty.ng-invalid, select.ng-dirty.ng-invalid, textarea.ng-dirty.ng-invalid{
	border-color: #a94442;
	-webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	box-shadow: inset 0 1px 1px rgba(0,0,0,.075),0 0 8px rgba(169, 68, 66,.6);

}
.popover-news{
	max-width: 700px !important;
	width: 500px !important;
	margin-top: -35px;
	max-height: 400px;
	overflow-y:auto;
	border-radius: 0px;
	margin-left: 7px;

}

.popover-close{ font-size: 2em;
padding: 7px !important; }

.user-menu-popover {
	width: 300px !important;
	border-radius: 0px;
	margin-top: 0px !important;
	padding: 5px ;

}
.examples-list-popover {
	width: 140px !important;
	border-radius: 0px;
	margin-top: 0px !important;
	padding: 5px ;
	margin-left: -20px !important

}

.description-popover{
	min-width: 500px !important;
}

/*
rgba(17,112,190,1) Wode - blue - writefunction
rgba(252,223,63,1) Aerial yellow - yellow - writetestcases
rgba(23,163,125,1) Celadon - green - writetest
rgba(186,105,66,1) Heliotrope - brown - writefunctiondescription
rgba(195,35,58,1)  Kermes - magenta - reusesearch
rgba(131,90,161,1) Atmosphere - purple - writecall
rgb(186,156,59,1)  Chimayo - brown - debugtestfailure
rgba(237,90,48,1)  Valencia - orange - review

*/

.microtask-title{
	color: white; text-transform: uppercase;
	padding-left: 15px;
	padding-right: 15px;
	padding-bottom: 2px;
	padding-top: 2px;}

.task-writefunction .microtask-title    { background-color: rgba(17,112,190,1);}
.task-writetestcases .microtask-title          { background-color: rgba(252,223,63,1);}
.task-writetest .microtask-title              { background-color: rgba(23,163,125,1);}
.task-writefunctiondescription .microtask-title{ background-color: rgba(186,105,66,1);}
.task-reusesearch .microtask-title              { background-color: rgba(195,35,58,1);}
.task-writecall .microtask-title             { background-color: rgba(131,90,161,1);}
.task-debugtestfailure .microtask-title       { background-color: rgba(60, 146, 203,1);}
.task-review .microtask-title         { background-color: rgba(237,90,48,1);}



.form-control { font-weight: normal;}

.submit-alert {
	 position:relative !important;
	 margin-top: 0px !important;
	 margin-bottom: 10px !important;
}


/* UTILS */
.no-padding { padding:0px !important; }

.reset-padding { padding:0px !important; margin:0px !important; }

.fullwidth  { width:100%; }
.fullheight { height:100%; }

.container-flex-row, .container-flex-column {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex;
}
.container-flex-row {
	flex-direction: row;
	align-items: stretch;
	height:100%;
	width:100%; !important
}

.container-flex-column {
	align-items: stretch;
	flex-direction: column;
}

.pull-top-right {
	position:absolute;
	right: 181px;
	top: 20px;
}

/* --------- BOOTSTRAP OVERWRITE ---------  */
.dropdown-menu > li > a {
	padding:5px;
	font-size:0.8em;
}

@grid-float-breakpoint {  }
.btn:focus {outline:none;}
.btn { font-family: 'Lato' !important;font-style: normal; font-weight: 400;}
.btn:hover, .btn:focus { background-color: rgb(163, 163, 163); }


.btn-primary { border:none; background-color:#3F81AC; }
.btn-primary:hover, .btn-primary:focus{ background-color:#7491A1; }

.form-group,.form-horizontal .form-group { margin:0px ; padding:0px; }

.input-sm {
	font-family: 'Merriweather' !important;
	font-style: normal;
	font-weight: 400;
}


.glyphicon { font-size:1em; }


.navbar { min-height:35px;   }
.navbar .navbar-brand { padding: 0 12px;font-size: 16px;line-height: 35px;height: 35px; }
.navbar .navbar-brand:hover { color:white; }
.navbar .navbar-nav > li > a {  padding-top: 0px; padding-bottom: 0px; line-height: 35px; }
.navbar .navbar-toggle {  margin-top: 3px; margin-bottom: 0px; padding: 8px 9px; }
.navbar .navbar-form { margin-top: 2px; margin-bottom: 0px }

.navbar {
	font-family: 'Lato' !important;
	background-color:#555;
}
.navbar .navbar-brand { color:white; }
.navbar .navbar-nav > li > a { color:white; background-color:transparent; }
.navbar .navbar-nav > li > a:visited, .navbar .navbar-nav > li > a:focus { color:white; }
.navbar .navbar-nav > li > a:hover{ color:white; opacity:0.8; }
.navbar img { width:25px; }

.list-group { margin: 0px;}
.control-label { 
	padding-right:10px !important; 
	line-height: 32px;
	line-height:1.1em;
}

.dropdown-menu {
	margin:0px;
	padding:0px;
	border-radius:0px;
	background-color:#B5B5B5;
}
.dropdown-menu > li > a {
	margin:0px;
	color:white;
}
.dropdown-menu .divider {
	margin:0px;
	background-color: white;
}

/* --------- CODEMIRROR OVERWRITE ---------  */
.CodeMirror { border: none; font-size: 1.1em;}

/* --------- ACE JSON OVERWRITE ---------  */


.ace-editor { 
    height: 200px;
    background:transparent;
}
.ace-editor .ace_marker-layer .ace_selection { background: transparent; }
.ace-editor .ace_hidden-cursors {opacity:0}

.ace-github {
color: green !important;
}

.ace-github .ace_support.ace_function, 
.ace-github .ace_support.ace_function {
color: #FF0000 !important;
}

.ace-github .ace_invisible {
color: #525151 !important;
}



.js-reader { 
	
	background-color:transparent !important; 
}
.js-reader .ace_active-line { background-color: transparent !important;}

.json-editor .ace_scroller,
.json-reader .ace_scroller {
	left:17px !important;
}
.json-editor .ace_folding-enabled > .ace_gutter-cell {
	padding:0px;
	color:transparent;
}
.json-editor .ace_gutter-layer  { width:20px !important; }
.json-reader.ace-editor { background-color:transparent !important; }

.js-editor { height: 400px;}
.console { position:inherit !important;}


/* GENERAL STYLES AND LAYOUT */


body, html { height: 100%; }
body {
	font-family: 'Merriweather' !important;
	font-style: normal;
	font-size: 12px ;
}

h1, h2, h3, h4 {
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 800;
}


.main-wrapper {
	width:100%;
	position:absolute;
    top:35px;
    left:0px;
    right:0px;
    bottom:0px;
}



#sidebarLeft { width:20%; height:100%; background-color: #EEEEEE; padding-top:10px; position: relative;}

#content {
	width:80%;
    padding:0px;
    margin:0px;
    height:100%;
    position:relative;
	background-color: #FFFFFF;
}


.task {
	position:absolute;
	bottom:40px;
	top:0px;
	width:100%;
	padding-top:7px;
	padding-left:20px;
	padding-right:20px;
	padding-bottom:10px;
    overflow-x:hidden;
    overflow-y:auto;
}
.section-reminder{
	position: absolute;
	bottom: 20px;
	z-index: 10;
	width: 100%;
}
.progress-bar-reminder{
	height: 7px;
	width: 100%;
	bottom: 17px;
	background-color: rgb(122, 122, 122);
	border-radius: 0px;
}


.button-bar {
	padding-left: 10px;
	padding-right: 10px;
	padding-top: 5px;
	padding-bottom: 5px;
	height: 40px;
	background-color: #AFAFAF;
	position: absolute;
	width: 100%;
	bottom: 0px;
	z-index:10;
}

.task-container {	/*height:100%;*/}
.task-container > div { flex-shrink: 0; }




.animate-repeat.ng-move,
.animate-repeat.ng-enter,
.animate-repeat.ng-leave {
  -webkit-transition:all linear 0.5s;
  transition:all linear 0.5s;
}

.animate-repeat.ng-leave.ng-leave-active,
.animate-repeat.ng-move,
.animate-repeat.ng-enter {
  opacity:0;
}

.animate-repeat.ng-leave,
.animate-repeat.ng-move.ng-move-active,
.animate-repeat.ng-enter.ng-enter-active {
  opacity:1;
}


/* SIDEBAR BUTTONS */
.sidebar .sidebar-buttons{
	position: absolute;
	width:100%;
	width: 100%;
	height: 100%;
	bottom: 0px;
	height: 50px;
}

.sidebar-buttons button {
	color: #969696;
	border:0px;
	cursor:pointer;
	background-color:transparent;
	margin-bottom: 2px;
	padding-left: 10px;
	text-align:left;
	text-transform: uppercase;
	font-size: 0.9em;
	width:100%;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 800;
}

/* SIDEBAR PANELS */
.sidebar .sidebar-panels{
	position: absolute;
	width: 100%;
	height: 100%;
	bottom: 50px;
	top: 0px;
}

.sidebar .toggler {
	cursor: pointer;
	color: #969696;
	margin-bottom: 2px;
	padding-left: 10px;
	text-transform: uppercase;
	font-size: 0.9em;
	margin-top:10px;
}
.sidebar .element {
	border-bottom:1px solid #D0D0D0;
	height:0px;
	overflow:hidden;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}
.sidebar .element:last-child{border:0px;}
.sidebar .element-body {
	padding-top:10px;
	padding-left:10px;
	padding-right:10px;
}

.sidebar .scrollable{
	overflow-y: auto;
    height: 100%;
}
/* SIDEBAR LIST */
.sidebar-list { list-style:none; padding:0px; margin:0px; }
.sidebar-list li { display:block; width:100%; margin-top:2px;}

/* LEADERBOARD */
.leaderboard li { padding:2px; font-family: 'Lato'; }
.leaderboard .self { background-color: rgba(205, 205, 205, 0.35);}
.leaderboard .avatar { float:left;width:25px;height:25px; }
.leaderboard .avatar img { width:25px; height:25px; }
.leaderboard .score  { float:right;line-height:25px; font-weight: bold;}
.leaderboard .name { overflow: hidden; line-height:25px; padding-left: 4px; text-overflow: ellipsis; white-space: nowrap; }

/* SIDEBAR NEWS PANEL */
.news li { 
	position:relative; padding-left:2px; 
	min-height:2.5em; 
	background-color: rgba(205, 205, 205, 0.35);
	font-family: 'Lato'; 
}
.news .type,
.news .result 
{ float:left; width:60%; overflow:hidden; text-overflow:ellipsis; white-space: nowrap;}
.news .points { position:absolute; top:2px; right:2px; font-weight: bold; }
.news li:hover { background-color:#E0E0E0 !important; }
.news-element {  }

.news-element .accepted,
.news-element .reissued,
.news-element .rejected {
	font-weight: bold; 
	font-size: 0.8em;
	padding: 2px;
}

.news-element .accepted { color: #5cb85c;  }
.news-element .reissued { color: #f0ad4e;  }
.news-element .rejected { color: #555; }



/*
rgba(17,112,190,1) Wode - blue - writefunction
rgba(252,223,63,1) Aerial yellow - yellow - writetestcases
rgba(23,163,125,1) Celadon - green - writetest
rgba(186,105,66,1) Heliotrope - brown - writefunctiondescription
rgba(195,35,58,1)  Kermes - magenta - reusesearch
rgba(131,90,161,1) Atmosphere - purple - writecall
rgb(186,156,59,1)  Chimayo - brown - debugtestfailure
rgba(237,90,48,1)  Valencia - orange - review

*/
.news-element.writefunction            { border-left: 5px solid rgba(17,112,190,1);}
.news-element.writetestcases           { border-left: 5px solid rgba(252,223,63,1);}
.news-element.writetest                { border-left: 5px solid rgba(23,163,125,1);}
.news-element.writefunctiondescription { border-left: 5px solid rgba(186,105,66,1);}
.news-element.reusesearch              { border-left: 5px solid rgba(195,35,58,1);}
.news-element.writecall                { border-left: 5px solid rgba(131,90,161,1);}
.news-element.debugtestfailure         { border-left: 5px solid rgba(60, 146, 203,1);}
.news-element.review                   { border-left: 5px solid rgba(237,90,48,1);}

/* SIDEBAR LEADERBOARD PANEL */
.user-list .avatar img { width:20px;}
.user-list .avatar { float:left; margin-right:5px;}
.user-list .name   { float:left; }

.modal.center .modal-dialog{
    position:absolute !important;
    top:40%;left:50%;
    min-width:320px;
    max-width:630px;
    width:50%;
    -webkit-transform:translateX(-50%) translateY(-50%);
    transform:translateX(-50%) translateY(-50%)
} 

/* CHAT */

.btn-chat-toggle, .btn-chat-toggle:focus{ background-color:transparent; cursor:pointer; }
.btn-chat-toggle.opened { background-color:gray;}


.chat {
	position:absolute;
	right  : 5px;
	bottom : 45px;

	width:300px;
	background-color:white;
	
	opacity:0;
	border: 1px solid #969696;

	height:0;
	overflow:hidden;

	-webkit-transition: height .35s, opacity .4s;
	-moz-transition:    height    .35s, opacity .4s;
	-ms-transition:     height     .35s, opacity .4s;
	-o-transition:      height     .35s, opacity .4s;
}
.chat.active {
	opacity:1;
	z-index:999;
	height:auto;
}

.chat .btn-close { cursor:pointer; }

.chat .header {
	padding:5px;
	background-color:#555;
	color:white;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 800;
}

.chat .output {
	width  : 100%;
	height : 300px;

	margin-bottom:10px;
	overflow-y:auto;
	overflow-x:none;
}

.chat .input { 
	width  :100%; 
	min-height: 40px;
	height    : 40px;
}

.chat .input textarea {
	width:100%;
	height:40px;
	background-color:#ECECEC;
	border-radius:0px; border:none;
	resize:none;
	position:absolute;
}
.chat .input textarea:focus { outline:0px solid black; }


.chat .messages { margin:0px; padding:0px; list-style: none; }
.chat .messages li { padding:2px; }

.chat .avatar { float:left; width:25px;}
.chat .avatar img { width:25px; }

.chat .message { float:left; width:240px;margin-left:5px; word-wrap: break-word; line-height: 25px}
.chat .message .nickname { font-weight:bold;}
.chat .message .text{ font-style:italic; margin:0px; }
.chat .message .time { font-weight:bold; font-size:0.7em; text-align: right}

.chat-alert{
	position: absolute;
	bottom: 45px;
	right: 5px;
	z-index: 10000;
	width: 300px;
	padding: 0px;
	margin:  0px;
	border-radius: 0px;
	border: 1px solid #555;
	background-color: white;
}
.chat-alert .header {
	padding: 5px;
	background-color: #555;
	color: white;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 400;
}

.chat-alert .avatar { width:20px; padding-right:5px; }
.chat-alert .avatar img { width:20px; }

.chat-alert .message {
	padding:5px;
}

.unread-messages{
	background-color: #dc0d17;
	background-image: -webkit-gradient(linear, center top, center bottom, from(#fa3c45), to(#dc0d17));
	background-image: -webkit-linear-gradient(#fa3c45, #dc0d17);
	color: #fff;
	min-height: 13px;
	padding: 1px 3px;
	text-shadow: 0 -1px 0 rgba(0, 0, 0, .4);
	position: absolute;
	right: 4px;
	top: 3px;
	font-family: 'Lato';
	border-radius:5px;
}

.chat-icon{
	background-image: url(http://fbstatic-a.akamaihd.net/rsrc.php/v2/yg/r/XYoTa_7lVnN.png);
	background-repeat: no-repeat;
	background-size: auto;
	background-position: 0 -481px;
}

/* ADT PANEL */

.adt-list .panel-group .panel+.panel {
	margin:0px;
	border:none;
	height:100%;
	margin-bottom:2px;
	border:none;
}

.adt-list .panel {
	background-color:transparent;
	border-radius:0px;
	border:none;
}

.adt-list .panel-heading {
	background-color: transparent;
	cursor:pointer;
	padding:0px;
	border:none;
}
.adt-list .panel-heading+.panel-collapse>.panel-body {
	border:none;
}

.adt-list .panel-body { padding:5px; }

.adt-list h4 {

	cursor: pointer;
	color: #575757;
	margin-top: 10px;
	margin-bottom: 2px;
	font-size: 1em;
}

.adt-list h5 {
	margin:0px;
	display:block-inline;
	font-size: 0.8em;
	font-weight: bold;
	font-family: 'Lato';
	text-transform: uppercase;
}
.adt-list .btn-select{
	line-height: 1em;
	background-color: transparent;
	border:none;
}

.adt-list pre {
	border-radius:0px;
	border:none;
	padding:2px;
}


.toggler-adt.active {color:black;}
.element-adt {
	border-bottom:1px solid #D0D0D0;
	height:0px;
	overflow:hidden;
	-webkit-transition: height 0.5s;
	-moz-transition: height 0.5s;
	transition: height 0.5s;
}

.element-adt.active {height:auto;}
.element-adt:last-child{border:0px;}
.element-body-adt {
}



table.test { width: 100%;}

table.test tr.separator td{
	text-align: center;
	background-color: #555;
	color: white;
	padding: 2px;
}
table.test { }
table.test td { vertical-align: top; padding-top:2px; padding-bottom:2px;}
table.test td:first-child { width:20%; text-align: right; padding-right:5px; }

.section-form .section-title {
	background-color: rgba(85,85,85,0.5);
	color:white;
}
.section-form .heading,
.panel.test-result .heading {
	text-align: left;
	background-color: rgba(85,85,85,0.5);
	color: white;
	padding: 2px;

}

.section-form .heading-1,
.panel.test-result .heading-1{
	margin:2px;
	border-bottom: 1px solid gray;
	font-size: 0.8em;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 600;
	text-transform: uppercase;
	text-align: left;
	color:#555;
}

.section-form .heading-2,
.panel.test-result .heading-2{
	border: none;
	text-align: center;
	background-color: rgb(223, 223, 223);
}

.panel.test-result {
	border-bottom: 1px solid rgba(85,85,85,0.5);
}
.panel.test-result table td {
	padding-top:2px;
}
.panel.test-result table td:first-child{

	text-align: right;
	padding-right:5px;
	width:20%;
}


.test-result.passed { background-color: #dff0d8; }
.test-result.failed { background-color: #F7B2B2; }
.test-result.disputed { background-color: #FFB280; }

.test-collapsable-list .toggle .passed { font-family: 'Lato' !important; font-weight: bold; color:green;}
.test-collapsable-list .toggle .failed  { font-family: 'Lato' !important; font-weight: bold; color:red;}
.test-collapsable-list .toggle  { background-color: #ECECEC; color:black !important; /*border-bottom: 2px solid #4F5457;*/}


.test-collapsable-list .element {
	color:black;
}
.test-collapsable-list 

table.debugTests tr.passed { background-color:green; }
table.debugTests tr.failed { background-color:red;   }


span.rating-star-fixed {
	 background-image: url('/img/stars.png');
	 background-position: 0px 0px;

	 width:25px;
	 height:25px;
	 display:block;
}

span.rating-star {
	 background-image: url('/img/stars.png');
	 background-position: 25px 0px;

	 width:25px;
	 height:25px;
	 display:block;
	 float:left;
}

span.rating-star-news {
	 background-image: url('/img/stars.png');
	 background-position: 25px 0px;

	 width:25px;
	 height:25px;
	 display:block;
	 float:left;
}
span.rating-star-news.full {
	 background-position: 0px 0px;
}


span.rating-star.full {
	 background-position: 0px 0px;
}


.stars-container { margin:10px; }
.stars-separator { float:left; content:'s'; width:1px; height:25px; background-color: black;}
.star {
	background-image: url('/img/stars.png');
	background-position: 25px 0px;

	width:25px;
	height:25px;
	display:block;
	float:left;
}
.star.full {
	background-position: 0px 0px;
}

.rating-result {
	font-weight: bold;
	font-family: 'Lato';
	margin:10px;
	line-height:25px;
	text-transform: uppercase;
}


/* Search results styles in reuseSearch */
.list-element { background-color: rgba(85,85,85,0.15); border-bottom:1px solid rgba(85,85,85,0.5); cursor:pointer;}
.list-element.selected { background-color:rgba(85,85,85,0.30); }

/* Styles for text diffs produced by PrettyTextDiff (e.g., as in WriteFunction) */
ins {  background-color: #c6ffc6;  text-decoration: none; }
del {  background-color: #ffc6c6; }

/* ------ FLEXBOX ORDERS -------- */

.column-resizer {
	cursor:col-resize;
	width:3px;
}

.row-resizer {
	cursor:row-resize;
	height:3px;
	width:100%;
}

.row-resizer, .column-resizer {
	background-color: #E0E0E0;
}

.order-1 {
  -webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
  -ms-flex-order: 1;              /* TWEENER - IE 10 */
  -webkit-order: 1;               /* NEW - Chrome */
  order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-2 {
  -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.2-6 */
  -moz-box-ordinal-group: 2;      /* OLD - Firefox 29- */
  -ms-flex-order: 2;              /* TWEENER - IE 20 */
  -webkit-order: 2;               /* NEW - Chrome */
  order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-3 {
  -webkit-box-ordinal-group: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 3;      /* OLD - Firefox 19- */
  -ms-flex-order: 3;              /* TWEENER - IE 10 */
  -webkit-order: 3;               /* NEW - Chrome */
  order: 3;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-4 {
  -webkit-box-ordinal-group: 4;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 4;      /* OLD - Firefox 19- */
  -ms-flex-order: 4;              /* TWEENER - IE 10 */
  -webkit-order: 4;               /* NEW - Chrome */
  order: 4;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

/* Style for highlighted lines in CodeMirror */
.acePseudoCall{ background-color: rgba(131, 155, 120, 0.5); color: white !important; position:absolute;}
.pseudoCall { background-color: rgba(122, 61, 61, 0.7); color: white !important; }
.pseudoCode { background-color: rgba(74, 119, 69, 0.7); color: white !important; }

.highlightPseudoCall { background-color: rgb(189, 94, 144,0.7); }



.loading {
	position: absolute;
	margin-right:50%;
	margin-left:50%;
	width: 200px;
	height: 200px;
}

tutorial  { display:none; }
.tutorial-container .overlay, 
.tutorial-container .content {
	position: absolute;
	top:0px;
	left:0px;
}

.tutorial-container .overlay {
	z-index: 10000;
	width:0px;
	height:0px;
	box-shadow: rgba(0, 0, 0, 0.5) 0px 0px 0px 10000px;
	opacity:0.5;
}

.tutorial-container .content {
	z-index: 10001;
	color: black;
	background-color: white;
	border: 2px solid #white;
	border-radius: 0px;
	text-align:center;
	box-shadow: rgb(43, 43, 43) 0px 0px 6px 1px;
}

.tutorial-container .content .title {
	margin:0px;
	padding:5px;
	background-color:white;
	color:#555;
	font-family: 'Lato';
	font-weight:bold;
	text-align:left;
}

.tutorial-container .content p,
.tutorial-container .content li {
	text-align:left;
}

.tutorial-container .text img {
	margin-bottom:10px;
}

.tutorial-container .content .text {
	padding:10px;
	font-size:1em;
	margin-bottom:20px;
}

.tutorial-container .btn-next { float:right; margin:5px; font-family: 'Lato'; font-weight: bold; text-transform: uppercase; font-size:0.8em; };

.tutorial-container .btn-next:hover {
	background-color: darkgrey;
}

.tutorial-container .btn-close { color: rgba(85, 85, 85, 0.72); float:left; margin:5px; font-family: 'Lato'; font-weight: bold; text-transform: uppercase; font-size:0.8em; };


.btn-mini { font-size:0.8em; text-transform: uppercase; padding: 3px 3px; border-radius: 0px; background-color: rgba(63, 129, 172, 0.8); }

.stats { }
.stats span {  padding-left:10px;}

/* microtask types color */


/* MICROTASK CONTAINER SECTIONS */
.section {
	position:relative;
	margin-bottom:15px;
 	background-color:#EEEEEE;
 	color: #303030;
}
.section-title {
	text-align: left;
	padding:5px;
	text-transform:uppercase;
	font-size:0.8em;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 600;
	color: #555;
}
.section-title .dot {
	width: 0.5em;
    height: 0.5em;
    margin: 0.13em;
    display: inline-block;
    background-color: #555;
}
.section-content { padding:5px; }
.section-link { position:absolute; top:2px; right:2px; }

.help-block { margin:0px; padding:0px; list-style: none; color: rgb(159, 17, 17);}


.section.section-form {  } 

.section.section-form .section-title .input-group { background-color: rgba(85,85,85,0.5); padding:5px; }
.section.section-form .section-title .input-group input  { background-color:white; border-radius:0px; border: none; }
.section.section-form .section-title .input-group input::-webkit-input-placeholder {  color: gray; font-style:italic;}
.section.section-form .section-title .input-group button { border:none; font-weight: bold; color:white; border-radius:0px; background-color:transparent; }
.section.section-form .section-title .input-group button:hover,
.section.section-form .section-title .input-group button:focus
 { background-color:#555; opacity:0.7; }


.section.section-form .section-content .input-group             { background-color: rgba(85,85,85,0.15); cursor:pointer; border-bottom:1px solid rgba(85,85,85,0.5);}
.section.section-form .section-content .input-group input       { border-radius:0px; background-color: transparent !important; color:#555; border:none; outline:none; box-shadow:none; border-radius:0px;}
.section.section-form .section-content .input-group input:focus { background-color: rgba(255,255,255,0.7) !important; color:black; width:100%;}
.section.section-form .section-content .input-group .btn        { background-color:transparent; color:#555; border-radius:0px;}
.section.section-form .section-content .input-group input:focus + span > .btn { background-color: rgba(255,255,255,0.7) ; }

.section.section-review {
	background-color:white;
	border:3px solid rgba(237,90,48,0.4);

}
.section.section-description ul,
.section.section-review ul {
	margin:0px;
	padding:0px;
}

/* MICROTASK */
.microtask-details {
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2em;
	width:100%;
}
.microtask-details .type   { text-transform: uppercase; float:left; padding-left:20px; padding-right:20px; color:white;}
.microtask-details .points { float:left; padding-left:20px; padding-right:20px; }
.microtask-details .reissued {
	background-color: rgb(149, 149, 149);
	color: white;
	float: left;
	font-size: 0.8em;
	padding-left: 5px;
	padding-right: 5px;
	line-height: 1.8em;
	text-transform: uppercase;
}
.microtask-details .tutorial-btn { float:right; font-size:0.8em; cursor:pointer; padding:2px; }
.microtask-details .tutorial-btn:hover { color:#555;}

/* NO MORE MICROTASKS */
.no-microtask {
	min-height:10%;
	color: gray;
	vertical-align: center;
	text-align: center;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;
}

.loading-microtask {
	min-height:10%;
	color: gray;
	margin-top:25%;
	vertical-align: center;
	text-align: center;
	font-family: 'Lato' !important;
	font-style: normal;
	font-weight: 500;
	font-size: 1.2em;
	text-transform: uppercase;
}

.stats ul {
	margin:0px;
	padding:0px;
	list-style: none;
}

.stats li { background-color: rgba(205, 205, 205, 0.13);
 padding:2px; font-family: 'Lato'; }
.stats .self { background-color: rgba(205, 205, 205, 0.35);}
.stats .position { float:left;line-height:40px; font-weight: bold;padding:10px;}
.stats .avatar { float:left;width:60px;height:60px; }
.stats .avatar img { width:60px; height:60px; }
.stats .score  { float:right;line-height:60px; font-weight: bold;}
.stats .name { overflow: hidden; line-height:60px; padding-left: 4px; text-overflow: ellipsis; white-space: nowrap; font-size: 1.5em;}


.job-description { padding:10px; color:#555; font-weight: bold; font-family: 'Lato'; font-size:1.1em;}
.job-description strong { color:black ; };

/* rgba(17,112,190,1) Wode - blue - writefunction */
.task-writefunction .color          { color:  rgba(17,112,190,1); }
.task-writefunction .color-alpha    { color:  rgba(17,112,190,0.4); }
.task-writefunction .bg-color       { background-color:  rgba(17,112,190,1); }
.task-writefunction .bg-color-alpha { background-color:  rgba(17,112,190,0.4); }
.task-writefunction .job-description { background-color:  rgba(17,112,190,0.4); }

/* rgba(254, 195, 36,1) yellow - yellow - writetestcases */
.task-writetestcases .color          { color:  rgba(254, 195, 36,1); }
.task-writetestcases .color-alpha    { color:  rgba(254, 195, 36, 0.4); }
.task-writetestcases .bg-color       { background-color:  rgba(254, 195, 36,1); }
.task-writetestcases .bg-color-alpha { background-color:  rgba(254, 195, 36,0.4); }
.task-writetestcases .job-description { background-color:  rgba(254, 195, 36,0.4); }

/* rgba(23,163,125,1) Celadon - green - writetest */
.task-writetest .color          { color:  rgba(23,163,125,1); }
.task-writetest .color-alpha    { color:  rgba(23,163,125,0.4); }
.task-writetest .bg-color       { background-color:  rgba(23,163,125,1); }
.task-writetest .bg-color-alpha { background-color:  rgba(23,163,125,0.4); }
.task-writetest .job-description { background-color:  rgba(23,163,125,0.4); }

/* rgba(186,105,66,1) Heliotrope - brown - writefunctiondescription */
.task-writefunctiondescription .color          { color:  rgba(186,105,66,1); }
.task-writefunctiondescription .color-alpha    { color:  rgba(186,105,66,0.4); }
.task-writefunctiondescription .bg-color       { background-color:  rgba(186,105,66,1); }
.task-writefunctiondescription .bg-color-alpha { background-color:  rgba(186,105,66,0.4); }
.task-writefunctiondescription .job-description { background-color:  rgba(186,105,66,0.4); }

/* rgba(195,35,58,1)  Kermes - magenta - reusesearch */
.task-reusesearch .color          { color:  rgba(195,35,58,1); }
.task-reusesearch .color-alpha    { color:  rgba(195,35,58,0.4); }
.task-reusesearch .bg-color       { background-color:  rgba(195,35,58,1); }
.task-reusesearch .bg-color-alpha { background-color:  rgba(195,35,58,0.4); }
.task-reusesearch .job-description { background-color:  rgba(195,35,58,0.4); }

/* rgba(131,90,161,1) Atmosphere - purple - writecall */
.task-writecall .color          { color:  rgba(131,90,161,1); }
.task-writecall .color-alpha    { color:  rgba(131,90,161,0.4); }
.task-writecall .bg-color       { background-color:  rgba(131,90,161,1); }
.task-writecall .bg-color-alpha { background-color:  rgba(131,90,161,0.4); }
.task-writecall .job-description { background-color:  rgba(131,90,161,0.4); }

/* rgb(60, 146, 203,)  Chimayo - green - debugtestfailure */
.task-debugtestfailure .color          { color:  rgba(60, 146, 203,1); }
.task-debugtestfailure .color-alpha    { color:  rgba(60, 146, 203,0.4); }
.task-debugtestfailure .bg-color       { background-color:  rgba(60, 146, 203,1); }
.task-debugtestfailure .bg-color-alpha { background-color:  rgba(60, 146, 203,0.4); }
.task-debugtestfailure .job-description { background-color:  rgba(60, 146, 203,0.4); }

/* rgba(237,90,48,1)  Valencia - orange - review */
.task-review .color          { color:  rgba(237,90,48,1); }
.task-review .color-alpha    { color:  rgba(237,90,48,0.4); }
.task-review .bg-color       { background-color:  rgba(237,90,48,1); }
.task-review .bg-color-alpha { background-color:  rgba(237,90,48,0.4); }
.task-review .job-description { background-color:  rgba(237,90,48,0.4); }


.clip-copy {
	background:url('/img/copy.png') no-repeat;
	min-width:16px;
	min-height:16px;
	display:inline-block;
}


.adt-detail {
	position:relative;
}

.adt-detail > .clip-copy {
	position:absolute;
	top:3px;
	right:3px;
	z-index:10;
}


pre.json {
	padding: 5px; 
	margin: 0px; 
	border: none;
	border-radius: 0px;
	font-size:1em;
}
pre.json .jsonString { color: #DF0002; }
pre.json .jsonNumber { color: blue; }
pre.json .jsonBoolean { color: purple; }
pre.json .jsonNull { color: black; }
pre.json .jsonKey { color: black; }

.panel-group .panel+.panel {
	margin:0px;
	border:none;
	height:100%;
	margin-bottom:2px;
}

.panel {
	background-color:transparent;
	border-radius:0px;
	border:none;
}

.panel-heading {
	font-family: 'Lato' ;
	cursor:pointer;
	border-radius:0px;
	padding: 3px 3px;
	margin: 0px;
}


.panel table { width: 100%;}


.panel-collapse.am-collapse {
  animation-duration: .3s;
  animation-timing-function: linear;
  animation-fill-mode: backwards;
  -webkit-animation-timing-function: linear;
  -webkit-animation-fill-mode: ;
  overflow: hidden;
  &.in-remove {
    animation-name: collapse;
    display: block;
  }
  &.in-add {
    animation-name: expand;
  }
}

.table-separator {
	border-top:1px solid gray;
	height:1px;
}

.avatar {
	width:60px;
}
.avatar.selected {
	border:1px solid black;
}

.section-review .del { color:red; }
.section-review .add { color:green; }

.function-conventions pre {
	font-size:0.9em;
	border:0px;
	
}

.diff { margin:0px; padding:0px; }
.diff .line { width:100%; display:block; }
.diff .line.added   { background-color:#eaffea;}
.diff .line.removed { background-color:#ffecec;}

.legend {width:10px;height:10px;display:inline-block;margin-left:2px;margin-right:2px;border:1px solid gray;}

.nav-tabs {
	border-bottom: none !important;
	background-color: rgb(166, 200, 223);
}
.nav-tabs > li { margin-bottom: -3px;}
.nav-tabs > li > a {
	background-color: rgb(166, 200, 223) !important;
	margin: 0px;
	border: 0px !important;
	border-radius: 0px !important;
	border-right: 1px solid rgb(147, 178, 198) !important;
	text-transform: uppercase;
	color: #555;
	font-family: 'Lato';
}

.nav-tabs > li.active > a {
	background-color: rgb(176, 210, 233) !important;
	font-weight: 400;
}

.tab-content > div { height: 500px;}

.tab-content .section { overflow:auto;}

.function-errors {height:85px; overflow: auto; padding:5px; background-color:rgb(85, 85, 85);}
.function-errors ul { color: #D8A1A1; margin:0px; padding:0px; padding-left:16px; list-style-type:decimal;}
.function-errors .recap { color:rgb(225, 225, 225); font-family:'Lato'; font-weight: 400; text-transform:uppercase; } 

.stubs-panel ul.callee-list { list-style:none;padding:0px }
.stubs-panel ul.callee-list > li {  
	cursor: pointer;
	font-size: 1em;
	font-weight: bold;
	font-family: 'Lato';
	color: #555;
	line-height:2em; 
}

.stubs-panel ul.callee-list > li.active {  background-color: rgb(142, 192, 225);  }
.stubs-panel ul.callee-list > li:hover {  background-color: rgb(142, 192, 225);  }
