

html,body { height: 100%; }
body {
	background-color: rgba(211, 211, 211, 0.22);
}

header h3 { margin:0px }
header a { color:white; }
header {
	background-color: #3C9764;
	color: white;
	margin: 0px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:10px;
	
	-webkit-box-shadow: 0px 2px 5px 0px gray;
	-moz-box-shadow:    0px 2px 5px 0px gray;
	box-shadow:         0px 2px 5px 0px gray;
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}

header .dropdown-menu {
	background-color:lightgreen;
	color:white;
}

footer {
	bottom: 0;
	height: 40px;
	position: relative;
	width: 100%;
	background-color: #3C9764;
}

footer.navbar-default { background-color: #3C9764; }

.btn-primary { border-color:#3C9764; background-color:#3C9764;}
#feedbackBtn { margin:5px; }


.row {
	margin: 0px;
	padding-bottom:20px;
}

.row>div { padding-top: 10px;}

#leftBar, #rightBar {
	padding-left: 0px;
	padding-right: 0px;
	border: none;
}

#container {
	padding-left: 3%;
	padding-right: 3%;
}

#leftBar {
	padding-left:1%;
}

#rightBar {
	padding-right:1%;
}

#leftBar .panel, #rightBar .panel {
	margin: 0px;
	border: none;
	border-radius: 0px;
	border:0px;
	margin-bottom:10px;
	background-color:transparent;
	box-shadow: none;
}

#leftBar .panel-body, #rightBar .panel-body {
	margin: 0px;
	padding: 0px;
}

#leftBar .panel-heading, #rightBar .panel-heading {
	text-transform:uppercase;
	font-size:10px;
	background-color: transparent;
	color: gray;
	border-radius: 0px;
	border: none;
	padding: 5px;
}


#score .panel-body span:first-child {
	font-size:40px;
	margin-top:5px;
}
#stats .badge { width:50px; }

#leaderboard table {width:100%;}
#leaderboard tr {
	font-size:14px;
	font-weight:normal;
}
#leaderboard img {
	margin-bottom:1px;
	width:30px;
	height:30px;
}
#leaderboard td:nth-child(2) {
	font-style:italic;
}
#leaderboard td:nth-child(3) {
	font-weight:bold;
}

#recentActivity {
	font-weight:normal;
	height: 300px;
	overflow:auto;
}
#recentActivity tr {
	border-bottom:1px solid white;
}
#recentActivity td {
	text-transform: capitalize;
	padding:2px;
}
#recentActivity td:hover {
	cursor:pointer;
	background-color:bisque;
}

#chatInput{
	width: 100%;
	resize: none;
	border: none;
	background-color: lightgray;
	color:black;
	font-weight: normal;
	padding: 3px;
	height: 30px;
}
#chatOutput {
	font-weight:normal;
	height: 300px;
	overflow:auto;
	padding: 3px;
	background-color: #CDECCC;
	margin-bottom:5px;
}
#chatOutput span:first-child {
	font-weight:bold;
}


#task {
	padding:10px;
	background-color:white;
	border-radius:10px;
	border:1px solid lightgray;
	
	
	-webkit-box-shadow: 0px 2px 5px 0px gray;
	-moz-box-shadow:    0px 2px 5px 0px gray;
	box-shadow:         0px 2px 5px 0px gray;
}
#task>div {
	margin-bottom: 10px;
}

#taskHeader {
	padding: 0px;
	margin: 0px;
}

#taskDate {
	font-size: 12px;
	font-weight: normal;
}

#taskDescription {
	font-weight:normal;
	padding:5px;
}

#taskForm .bg-warning{
	padding:10px;
}

#taskButtons {
	float:right;
}

#popUpChangePicture .modal-footer {
	text-align:center;
}
#popUpChangePicture form {
	width:80%;
}



#userProfile img {
	cursor:pointer;
	width:40px;
	height:40px;
}

.form-control-90 { width:90%; display:inline;}

/* Styles for the readonly code mirror box */
.CodeMirror {font-weight:normal; height: auto;  }
.CodeMirror-scroll { overflow-y: hidden; overflow-x: auto; }

/* Style for highlighted lines in CodeMirror */
.pseudoCall { background-color: white; color: gray; font-weight: bold; }
.pseudoCode { background-color: yellow;	}
.highlightPseudoCall { background-color: lime; }
