json-tree input[type="Number"] {
width: 4em;
height: 30px;
}




.input-control{
	width: 40%;
	display: inline;
}

.glyphicon {
	font-size:1em;
}

.star-rating {
 width: 36px;
	height: 36px;
	margin-right: 2px;
}


.bar-rating {
	 width: 5px;
	height: 42px;
	margin-right: 2px;
	margin-left: 2px;
}



html,body { height: 100%; }
body {
	background-color: #e9eaed;
}

header h3 { margin:0px }
header a { color:white; }
header {
	background-color: #3C9764;
	color: white;
	margin: 0px;
	padding-left:10px;
	padding-right:10px;
	padding-top:10px;
	padding-bottom:5px;
	margin-bottom:10px;

	-webkit-box-shadow: 0px 2px 5px 0px gray;
	-moz-box-shadow:    0px 2px 5px 0px gray;
	box-shadow:         0px 2px 5px 0px gray;
}

#wrapper {
  min-height: 100%;
  height: auto;
  margin: 0 auto -40px;
  padding: 0 0 40px;
}

header .dropdown-menu {
	background-color:lightgreen;
	color:white;
}

footer {
	bottom: 0;
	height: 40px;
	position: relative;
	width: 100%;
	background-color: #3C9764;
}

footer.navbar-default { background-color: #3C9764; }

.btn-primary { border-color:#3C9764; background-color:#3C9764;}
#feedbackBtn { margin:5px; }


.row {
	margin: 0px;
	padding-bottom:20px;
}

.row>div { padding-top: 10px;}

#leftBar, #rightBar {
	padding-left: 0px;
	padding-right: 0px;
	border: none;
}

#container {
	padding-left: 1.5%;
	padding-right: 1.5%;
}

#leftBar {
	padding-left:1%;
}

#rightBar {
	padding-right:1%;
}

#leftBar .panel, #rightBar .panel {
	margin: 0px;
	border: none;
	border-radius: 0px;
	border:0px;
	margin-bottom:10px;
	background-color:transparent;
	box-shadow: none;
}

#leftBar .panel-body, #rightBar .panel-body {
	margin: 0px;
	padding: 0px;
}

#leftBar .panel-heading, #rightBar .panel-heading {
	text-transform:uppercase;
	font-size:10px;
	background-color: transparent;
	color: gray;
	border-radius: 0px;
	border: none;
	padding: 5px;
}

#score ul {
	margin:0px;
}
#score .panel-body li div {
	font-size:0.7em;
	font-weight:bold;
}
#score .panel-body li .count {
	font-size:0.8em;
	line-height:2em;
}

#score .panel-body li.current div {
	font-size:1em;
	font-weight:bold;
	color:#999;
}
#score .panel-body li.current .count {
	font-size:1em;
	line-height:2em;
}
#score .btn {
	margin:0px;
	width:100%;
}

/*  PANEL LIST */

.panel-body .panel-list {
  	border-top: 1px solid #BBB;
  	padding:0px;
  	margin:0px;
}
.panel-body .panel-list li {
  	position: relative;
 	display: block;
  	border-bottom: 1px solid #BBB;
  	_zoom: 1;
}
.panel-body .panel-list li div {
}

.panel-body .panel-list .count {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  margin: 0 0.3em;
  text-align: right;
  color: #999;
  font-weight: bold;
  font-size: 0.875em;
}
.panel-body .panel-list li:hover {
  background: #EFEFEF;
}

/* CHART LISTS */
.chartlist li div {
	display: block;
  	position: relative;
  	z-index: 2;
  	font-size:0.95em;
  	font-weight:bold;
  	padding:2px;
  	padding-left:10px;
}
.chartlist .index {
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background: rgba(60, 151, 100, 0.23);
  text-indent: -9999px;
  overflow: hidden;
}
.chartlist li:hover .index{
  background: rgba(123, 123, 123, 0.22);
}


#stats li.total {
	background-color:#ADADAD;
	color:#4D4D4D;
}
#stats li.total .count{
	color:#565656;
}


ul.user-list li {
	position:relative;
	height:30px;
	line-height:29px;
	clear:left;
}
ul.user-list  .avatar {
	display:block;
	width:28px;
	height:28px;
	float:left;
}
ul.user-list  .avatar img{
	width:28px;
	height:28px;
}
ul.user-list  .name {
	position:absolute;
	top:0px;
	width:100%;
	padding-left:35px;
	text-overflow:ellipsis;
	overflow:hidden;
}

#leaderboard .name {
	padding-right:20px;
}

#newsPanel li div {
	font-size:0.9em;
	width:90%;
}
#newsPanel li:hover {
	cursor:pointer;
}


#functionsReference li div {
	background-color:black;
	color:white;
	font-size:0.8em;
	width:100%;
	padding:2px;
	font-weight:bold;
}
#functionsReference li:hover {
	cursor:pointer;
}

#chatInput{
	width: 100%;
	resize: none;
	border: none;
	background-color: lightgray;
	color:black;
	font-weight: normal;
	padding: 3px;
	height: 30px;
}
#chatOutput li {
	height:auto;
	margin-bottom:2px;
	background-color:white;
}

#chatOutput .message{
	top:0px;
	line-height:1em;
	overflow:hidden;
	padding:3px;
}
#chatOutput .message div { width:100%; overflow:hidden; text-overflow:ellipsis; }
#chatOutput .message .text{ order:2; font-style:italic; margin:0px; }
#chatOutput .message .nickname { order:1; font-weight:bold; font-size:0.9em;}
#chatOutput .message .time { order:3; font-weight:bold; font-size:0.5em;}


/*
#chatOutput li {
	display:flex;
	padding:2px;
}
#chatOutput .message {
	background-color:black;
	padding:5px;
}
#chatOutput .message p {
	font-size:0.8em;
}

#chatOutput span:first-child {
	font-weight:bold;
}
*/

#task {
	padding:10px;
	background-color:white;
	border-radius:4px;
	border:1px solid lightgray;


	-webkit-box-shadow: 0px 2px 5px 0px gray;
	-moz-box-shadow:    0px 2px 5px 0px gray;
	box-shadow:         0px 2px 5px 0px gray;
}
#task>div {
	margin-bottom: 10px;
}

#taskHeader {
	padding: 0px;
	margin: 0px;
}

#taskDate {
	font-size: 12px;
	font-weight: normal;
}

#taskDescription {
	font-weight:normal;
	padding:0px;
	background-color: #dff0d8;
}

#taskForm {
	margin-top:10px;
	padding:10px;
	background-color: #fcf8e3;

}

#taskButtons {
	float:right;
}

#task .alert {
	padding:5px	;
	width:100%;
}

#popUpChangePicture .modal-footer {
	text-align:center;
}
#popUpChangePicture form {
	width:80%;
}


#userProfile img {
	cursor:pointer;
	width:40px;
	height:40px;
}

#reviewText {
	width:100%;
	height:60px;
	resize:none;
}

#taskForm .col-md-10, #taskForm .col-md-1 {
   margin:0px;
   padding:0px;
}


#taskForm .form-group {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}

.transparent { background-color: transparent; }


.testcases .testcase {
	margin-top:5px;
	margin-top:5px;
}

hr {margin:0px;
}

/* Search results styles in reuseSearch */
.result:hover {background:#dff0d8; cursor:pointer;}
.result { margin-top:10px; padding-left:10px;}
.selectedResult {background:rgb(229, 199, 179);color:black;}

.form-control-90 { width:90%; display:inline;}

/* Styles for the readonly code mirror box */
.readOnlyCodemirror .CodeMirror { text-align:left; font-weight:normal; height: auto;  }
.readOnlyCodemirror .CodeMirror-scroll { overflow-y: hidden; overflow-x: auto; }

/* Style for highlighted lines in CodeMirror */
.pseudoCall { background-color: white; color: gray; font-weight: bold; }
.pseudoCode { background-color: yellow;	}
.highlightPseudoCall { background-color: lime; }

.adtListTitle { background: black; color: white; height: 32px; line-height: 32px; }
