/* overwrite bootstrap classes */
.glyphicon { font-size:1em; }
.btn-primary { border-color:#3C9764; background-color:#3C9764; }

/* utils */

.fullwidth {
	width:100%;
}

.fullheight {
	height:100%;
}

/* main tags */
html,body { height: 100%; }
body {
	background-color: #f6f6f6;
	font-size: 12px;
}

.navbar {
	border-radius:0px;
	border:none;
	background: -webkit-linear-gradient(#3C9764, #3D7C58); /* For Safari 5.1 to 6.0 */
	background: -o-linear-gradient(#3C9764, #3D7C58); /* For Opera 11.1 to 12.0 */
	background: -moz-linear-gradient(#3C9764, #3D7C58); /* For Firefox 3.6 to 15 */
	background: linear-gradient(#3C9764, #3D7C58); /* Standard syntax */
	color: white;
}

.navbar .navbar-brand {
	color:white;
}
.navbar .navbar-nav > li > a {
	color:white;
	background-color:transparent;
}

.navbar .navbar-nav > li > a:hover{
	color:white;
	opacity:0.8;
}

.navbar img {
	width:20px;
}

#projectSelector {
	width:300px;
}


footer {
	display: none;
	bottom: 0;
	height: 40px;
	position: relative;
	width: 100%;
	background-color: #3C9764;
}
footer.navbar-default { background-color: #3C9764; }

/* wraps the content below the header */
.main-wrapper {
	width:100%;
	position:absolute;
    top:50px;
    left:0px;
    right:0px;
    bottom:0px;
}
.main-wrapper > div {

}


/* columns  */
#sidebarLeft {
	width:20%;
}
#sidebarRight {
	width:20%;
}

#content {
	width:60%;
    padding:0px;
    margin:0px;
    overflow:scroll;
    background-color: white;
}

#content > .wrapper {
	margin:5px;
	height:100%;
}

/* flex containers definition */
.container-flex-row, .container-flex-column {
	display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
	display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
	display: -ms-flexbox;      /* TWEENER - IE 10 */
	display: -webkit-flex;     /* NEW - Chrome */
	display: flex; 
}
.container-flex-row {
	display: flex;
	flex-direction: row;
	align-items: stretch;
	height:100%;
	width:100%; !important
}

.container-flex-column {
	display: flex;
	flex-direction: column;
}

.order-1 {
  -webkit-box-ordinal-group: 1;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 1;      /* OLD - Firefox 19- */
  -ms-flex-order: 1;              /* TWEENER - IE 10 */
  -webkit-order: 1;               /* NEW - Chrome */
  order: 1;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-2 {
  -webkit-box-ordinal-group: 2;   /* OLD - iOS 6-, Safari 3.2-6 */
  -moz-box-ordinal-group: 2;      /* OLD - Firefox 29- */
  -ms-flex-order: 2;              /* TWEENER - IE 20 */
  -webkit-order: 2;               /* NEW - Chrome */
  order: 2;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-3 {
  -webkit-box-ordinal-group: 3;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 3;      /* OLD - Firefox 19- */
  -ms-flex-order: 3;              /* TWEENER - IE 10 */
  -webkit-order: 3;               /* NEW - Chrome */
  order: 3;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-4 {
  -webkit-box-ordinal-group: 4;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 4;      /* OLD - Firefox 19- */
  -ms-flex-order: 4;              /* TWEENER - IE 10 */
  -webkit-order: 4;               /* NEW - Chrome */
  order: 4;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}
.order-5 {
  -webkit-box-ordinal-group: 5;   /* OLD - iOS 6-, Safari 3.1-6 */
  -moz-box-ordinal-group: 5;      /* OLD - Firefox 19- */
  -ms-flex-order: 5;              /* TWEENER - IE 10 */
  -webkit-order: 5;               /* NEW - Chrome */
  order: 5;                       /* NEW, Spec - Opera 12.1, Firefox 20+ */
}

.column-resizer {
	cursor:col-resize;
	width:3px;
	/*background-color: rgb(86, 85, 85);*/
}

.row-resizer {
	cursor:row-resize;
	height:3px;
	width:100%;
	/*background-color: rgb(86, 85, 85);*/
}

.row-resizer, .column-resizer {
	background-color: #C8C8C8;
}


/* sidebar */

.sidebar {
    overflow:hidden;
    padding:0px;
    margin:0px;
    position:relative;
    height: 100%;
    background-color:white;
}

.sidebar-wrapper {
	height:100%; !important;
	width:100%;
}
.sidebar ng-include {

}
.sidebar .panel {
	overflow:hidden;
	margin: 0px;
	border: none;
	border-radius: 0px;
	border:0px;
	margin-bottom:10px;
	box-shadow: none;
	color: gray;
	background-color: transparent;
	height:100%;
}

.sidebar .panel-heading {
	background-color:rgb(239, 239, 239);
	text-transform:uppercase;
	font-size:0.8em;
	border-radius: 0px;
	padding: 5px;
	color: gray;
	border:none;
	font-weight: bold;
}

.sidebar .panel-heading:hover{
	/*cursor:pointer; */
	/*background-color: rgb(181, 181, 181);*/
	color:black;
}

.sidebar .panel-body {
	padding:0px;
	overflow:auto;
	position:relative;
	width:100%;
	height:100%;
}



/* left bar panels */

#scorePanel ul {
	margin:0px;
}
#scorePanel .panel-body li div {
	font-size:0.7em;
	font-weight:bold;
}
#scorePanel .panel-body li .count {
	font-size:0.8em;
	line-height:2em;
}

#scorePanel .panel-body li.current div {
	font-size:1em;
	font-weight:bold;
	color:#999;
}
#scorePanel .panel-body li.current .count {
	font-size:1em;
	line-height:2em;
}
#scorePanel .btn {
	margin:0px;
	width:100%;
}

/*  PANEL LIST */

.panel-body .panel-list {
  	border-top: 1px solid #BBB; 
  	padding:0px;
  	margin:0px;
}
.panel-body .panel-list li { 
  	position: relative;
 	display: block;  
  	border-bottom: 1px solid #BBB; 
}
.panel-body .panel-list li div {

}

.panel-body .panel-list .count {
  display: block; 
  position: absolute; 
  top: 0; 
  right: 0px; 
  margin: 0 0.3em; 
  text-align: right; 
  color: #999; 
  font-weight: bold; 
  font-size: 0.875em; 
}
.panel-body .panel-list li:hover { 
  background: #EFEFEF; 
}

/* CHART LISTS */
.chartlist li div {
	display: block; 
  	position: relative; 
  	z-index: 2; 
  	font-size:0.95em;
  	font-weight:bold;
  	padding-right:20px;
}
.chartlist .index { 
	display: block; 
	position: absolute; 
	top: 0; 
	left: 0; 
	height: 100%; 
	background: rgba(60, 151, 100, 0.23); 
	text-indent: -9999px; 
	overflow: hidden; 
}
.chartlist li:hover .index{ 
  background: rgba(123, 123, 123, 0.22); 
}


#stats li.total { 
	background-color:#ADADAD;
	color:#4D4D4D;
}
#stats li.total .count{ 
	color:#565656;
}


ul.user-list li {
	position:relative;
	height:30px;
	line-height:29px;
	clear:left;
}
ul.user-list  .avatar {
	display:block;
	width:28px;
	height:28px;
	float:left;
}
ul.user-list  .avatar img{
	width:28px;
	height:28px;
}
ul.user-list  .name {
	position:absolute;
	top:0px;
	width:100%;
	padding-left:35px;
	text-overflow:ellipsis;
	overflow:hidden;
}

#leaderboard .name {
	padding-right:20px;
}

#newsPanel li div {
	font-size:0.9em;
	width:90%;
}
#newsPanel li:hover {
	cursor:pointer;
}


#functionsReference li div {
	background-color:black;
	color:white;
	font-size:0.8em;
	width:100%;
	padding:2px;
	font-weight:bold;
}
#functionsReference li:hover {
	cursor:pointer;
}

#chatPanel { 
}
#chatPanel .panel-body {
	height:100%;
	padding:0px;
	position:relative;
}

#chatInput{
	width:100%;
	position:absolute;
	bottom:23px;
	height: 30px;
	background-color: darkgray;
	color:white;
	border:none;
	padding:0px;
	margin:0px;
}
#chatOutput {
	width:100%;
	position:absolute;
	top:0px;
	bottom:54px;
	overflow-y:scroll;
	overflow-x:hidden;
}
#chatOutput li {
	height:auto;
	margin-bottom:2px;
	background-color:white;
}

#chatOutput .message{
	top:0px;
	line-height:1em;
	overflow:hidden;
	padding:3px;
}
#chatOutput .message div { width:100%; overflow:hidden; text-overflow:ellipsis; }
#chatOutput .message .text{ order:2; font-style:italic; margin:0px; }
#chatOutput .message .nickname { order:1; font-weight:bold; font-size:0.9em;}
#chatOutput .message .time { order:3; font-weight:bold; font-size:0.5em;}


/*
#chatOutput li {
	display:flex;
	padding:2px;
}
#chatOutput .message {
	background-color:black;
	padding:5px;
}
#chatOutput .message p {
	font-size:0.8em;
}

#chatOutput span:first-child {
	font-weight:bold;
}
*/

#task {
	padding:10px;
	
	/*
	background-color:white;
	border:1px solid lightgray;
	border-radius:4px;
	-webkit-box-shadow: 0px 2px 5px 0px gray;
	-moz-box-shadow:    0px 2px 5px 0px gray;
	box-shadow:         0px 2px 5px 0px gray;*/
}
#task>div {
	margin-bottom: 10px;
}

#taskHeader {
	padding: 0px;
	margin: 0px;
}

#taskDate {
	font-size: 12px;
	font-weight: normal;
}

#taskDescription {
	font-weight:normal;
	padding:0px;
	background-color: #dff0d8;
}

#taskForm {
	margin-top:10px;
	padding:10px;
	background-color: #fcf8e3;

}

#taskButtons {
	float:right;
}

#task .alert {
	padding:5px	;
	width:100%;
}

#popUpChangePicture .modal-footer {
	text-align:center;
}
#popUpChangePicture form {
	width:80%;
}


#userProfile img {
	cursor:pointer;
	width:30px;
	height:30px;
}

#reviewText {
	width:100%;
	height:60px;
	resize:none;
}

#taskForm .col-md-10, #taskForm .col-md-1 {
   margin:0px;
   padding:0px;
}


#taskForm .form-group {
	margin-left: 0px;
	margin-right: 0px;
	margin-bottom: 0px;

}

.transparent { background-color: transparent; }


.testcases .testcase {
	margin-top:5px;
}

hr {margin:0px;
}

.debugTests {
}
.debugTests li {
}

.debugTests .result { margin:0px; display:inline;}
.debugTests .description { margin-left:10px; display:inline;}
.debugTests .details {
	 margin-top:10px;
}

.console-frame {
	width: 100%;
	color: white;
	resize: vertical;
	overflow: scroll;
	height: 200px;
	padding:5px;
	padding-bottom:30px;

	background-color: black;
}

.console-output {
	margin:0px;
	padding:0px;
	list-style: none;
}


#feedbackBtn { margin:5px; }


/* Search results styles in reuseSearch */
.result:hover {background:#dff0d8; cursor:pointer;}
.result { margin-top:10px; padding-left:10px;}
.selectedResult {background:rgb(229, 199, 179);color:black;}

.form-control-90 { width:90%; display:inline;}

/* Styles for the readonly code mirror box */
.readOnlyCodemirror .CodeMirror { text-align:left; font-weight:normal; height: auto;  }
.readOnlyCodemirror .CodeMirror-scroll { overflow-y: hidden; overflow-x: auto; }

/* Style for highlighted lines in CodeMirror */
.pseudoCall { background-color: white; color: gray; font-weight: bold; }
.pseudoCode { background-color: yellow;	}
.highlightPseudoCall { background-color: lime; }

.adtListTitle { background: black; color: white; height: 32px; line-height: 32px; }
