<div id="achievementsPanel" class="container-fluid achievements" >
	<div>
		<div class="subTitle" style="color:yellow">Next Achievements:</div>
			<div id="board" >	
			<div id="columns">	
			  	<div class="pin" ng-repeat="(i,achievement) in listOfachievements | orderBy:'-(current/requirement)' | byCurrent"
					style="height:{{achievement.height}}px" >
			  	<div class="grayIcon"><img style="width:30px;height:{{achievement.height}}px" ng-src="{{ icon(achievement.condition).$value }}" /></div>					
								
				<div class="title">{{achievement.condition}}</div>			
				<div class="info">Completed {{achievement.current}} of {{achievement.requirement}} {{achievement.condition}}.</div>
								
				
			  	</div>
			</div>
			</div>
		<div class="subTitle">Unlocked:</div>
		<div id="board" >	
		<div id="columns">			
		  	<div class="pin" ng-repeat="(i,achievement) in listOfachievements | orderBy:'condition'" ng-if="listOfachievements.length > 0 && achievement.isUnlocked" 
				style="height:{{achievement.height}}px" >
		  	<div class="icon"><img style="width:30px;height:{{achievement.height}}px" ng-src="{{ icon(achievement.condition).$value }}" /></div>					
							
			<div class="title">{{achievement.condition}}</div>			
			<div class="info">Completed {{achievement.requirement}} {{achievement.condition}}.</div>
							
			
		  	</div>
		</div>
		</div>
		<span class="title"  ng-if="listOfachievements.length == 0" >
			No achievements yet.
		</span>
	</div>
</div>




