/* BOARD CSS */

.container-fluid {
	background-color:#D3D3D3;
	padding:0px;
	height: 100%
}

.title {
	width:100%;
	background-color: rgb(61,61,61);
	color:white;
	font-width:1.2em;
	font-weight:bold;
	padding-left:10px;
}

.col-md-10 { padding-right:0px; }
.sidebar { 
	padding-left:0px; 
	border-left:1px solid darkgray;	
	height:100%;
}

.sidebar .btn {
	margin:5px;
}


.horizontal-bar {
	background-color:darkgray;
	padding:5px 10px 5 10px;
	
}

#filterBar .label {
	margin-left:20px;
	cursor:pointer;
}

#filterBar .label-disabled { opacity:0.5; }

#orderBar > span {
	background-color:darkgray;
	margin-left:20px;
	font-size:0.8em;
	font-weight:bold;
	cursor:pointer;
}
#orderBar > span.disabled {
	opacity:0.5;
}

#board {
	width: 100%;
	height:33%;
	padding:30px;
}

#columns {
	
	-webkit-column-count: 1;
	-webkit-column-gap: 10px;
	-webkit-column-fill: auto;
	-moz-column-count: 1;
	-moz-column-gap: 10px;
	-moz-column-fill: auto;
	column-count: 1;
	column-gap: 15px;
	column-fill: auto;
}

.pin {
	
	width:200px;
	position:relative;
	display: inline-block;
	background: #FEFEFE;
	border: 2px solid #FAFAFA;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);
	margin: 10px;
	-webkit-column-break-inside: avoid;
	-moz-column-break-inside: avoid;
	column-break-inside: avoid;
	padding: 5px;

	background: -webkit-linear-gradient(45deg, #FFF, #F9F9F9);
	opacity: 1;
	
	-webkit-transition: all .05s ease;
	-moz-transition: all .05s ease;
	-o-transition: all .05s ease;
	transition: all .05s ease;

	z-index:1;
	
}
.pin .accept {
	opacity: 0;
	text-align:center;
	position:absolute;
	bottom:-37px;
	left:-2px;
	background-color:lightgray;
	width:200px;
	height:36px;
	box-shadow: 0 1px 2px rgba(34, 25, 25, 0.4);

}

/*
@-webkit-keyframes mymove {
    0%   {top: 0px; left: 0px; }
    25%  {top: 50px; left: 0px;}
    50%  {top: 50px; left: 50px; }
    75%  {top: 0px; left: 50px; }
    100%   {top: 0px; left: 0px; }
}*/


.pin .typeLabel {

	position: absolute;
	top: -10px;
	right: 0px;

}

.pin .funcLabel {

	position: absolute;
	top: -14px;
	left: -20px;

}

.pin img {
	width: 100%;
	border-bottom: 1px solid #ccc;
	padding-bottom: 15px;
	margin-bottom: 5px;
}

.pin p {
	font: 12px/18px Arial, sans-serif;
	color: #333;
	margin: 0;
}

.pin div.points {
	font-size:0.9em;
	text-align: center;
	font-weight:bold;
}
/*
@media (min-width: 960px) {
	#columns {
		-webkit-column-count: 4;
		-moz-column-count: 4;
		column-count: 4;
	}
}

@media (min-width: 1100px) {
	#columns {
		-webkit-column-count: 5;
		-moz-column-count: 5;
		column-count: 5;
	}
}*/

.pin:hover {
	opacity: 1;
	z-index:99;
	cursor:pointer;
    -webkit-animation: popout 0.2s 1;
    -webkit-animation-delay: 0s;
    -webkit-animation-fill-mode: forwards;
}
.pin:hover .accept {
    -webkit-animation: unroll 0.5s 1;
    -webkit-animation-delay: 0.5s;
    -webkit-animation-fill-mode: forwards;
}


/* Chrome, Safari, Opera */
@-webkit-keyframes popout {
    from { -webkit-transform: scale(1); }
    to { -webkit-transform:  scale(1.2); }
}

@-webkit-keyframes appear {
	0%   {  -webkit-transform:  scale(0.2); opacity:0;}
    40%  { opacity:1;}
    100% { -webkit-transform:  scale(1); }
}

@-webkit-keyframes disappear {
    0% { -webkit-transform:  scale(1); }
    60% {  -webkit-transform:  scale(0.2); }
    100%   { opacity:0; }
}

@-webkit-keyframes unroll {
	0%   { opacity:0; }
    100% { opacity:1; }
}

.pin.ng-enter {
    -webkit-animation: appear 0.5s 1;
    -webkit-animation-fill-mode: forwards;
}
.pin.ng-enter .label { opacity:0; }


.pin.ng-leave.ng-leave-active {
    -webkit-animation: disappear 0.5s 1;
    -webkit-animation-fill-mode: forwards;
}




.pastel-0 { background-color: #ceb48d;}
.pastel-1 { background-color: #83b5dd;}
.pastel-2 { background-color: #9eccb3;}
.pastel-3 { background-color: #9B90C8;}
.pastel-4 { background-color: #e46764;}
.pastel-5 { background-color: #f47d44;}
.pastel-6 { background-color: #006bb6;}
.pastel-7 { background-color: #b163a3;}



