<div class="panel-group adt-list" bs-collapse ng-model="ADTs.selectedADT">
    <div class="panel panel-default" ng-repeat="ADT in ADTs">
        <div class="panel-heading">
            <h4 class="panel-title">
            <a bs-collapse-toggle>
                {{ ADT.name }}
            </a>
            </h4>
        </div>
        <div class="panel-collapse" bs-collapse-target>
            <div class="panel-body">
                <span>{{ADT.description}} </span><br>
                <div ng-if="::(ADT.structure.length>0)">
                    <b>Data Structure</b><br>
                    <span>Name: {{::ADT.name}}</span><br>
                    <span>{</span><br>
                    <div ng-repeat="field in ADT.structure" >
                        <span>{{::field.type}} : {{::field.name}};</span><br>
                    </div>
                    <span>}</span>
                </div>

                <div  ng-if="::ADT.examples" >
                    <label for="test"><b>Examples:</b></label>
                    <button name= "test"ng-init="selectedExample=ADT.examples[0]" type="button" class="btn btn-default" ng-model="selectedExample" data-html="1" ng-options="example.name for example in ADT.examples" bs-select style="margin-bottom: 5px;">
                    </button>

                    <div ace-read-json ng-model="::selectedExample.value" class="adt-detail" copy-allowed></div>
                </div>
            </div>
        </div>
    </div>
</div>