<div ng-if="data.errors != undefined "> 
	Some errors has been found while running this test: <br />
	<strong>{{data.errors}}</strong>
</div>

<div ng-if="data.output != undefined">
	<table >
		<tr ng-repeat="(key,input) in data.test.rec.simpleTestInputs track by $index">
			<td>{{ addData.paramNames[key] }}</td>
			<td>
				<div ace-read-json ng-model="input" ></div>
			</td>
		</tr>
		<tr>
			<td>actual output</td>
			<td><div ace-read-json ng-model="data.output.actual" ></div></td>
		</tr>
		<tr>
			<td>expected output</td>
			<td><div ace-read-json ng-model="data.output.expected" ></div></td>
		</tr>
		<tr>
			<td>debug console</td>
			<td>
				<div ace-read-json ng-model="data.debug" ></div>
			</td>
		</tr>
	</table>
	<br />
	<button ng-if="!data.output.result" class="btn btn-primary btn-sm pull-right" ng-click="$emit('disputeTest',key);"> Dispute this test {{key}}</button>
	<div class="clearfix"></div>
</div>