 <ng-form name="inputForm" ng-repeat="(index,paramName) in funct.paramNames" >
	<div class="form-group" ng-class="{ 'has-error': inputForm.input.$dirty && inputForm.input.$invalid , 'has-success': inputForm.input.$valid}" >
		<label for="input">{{paramName}} ({{funct.paramTypes[index]}}): </label>
		<textarea class="form-control" name="input" ng-model="testData.inputs[index]" ng-attr-required="dispute" json="{{funct.paramTypes[index]}}" ></textarea>
		<ul class="help-block" ng-show="inputForm.input.$dirty && inputForm.input.$invalid">
			<li ng-show="inputForm.input.$error.required" >This field is required!</li>
			<li ng-show="inputForm.input.$error.json" >
				<span>There are JSON errors. Please fix them:</span>
				<ul ng-repeat="error in inputForm.input.$error.json">
					<li>{{error}}</li>
				</ul>
			</li>
		</ul>
	</div>
</ng-form>