<div>
	<p> <strong>Not sure how to do something?</strong>
		Indicate a line as <strong>pseudocode</strong>
		by beginning it with
		<span class="pseudoCode">'//#'</span>
	</p>

	<p>
		<strong>Want to call a function?</strong>
		Write a
		<strong>pseudocall</strong>
		beginning it with
		<span class="pseudoCall">'//! functionName'</span>
	</p>
	
	<b>Example:</b>
	<code-mirror-readonly code="pseudocall"></code-mirror-readonly>

	<br />
	<p>
		Note that all function calls are passed by value (i.e., if you pass an
		object to a function and the function changes the object you will not
		see the change).
	</p>

	<!--<p>
		<strong>IMPORTANT:</strong>
		If you think the function may require more than a few minutes to write, 
		please use pseudocode and psuedocalls to break up the function into smaller 
		pieces that others can work on. If you've gotten two or more reminders to submit, YOU SHOULD SUBMIT NOW!
	</p>-->
</div>