<div class="function-conventions">
	<p>
		Use <strong style="text-transform:uppercase">pseudocode</strong> to sketch an implementation by using the syntax
		'<span class="pseudoCode">//#  sketch of implementation</span>'.
		<pre ng-bind-html="examplePseudocode"></pre>
	</p>

	<p>
		Use FUNCTION STUBS to request a function call to a new or existing function. Call the function as normal, and define a FUNCTION STUB at the bottom with a short description, header, and an empty body.
		<pre ng-bind-html="examplePseudocall"></pre>
	</p>
	<p>
		<b>Note:</b> all function calls are pass by value (i.e., if you pass an
		object to a function, and the function changes the object, you will not
		see the changes).
	</p>
</div>