<div class="function-conventions">
	<p> 
		Use the <strong style="text-transform:uppercase">pseudocode</strong> to sketch something 
		with the syntax <span class="pseudoCode">'//# pseudocode'</span>.
		<pre ng-bind-html="examplePseudocode"></pre>
	</p>

	<p>
		Use the <strong style="text-transform:uppercase">pseudocalls</strong> to request other functions
		adding a line of description, the header and an empty body for the 
		requested function at the bottom of the code editor.
		<pre ng-bind-html="examplePseudocall"></pre>
	</p>
	<p>
		<b>Note:</b> all function calls are pass by value (i.e., if you pass an
		object to a function, and the function changes the object, you will not
		see the changes).
	</p>
</div>