<div id="leaderboard" class="panel panel-default " ng-controller="LeaderboardController">
	<div class="panel-heading">Leaders</div>
	<table class="panel-body">
			<tr ng-if="leaders.length > 0" id="leader" ng-repeat="leader in leaders | orderBy:'-score'" class="{{ (onlineWorkers.$indexFor(leaders.$keyAt(leader))>-1) && 'loggedIn' || '' }}">
			    <td><img src="/user/picture?userId={{ leaders.$keyAt(leader) }}" alt="{{ leader.name }}" /></td>
			    <td>{{ leader.name }}</td>
			    <td>{{ leader.score }}</td>
		    </tr>
		    <tr ng-if="leaders.length == 0">
		    	<td>no leaders yet!</td>
		    </tr>
	</table>
</div>