<div id="stats" class="panel panel-default " ng-controller="StatsController">
	<div class="panel-heading">Your Stats</div>
	<div class="panel-body">
		<span id="locCountSpan" class="badge">{{locCount}}</span><small>&nbsp;lines of code&nbsp;&nbsp;</small><br /> 
		<span id="microtaskCountSpan" class="badge">{{microtasksCount}}</span><small>&nbsp;microtasks&nbsp;&nbsp;</small><br />
		<span id="functionCountSpan" class="badge">{{functionsCount}}</span><small>&nbsp;functions&nbsp;&nbsp;</small><br />
		<span id="testCountSpan" class="badge">{{testsCount}}</span><small>&nbsp;tests&nbsp;&nbsp;</small>
	</div>
</div>