<div class="typeBrowser" ng-controller="typeBrowserController">
	<div class="adtListTitle">&nbsp;Types&nbsp;&nbsp;
	   <span class="adtSubtitle"> {{ADTs.length}}Type names may be String, Boolean, Number, any type 
	   below (bold text), and arrays of any type (e.g., String[], Number[][]).</span>
	    <!-- <span id="adtSearch" class="adtSearch">Search: <input type="text" class="input-small"/></span> -->
	</div>
	<table id='ADTList' class='adtList' ng-repeat="ADT in ADTs">
	
		<tr>
			<td> <b>{{ ADT.name}}</b>&nbsp;&nbsp; properties-  </td>
		</tr>
		<tr ng-repeat="ADTStructure in ADT.structure">
			 <td>{{ ADTStructure.name }} : {{ ADTStructure.type }}</td>
		</tr>
		<tr> 
			<td > <pre class="ADTDescriptionText">{{ADT.description}}</pre></td> 
		</tr>
		<tr></tr>	

	</table>
</div>
