<div class="modal" tabindex="-1" role="dialog" ng-controller="UserProfileController" >
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">Choose an avatar!</h4>
			</div>
			<div class="modal-body" style="">

				
				<img ng-src="{{ avatar( workerId ).$value }}" alt="{{workerHandle}}" style="width:100px" class="pull-left" />
				<span class="clearfix"></span>

				<hr />

				<h3>Select a profile avatar</h3>

				<img ng-src="{{galleryPath}}avatar{{num}}.png" alt="{{workerHandle}}" ng-click="selectAvatar(num)" class="avatar {{selectedAvatar==num ? 'selected' : '' }} pull-left" ng-repeat="num in [1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16]"/>
				<span class="clearfix"></span>

<!--
				<hr />
				<h3>Or upload a picture</h3>
				<input type="file" file-model="uploadedAvatar"/>-->
    			
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-primary" ng-click="saveAvatar(); $hide()">Save</button>
				<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
			</div>
		</div>
	</div>
</div>