<!DOCTYPE html>
<html lang="en" ng-app="clientRequest">
<head>

	<title>CrowdCode Client Request Editor</title>


	<link rel="stylesheet" href="/include/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/styles.css">


</head>
<body ng-controller="ClientRequestController">

	<script src="/include/jquery-2.1.0.min.js"></script>
	<script src="/include/bootstrap/js/bootstrap.min.js"> </script>
	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
	<script src="/include/polyfill.js"></script>
	<script src="/include/jshint.js"></script>
	<script src="/js/errorCheck.js"></script>
	<script src="/js/functionSupport.js"></script>
	<script src="/js/ADTandDataCheck.js"></script>





	<!-- Javascript 3rd part libraries -->
	<script src="/include/jquery-2.1.0.min.js"></script>
	<script src="/include/polyfill.js"></script>
	<script src="/include/jshint.js"></script>
	<script src="/include/bootstrap/js/bootstrap.min.js"> </script>
	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script>
	<script src='/include/esprima.js'></script>
	<script src='/include/escodegen.browser.js'></script>

	<script src="/include/angular/angular.min.js"></script> <!-- AngularJS -->
	<script src="/include/angular/ui-bootstrap-tpls-0.11.2.min.js"></script> <!-- bootstrap ui for AngularJS -->
    <script src="/include/angular-diff/angular-diff.js"></script><!-- Angular substitute of PrettyTextDiff -->
    <script src="/include/angular-animate/angular-animate.min.js"></script><!-- Angular animate -->
    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular-sanitize.js"></script>



	<script src="https://cdn.firebase.com/js/client/1.0.21/firebase.js"></script> <!-- firebase -->
	<script src="https://cdn.firebase.com/libs/angularfire/0.8.2/angularfire.min.js"></script> <!-- angularfire -->

	<script src="/js/JSONValidator.js"></script>


	<!-- Angular Application -->
	<script src="/js/clientRequest/application.js"></script>


	<!-- Angular Controllers -->
	<script src="/js/clientRequest/controller.js"></script>

	<!-- Angular directives -->
	<script src="/js/clientRequest/directives.js"></script>

	<ng-form name="form" class="row-fluid">

		<h3>Welcome to the <b>CrowdCode Client Request Editor</b></h3>
		Enter a project name in the textbox below to retrieve the client request for the project.
		If it does not exist, it will be created. Use the special project name "default" to
		set the client request for projects that do not have a client request specified.<BR><BR>
		<ng-form class="col-md-12" name="projectNameForm">
			<div class="col-md-3 form-group"
				ng-class="{ 'has-error': projectNameForm.projectName.$dirty && projectNameForm.projectName.$invalid , 'has-success': projectNameForm.projectName.$valid}">

				<input class="form-control input-sm" type="text" ng-model="projectName" name="projectName"
				placeholder="Project Name" required ng-pattern="/^[a-zA-Z0-9_]+$/"/>

				<ul class="help-block" ng-show="projectNameForm.projectName.$dirty && projectNameForm.projectName.$invalid">
					<li ng-show="projectNameForm.projectName.$error.required">This field is required!</li>
					<li ng-show="projectNameForm.projectName.$error.pattern">Is not a valid name! only use a-zA-Z0-9_</li>
				</ul>

			</div>
			<button ng-click="load()" class="col-md-1 btn btn-small " ng-disabled="projectNameForm.$invalid || !projectNameForm.projectName.$dirty">Load</button>
		</ng-form>



		<h4>ADTs</h4>
		Describe ADTs with a description, name, and structure, The JSON structure should be of the form
		<b>fieldA: TypeName, fieldB: String</b>, where each TypeName is either defined separately as an
		ADT or is one of the three primitives String, Number, Boolean. To indicate an n-dimensional array, add
		n sets of brackets after the type name (e.g., 2 dimensional array - TypeName[][]). The description should describe
		any rules about the ADT and include an example of a value of the ADT in JSON format.<BR><BR>
		<ng-form name="ADTForm"class="col-md-12 ADTContainer ADT" ng-repeat="(ADTindex, ADT) in ADTs">
			<div class="col-md-11">
				<span ng-class="{ 'has-error': ADTForm.description.$dirty && ADTForm.description.$invalid , 'has-success': ADTForm.description.$valid}">
					<span class="col-md-2">Description:</span>
					<textarea
					class="col-md-8 form-control input-sm" draggable="false" name="description"
					placeholder="Can you briefly describe the purpose and behavior of the ADT?" ng-model="ADT.description" required>
					</textarea>

					<span class="help-block" ng-show="ADTForm.description.$dirty && ADTForm.description.$invalid && ADTForm.description.$error.required">
						This field is required!
					</span>
				</span>
			</div>
			<button ng-click="deleteADT(ADTindex)" class="col-md-1 btn btn-sm">Delete ADT</button>
			<div class="col-md-11">
				<span ng-class="{ 'has-error': ADTForm.example.$dirty && ADTForm.example.$invalid , 'has-success': ADTForm.example.$valid}">
					<span class="col-md-2">Example:</span>

					<textarea
					class="col-md-8 form-control input-sm" draggable="false" name="example"
					placeholder="Can you write an esemple of the ADT?" ng-model="ADT.example" ng-attr-required="dispute" json1="{{ADT.name}}" required>
					</textarea>

					<ul class="help-block" ng-show="ADTForm.example.$dirty && ADTForm.example.$invalid">
						<li ng-show="ADTForm.example.$error.required">This field is required!</li>
						<li ng-show="ADTForm.example.$error.json1" >
							<span>There are JSON errors. Please fix them:</span>
							<ul ng-repeat="error in ADTForm.example.$error.json_errors">
								<li>{{error}}</li>
							</ul>
						</li>
					</ul>
				</span>
			</div>

			<span class="col-md-12" ng-class="{ 'has-error': ADTForm.ADTName.$dirty && ADTForm.functionName.$invalid , 'has-success': ADTForm.functionName.$valid}">
				<span class="col-md-2">Name: </span>
				<span class="col-md-3">
					<input class="form-control input-sm" type="text" id="name"
					placeholder="ADT Name" name="ADTName" ng-model="ADT.name" required ng-pattern="/^[a-zA-Z0-9_]+$/"  >

					<ul class="help-block" ng-show="ADTForm.ADTName.$dirty && ADTForm.ADTName.$invalid">
						<li ng-show="ADTForm.ADTName.$error.required">This field is required!</li>
						<li ng-show="ADTForm.ADTName.$error.pattern">Is not a valid ADT name! Only use a-zA-Z0-9_</li>
					</ul>
				</span>
			</span>
			<div >
				<span class="col-md-12"><br>	JSON structure:<br><br></span>
					<ng-form class="col-md-11" name="ADTStructureForm" ng-repeat="structure in ADT.structure track by $index ">

						<span class="col-md-2"> name:</span>
						<div class="col-md-3 form-group"
						ng-class="{ 'has-error': ADTStructureForm.fieldName.$dirty && ADTStructureForm.fieldName.$invalid , 'has-success': ADTStructureForm.fieldName.$valid}">

							<input class="form-control input-sm" type="text" ng-model="structure.name" name="fieldName"
							placeholder="Field Name" required ng-pattern="/^[a-zA-Z0-9_]+$/"/>

							<ul class="help-block" ng-show="ADTStructureForm.fieldName.$dirty && ADTStructureForm.fieldName.$invalid">
								<li ng-show="ADTStructureForm.fieldName.$error.required">This field is required!</li>
								<li ng-show="ADTStructureForm.fieldName.$error.pattern">Is not a valid Field name! Only use a-zA-Z0-9_</li>
							</ul>
						</div>

						<span class="col-md-2"> type:</span>
						<div class="col-md-3 form-group"
						ng-class="{ 'has-error': ADTStructureForm.fieldType.$dirty && ADTStructureForm.fieldType.$invalid , 'has-success': ADTStructureForm.fieldType.$valid}">

							<input class="form-control input-sm" type="text" ng-model="structure.type" name="fieldType"
								placeholder="Field Type" adt-validator required press-enter="addStructure(ADTindex)"/>

							<ul class="help-block" ng-show="ADTStructureForm.fieldType.$dirty && ADTStructureForm.fieldType.$invalid">
								<li ng-show="ADTStructureForm.fieldType.$error.required">This field is required!</li>
								<li ng-show="ADTStructureForm.fieldType.$error.adt">{{ADTStructureForm.fieldType.$error.adt_errors}}</li>
							</ul>
						</div>
						<div class="col-md-1">
							<button ng-click="deleteStructure(ADTindex,$index)" class="btn btn-sm">X</button>
						</div>
					</ng-form>
					<button ng-click="addStructure(ADTindex)" class="col-md-1 btn btn-sm">Add Field</button>
				</div>


			</ng-form>

			<button ng-click="addADT()" class="btn btn-small">Add ADT</button>

			<h4>Functions</h4>
			Describe functions with a name, comma delimeted list of parameters, comma delimeted list of parameter
			types (ADTs or simple types), description with surrounding comments bracket, and code with surrounding
			function brackets. The function description should end with a line for each of the parameters and
			return value (if any) in the folloing form: " * @param [Type] [name] - [description]" and " @return [Type]".
			 <BR>
			<ng-form name="functionForm"  class="col-md-12 ADTContainer" id="functions" ng-repeat="(functionIndex,function) in functions">

				<span class="col-md-10"  ng-class="{ 'has-error': functionForm.description.$dirty && functionForm.description.$invalid , 'has-success': functionForm.description.$valid}">
					<textarea
					id="functionDescription" class="col-md-8 form-control input-sm" draggable="false" name="description"
					placeholder="Can you briefly describe the purpose and behavior of the function?" ng-model="function.description" required>
					</textarea>

					<span class="help-block" ng-show="functionForm.description.$dirty && functionForm.description.$invalid && functionForm.description.$error.required">
						This field is required!
					</span>
				</span>
				<button ng-click="deleteFunction(functionIndex)" class="col-md-2 btn btn-sm">Delete Function</button>

				<span class="col-md-12" ng-class="{ 'has-error': functionForm.returnType.$dirty && functionForm.returnType.$invalid , 'has-success': functionForm.returnType.$valid}">
					<span class="col-md-2">returns</span>
					<span class="col-md-3">
						<input class="form-control input-sm" type="text" id="returnType"
						placeholder="return type" name=returnType ng-model="function.returnType" adt-validator>
						<span class="help-block" ng-show="functionForm.returnType.$dirty && functionForm.returnType.$invalid && functionForm.returnType.$error.adt">
								 {{functionForm.returnType.$error.adt_errors}}
						</span>

					</span>
				</span>


				<span class="col-md-12" ng-class="{ 'has-error': functionForm.functionName.$dirty && functionForm.functionName.$invalid , 'has-success': functionForm.functionName.$valid}">
					<span class="col-md-2">function</span>
					<span class="col-md-3">
						<input class="form-control input-sm" type="text" id="name"
						placeholder="functionName" name="functionName" ng-model="function.name" required ng-pattern="/^[a-zA-Z0-9_]+$/"  >

						<ul class="help-block" ng-show="functionForm.functionName.$dirty && functionForm.functionName.$invalid">
							<li ng-show="functionForm.functionName.$error.required">This field is required!</li>
							<li ng-show="functionForm.functionName.$error.pattern">Is not a valid function name!</li>
						</ul>
					</span>

					<span class="col-md-1">(</span>
				</span>



				<ng-form name="parameterForm" ng-repeat="name in function.paramNames track by $index "> <span class="col-md-10">
					<div class="col-md-2 form-group"
					ng-class="{ 'has-error': parameterForm.paramName.$dirty && parameterForm.paramName.$invalid , 'has-success': parameterForm.paramName.$valid}">

						<input class="form-control input-sm" type="text" ng-model="function.paramNames[$index]" name="paramName"
							placeholder="Parameter Name" required ng-pattern="/^[a-zA-Z0-9_]+$/"/>

						<ul class="help-block" ng-show="parameterForm.paramName.$dirty && parameterForm.paramName.$invalid">
							<li ng-show="parameterForm.paramName.$error.required">This field is required!</li>
							<li ng-show="parameterForm.paramName.$error.pattern">Is not a valid parameter name!</li>
						</ul>

					</div>

					<span class="col-md-1"> , // </span>

					<div class="col-md-2 form-group"
						ng-class="{ 'has-error': parameterForm.paramType.$dirty && parameterForm.paramType.$invalid , 'has-success': parameterForm.paramType.$valid}">

						<input class="form-control input-sm" type="text" ng-model="function.paramTypes[$index]" name="paramType"
							placeholder="Parameter Type" adt-validator required/>

						<ul class="help-block" ng-show="parameterForm.paramType.$dirty && parameterForm.paramType.$invalid">
							<li ng-show="parameterForm.paramType.$error.required">This field is required!</li>
							<li ng-show="parameterForm.paramType.$error.adt">{{parameterForm.paramType.$error.adt_errors}}</li>
						</ul>

					</div>
					<span class="col-md-1"> - </span>

					<div class="col-md-3 form-group"
						ng-class="{ 'has-error': parameterForm.paramDescritpion.$dirty && parameterForm.paramDescritpion.$invalid , 'has-success': parameterForm.paramDescritpion.$valid}">
						<input class="form-control input-sm" type="text" ng-model="function.paramDescriptions[$index]" name="paramDescritpion"
							placeholder="Parameter Description" required  press-enter="addParameter(functionIndex)"/>

						<ul class="help-block" ng-show="parameterForm.paramDescritpion.$dirty && parameterForm.paramDescritpion.$invalid">
							<li ng-show="parameterForm.paramDescritpion.$error.required">This field is required!</li>
						</ul>

					</div>
					<div class="col-md-1">
						<button ng-click="deleteParameter(functionIndex,$index)" class="btn btn-sm">X</button>
					</div>
				</span>
				</ng-form>
				<button ng-click="addParameter(functionIndex)" class="col-md-2 btn btn-sm">Add Parameter</button>
			</ng-form>
		<button ng-click="addFunction()" class="btn btn-small">Add function</button><BR>
		<BR>
		</ng-form>
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="form.$invalid" >Submit</button>


</body>
</html>
