html	{ background:#eee }
body	{ margin:0; padding:0; }
textarea { -webkit-user-select: auto; }
#container, #titlebar, #footer { width: 1040px; margin: 0 auto; }
#leftbar, #rightbar, #contentPane { float:left; }

#titlebar { background:#1B87E0; }
#titlebar h4 { color:white; padding:5px; }

#leftbar {background: none repeat scroll 0 0 white; margin-right: 4%; margin-top: 26%; text-align: center; width: auto; }
#scoreTable { width: 140px; margin-left:auto; margin-right:auto; background:#EBEBEB;
					border-color:#9E9E9E;}
#score p { font-size: larger;}

#contentPane { width: 640px; background:#fff;  border-radius: 5px; }
#errors{ color:red; background-color:lightgrey;}
#rightbar { background: none repeat scroll 0 0; margin-left: 4%;margin-top: 23%;width: auto;}
#leaderboardTable { margin-left:auto; margin-right:auto; background:#EBEBEB; border-width:1px;
					border-radius:10px; border-color:#9E9E9E; border-style: solid; }
#leaderboardTable td { padding-right:10px;   }
#leaderboardTableTitle p { font-weight: bold;  }
#leaderboard{border-radius: 10px 10px 10px 10px;}
#mainpagebody{background:none;}
#userStory{ width:100%; height: 400px; resize:none; border: 1px solid black; padding: 0;}
#functionDescription{ width:95%; }

#footer {     background: none repeat scroll 0 0 transparent;float: left;margin-top: 10px;text-align: center;width: 100%;}
#footer p { font-size:x-small; }
#footer table {margin-left:auto; margin-right:auto;}
#footer td { padding-right:20px;  }

/* Search results styles */
.result:hover {background:lightblue;}
.selectedResult {background:blue;}


/* Button styles */
.closeButton {
	background-color:#bdbdbd;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:1px 5px;
	text-decoration:none;
}.closeButton:hover {
	background-color:#dedede;
}.closeButton:active {
	position:relative;
	top:1px;
}


.identifierInput {
	border: 2px dashed #D1C7AC;
		outline: none;
}.identifierInput:active {

}



