html	{ background:#eee }
body	{ margin:0; padding:0; overflow-x: hidden; }
textarea { -webkit-user-select: auto; }
#container, #titlebar, #footer { width: 1040px; margin: 0 auto; }
#leftbar, #rightbar, #contentPane { float:left; }

#activityFeed {  float: top;  height: 60px; }
input {border-radius: 15px;}
.modal-backdrop {background: none;}
 #activityFeedTable
      {
         overflow-y: scroll;  overflow-x: hidden; height:397px; width:180px; background:#D9D9D9; 
         margin-left:0%; margin-right:0%; border-style:solid; border-width:2px; font-size:75%;
    	border-color:#8F8F8F;
        -webkit-transition-property:color, background-color;  
 		-webkit-transition-duration: .2s, .2s;  
 		-webkit-transition-timing-function: linear, ease-in;  
      }
      

      
      
   #activityFeedTable tr
      {
         background:white; 
        -webkit-transition-property:color, background-color;  
 		-webkit-transition-duration: .1s, .1s;  
 		-webkit-transition-timing-function: linear, ease-in;  
      }  
      
    #activityFeedTable td
    {
    	padding-top:3px;
    	padding-bottom:3px;
    }
      
        
      
   #activityFeedTable tr:hover
{
	background-color: #ffdb66;
	cursor:pointer;
	
}

 #activityFeedTitle 
{
	background:#5FABE9;
	height:25px;
	width:180px;
	margin-bottom:3%;
	padding-top:5%;
	color:white;
	font-size: larger;
	font-weight:bold;
	border-radius:3px;
	
	
}

 #leaderboardTitle 
{
	background:#5FABE9;
	height:30px;
	width:175px;
	margin-bottom:3%;
	margin-top:25%;
	padding-top:5%;
	color:white;
	font-size: larger;
	font-weight:bold;
	border-radius:3px;
	
}

#statistics p { font-size: small; }
#statistics small { font-size: x-small; color:white; }
#statistics  { font-size: x-small; float:right; }

 #scoreTableTitle 
{
	background:#5FABE9;
	height:30px;
	width:177px;
	margin-bottom:3%;
    border-radius:3px;
	padding-top:5%;
	color:white;
	font-size: larger;
	font-weight:bold;
	
}

     
  ::-webkit-scrollbar {
width: 10px;
height: 60px;
}

::-webkit-scrollbar-button:start:decrement,
::-webkit-scrollbar-button:end:increment  {
height: 10px;
display: block;
background-color:#1B87E0;
}

::-webkit-scrollbar-track-piece  {
background-color: #E6E6E6;
-webkit-border-radius: 6px;
}

::-webkit-scrollbar-thumb:vertical {
height: 50px;
background-color: #858585;
border: 1px solid #eee;
-webkit-border-radius: 6px;
}

#titlebar { background:#1B87E0; }
#titlebar h4 { color:white; padding:5px; }

#leftbar {background: none; margin-right: 2%; margin-top: 1%; text-align: center; width: auto; }
#scoreTable { 
	width: 177px; margin-left:0%; margin-right:auto; background:#CFCFCF;
	border-color:#8F8F8F; border-style:solid;
	border-width:2px;   border-radius:10px;
    -webkit-transition-property:color, background-color;  
 	-webkit-transition-duration: .2s, .2s;  
 	-webkit-transition-timing-function: linear, ease-in;  
font-family: ‘Lucida Console’, Monaco, monospace;
					}
#score p { font-size: larger; }

#contentPane { width: 640px; background:#ffdb66;  border-radius: 5px; margin-left:3%; }
#contentPane h4, h5 {margin-left:2%;}
#errors{ color:red; background-color:lightgrey;}
#rightbar { background: none repeat scroll 0 0; margin-top: 0%;width: auto; float:right;}
#leaderboardTable 
{		 margin-left:auto; margin-right:auto; background:#CFCFCF; border-width:2px;
		 border-radius:10px; border-color:#8F8F8F; border-style: solid; margin-top:0%;
		 width:175px; height: 50px; float:left;
		-webkit-transition-property:color, background-color;  
 		-webkit-transition-duration: .2s, .2s;  
 		-webkit-transition-timing-function: linear, ease-in;  
 		font-family: ‘Lucida Console’, Monaco, monospace;
 		
					}
#leaderboardTable td { padding-right:10px;   }
#leaderboardTableTitle p, tr { font-weight: bold;  }
#leaderboard{border-radius: 10px 10px 10px 10px;}
#mainpagebody{background:none;}
#userStory{font-size:200%; width:98%; height: 400px; resize:none; margin-left: 1%; border: 2px solid black; padding: 0; 

 -webkit-transition-property:color, background-color;  
 -webkit-transition-duration: .9s, 0.5s;  
 -webkit-transition-timing-function: linear, ease-in;  

 -moz-transition-property:color, background-color;  
 -moz-transition-duration: .9s, 0.5s;  
 -moz-transition-timing-function: linear, ease-in;  

 -o-transition-property:color, background-color;  
 -o-transition-duration: .9s, 0.5s;  
 -o-transition-timing-function: linear, ease-in;  


}

#userStory:hover  
{
	
	background-color: #4B98D7;
	color: #FFFFFF;
	
}
#functionDescription{ width:95%; }

#footer {     background: none repeat scroll 0 0 transparent;float: left;margin-top: 10px;text-align: center;width: 100%;}
#footer p { font-size:x-small; }
#footer table {margin-left:auto; margin-right:auto;}
#footer td { padding-right:20px;  }

/* Search results styles */
.result:hover {background:lightblue;}
.selectedResult {background:blue;}

/* CodeMirror code editor */
.CodeMirror {
  border: 1px solid #eee;
  height: auto;
  width: 600px;
}


/* Button styles */
.closeButton {
	background-color:#bdbdbd;
	-moz-border-radius:14px;
	-webkit-border-radius:14px;
	border-radius:14px;
	border:1px solid #dcdcdc;
	display:inline-block;
	color:#777777;
	font-family:arial;
	font-size:11px;
	font-weight:bold;
	padding:1px 5px;
	text-decoration:none;
}
.closeButton:hover {
	background-color:#dedede;
}

.closeButton:active {
	position:relative;
	top:1px;
}

.identifierInput {
	border: 2px dashed #D1C7AC;
		outline: none;
}.identifierInput:active {

}

.reference {
	color:#444;
}

