html	{ background:#eee }
body	{ margin:0; padding:0; overflow-x: hidden; }
textarea { -webkit-user-select: auto; }
h5		{ padding: 0px; margin: 0px; border-radius: 0px;}
#container, #titlebar, #footer { width: 1040px; margin: 0 auto; }
#leftbar, #rightbar, #contentPane { float:left; }

#activityFeed {  float: top;  height: 60px; }
input {border-radius: 15px;}
.modal-backdrop {background: none;}
 #activityFeedTable
      {
         overflow-y: scroll;  overflow-x: hidden; height:497px; width:180px; background:#D9D9D9; 
         margin-left:0%; margin-right:0%; border-style:solid; border-width:2px; font-size:75%;
    	border-color:#8F8F8F;
        -webkit-transition-property:color, background-color;  
 		-webkit-transition-duration: .2s, .2s;  
 		-webkit-transition-timing-function: linear, ease-in;  
      }
     
      
   #activityFeedTable tr
      {
         background:white; 
        -webkit-transition-property:color, background-color;  
 		-webkit-transition-duration: .1s, .1s;  
 		-webkit-transition-timing-function: linear, ease-in;  
      }  
      
    #activityFeedTable td
    {
    	padding-top:3px;
    	padding-bottom:3px;
    }
      
        
      
   #activityFeedTable tr:hover
{
	background-color: #ffdb66;
	cursor:pointer;
	
}

 #activityFeedTitle 
{
	background:#5FABE9;
	height:25px;
	width:180px;
	margin-bottom:3%;
	padding-top:5%;
	color:white;
	font-size: larger;
	font-weight:bold;
	border-radius:3px;
	
	
}

 #leaderboardTitle 
{
	background:#5FABE9;
	height:30px;
	width:175px;
	margin-bottom:3%;
	margin-top:25%;
	padding-top:5%;
	color:white;
	font-size: larger;
	font-weight:bold;
	border-radius:3px;
	
}

#statistics p { font-size: small; }
#statistics small { font-size: x-small; color:white; }
#statistics  { font-size: x-small; float:right; }

 #scoreTableTitle 
{
	background:#5FABE9;
	height:30px;
	width:177px;
	margin-bottom:3%;
    border-radius:3px;
	padding-top:5%;
	color:white;
	font-size: larger;
	font-weight:bold;
	
}

#titlebar { background:#1B87E0; }
#titlebar h4 { color:white; padding: 5px; border-width:0px; margin:0px;  }  
#titlebar table { padding: 0px; border-width:0px; margin:0px; }
.titlebarScore { align:right; width: 100% }


#leftbar {background: none; margin-right: 2%; margin-top: 1%; text-align: center; width: auto; }
#scoreTable { 
	width: 177px; margin-left:0%; margin-right:auto; background:#CFCFCF;
	border-color:#8F8F8F; border-style:solid;
	border-width:2px;   border-radius:10px;
    -webkit-transition-property:color, background-color;  
 	-webkit-transition-duration: .2s, .2s;  
 	-webkit-transition-timing-function: linear, ease-in;  
font-family: Lucida Console, Monaco, monospace;
					}
#score p { font-size: larger; }

#contentPane { width: 610px; background:white;  border-radius: 10px; margin-left:3%; padding: 15px;
				box-shadow: 10px 10px 5px #888888;	}
#contentPane h4, h5 {margin-left:2%;}
#microtaskValueTD { width: 250px;}
#microtaskTitleTable { padding: 0px; margin: 0px; }
.microtaskTitleHeadings { padding: 0px; margin: 0px; line-height:14px; }

#errors{ color:red; background-color:lightgrey;}
#rightbar { background: none repeat scroll 0 0; margin-top: 0%;width: auto; float:right;}
#leaderboardTable 
{		 margin-left:auto; margin-right:auto; background:#CFCFCF; border-width:2px;
		 border-radius:10px; border-color:#8F8F8F; border-style: solid; margin-top:0%;
		 width:175px; height: 50px; float:left;
		-webkit-transition-property:color, background-color;  
 		-webkit-transition-duration: .2s, .2s;  
 		-webkit-transition-timing-function: linear, ease-in;  
 		font-family: Lucida Console, Monaco, monospace; 		
}
#leaderboardTable td { padding-right:10px; font-size: smaller;   }
#leaderboardTableTitle p, tr { font-weight: bold;  }
#leaderboard{border-radius: 10px 10px 10px 10px;}
#feedbackBox { width: 100%; height: 150px; resize:none; font-size: smaller}
#feedbackThanks { font-size: smaller; color: green; visibility: hidden; }

#mainpagebody{background:none;}
#userStory{font-size:200%; width:98%; height: 400px; resize:none; margin-left: 1%; border: 2px solid black; padding: 0; 

 -webkit-transition-property:color, background-color;  
 -webkit-transition-duration: .9s, 0.5s;  
 -webkit-transition-timing-function: linear, ease-in;  

 -moz-transition-property:color, background-color;  
 -moz-transition-duration: .9s, 0.5s;  
 -moz-transition-timing-function: linear, ease-in;  

 -o-transition-property:color, background-color;  
 -o-transition-duration: .9s, 0.5s;  
 -o-transition-timing-function: linear, ease-in;  


}


#userStory:hover  
{
	
	background-color: #4B98D7;
	color: #FFFFFF;
	
}

.userStoryDescrip { width:60%; }

#functionDescription{ width:95%; }

#footer {     background: none repeat scroll 0 0 transparent;float: left;margin-top: 10px;text-align: center;width: 100%;}
#footer p { font-size:x-small; }
#footer table {margin-left:auto; margin-right:auto;}
#footer td { padding-right:20px;  }

/* Search results styles */
.result:hover {background:lightblue;}
.selectedResult {background:blue;}




/* Button styles */
.closeButton {
	background:transparent;
	display:inline-block;
	color:gray;
	font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-size:18px;
	padding:1px 5px;
	text-decoration:none;
}
.closeButton:hover {
	color:#000000;
	text-decoration: none;
}

.identifierInput {
	border: 2px dashed #D1C7AC;
		outline: none;
}.identifierInput:active {

}

.reference { 	color:#444; }

/* Styles for text diffs produced by PrettyTextDiff (e.g., as in WriteFunction) */
ins {  background-color: #c6ffc6;  text-decoration: none; }
del {  background-color: #ffc6c6; }

/* Style for listing keyboard shortcuts */
.keyboardKey {
border: 1px solid #aaa;
-moz-border-radius: 2px;
-webkit-border-radius: 2px;
border-radius: 2px;
-moz-box-shadow: 1px 2px 2px #ddd;
-webkit-box-shadow: 1px 2px 2px #ddd;
box-shadow: 1px 2px 2px #ddd;
background-color: #f9f9f9;
padding: 1px 3px;
font-size: 0.60em;
}

/* Style for highlighted lines in CodeMirror */
.pseudoCall { background-color: white; color: gray; font-weight: bold; }
.pseudoCode { background-color: yellow;	}
.highlightPseudoCall { background-color: lime; }
