.true{background-color:#32B232 !important; color:black !important}
.trueDark{background-color#32B282 !important;}
.true,.false:{opacity:1 !important;}
.active{opacity:.8;}
.false{background-color:red!important; color:black!important}