<step>
	<div class="title">Debug a test failure</div>
	<div class="text">
		<img src="/img/tutorial/debugtestfailure/microtask.png" />
		<p style="width:500px">
			In Debug a Test Failure, your goal is to find and correct any bug(s) that caused a function to fail one of its unit tests.
		</p>
	</div>
</step>
<step>
	<div class="text">

		<img src="/img/tutorial/debugtestfailure/testresults.png" />
	
		<p style="width:500px">
			CrowdCode provides a test runner listing the results of executing each of the function’s tests. Passing tests are shown in green; failing tests in red. 
		</p>
	</div>
</step>
<step>
	<div class="text">

		
		<img src="/img/tutorial/debugtestfailure/testdetail.png" />
	
		<p style="width:500px">
			Each test result lists the inputs and outputs for the test, as well as information about errors (if any). 
		</p>
	</div>
</step>

<step>
	<div class="text">

	
		<p style="width:500px">
			For failed tests, the default view shows you the <strong>diff</strong> between the expected and the actual return value. Green background is the the expected field value and red background is the actual field value. <br />
			The fields that doesn't have a background color, have the same value.
		</p>

		
		<img src="/img/tutorial/debugtestfailure/diff_mode.png" />
	</div>
</step>
<step>
	<div class="text">

	
		<p style="width:500px">
			If you are confused by the diff view, you can always switch to the  <strong>normal</strong> one. 
		</p>

		
		<img src="/img/tutorial/debugtestfailure/normal_mode.png" />
	</div>
</step>
<step>
	<div class="text">

		
		<img src="/img/tutorial/debugtestfailure/code.png" />
	
		<p style="width:500px">
			Debug Test Failure provides an editor for the function, enabling you to find bugs, implement a fix, and rerun the tests to check if it works.

		</p>
	</div>
</step>

<step>
	<div class="text">

		<p style="width:500px">
			What happens if the bug is not in the function itself but is in a function that it calls? For each test, CrowdCode lists all of the functions directly invoked by the function under test, describing each distinct set of inputs and the output value produced. 
		</p>
		
		<img src="/img/tutorial/debugtestfailure/stubs.png" />
	
		<p style="width:500px">For example, here a function sum is being called with the parameters 1 and 2 and is returning the output of 4. This does not seem to match its specified behavior. To solve this problem, you can edit the return value, replacing 4 with 3. This creates a stub. When you rerun the tests, CrowdCode will use the return value specified by the stub rather than the actual return value, executing the function call as if it had returned 3. After submitting the Debug microtask, each stub will be translated into a test for the called function, expressing the desired behavior</p>

	</div>
</step>
<step>
	<div class="text">

		<p style="width:500px">
			If you need additional information about the behavior of a function, you can use the debug.log(String) function.
		</p>
		
		<img src="/img/tutorial/debugtestfailure/debuglog.png" />
	
		<p style="width:500px">
			Results from debug.log() are shown for each test. 

		</p>
		
		<img src="/img/tutorial/debugtestfailure/debugconsole.png" />
	</div>
</step>
<step>
	<div class="text">

		<p style="width:200px">
			After doing changes to the function code or to the stubs, re-run the tests to see the changes
		</p>
		
		<img src="/img/tutorial/debugtestfailure/run.png" />
	
	</div>
</step>
<step>
	<div class="text">

		<p style="width:300px">
			It might also be that the function itself is correct and it is the test which is incorrect. In this case, you should report an issue with the test.
		</p>
		
		<img src="/img/tutorial/debugtestfailure/report.png" />
	
	</div>
</step>