<step>
	<div class="title">Reuse search tutorial</div>
	<div class="text">
		<img src="/img/tutorial/reusesearch/microtask.png" />
		<p style="width:500px">In this microtask, you’re asked to search for the right function that can replace the given pseudocall.</p>
	</div>
</step>
<step>
	<div class="text">

		<img src="/img/tutorial/reusesearch/searchbox.png" />
		<p style="width:500px">
			CrowdCode provides a search box, where you can enter text to search for. 
		</p>
		<p style="width:500px">
			So here you might search for “<b>sum</b>” to see if any related functions already exist.
		</p>
	</div>
</step>
<step>
	<div class="text">

		<img src="/img/tutorial/reusesearch/nofunction.png" />
		<p style="width:500px">
			Or if you can’t find the right function select the checkbox “<b>no function found</b>”, and someone else will start creating it!
		</p>
	</div>
</step>