<step>
	<div class="title">Review tutorial</div>
	<div class="text">
		<p>In this microtask, you’re asked to review a work submitted by another crowd-worker.</p>
		<img src="/img/tutorial/review/microtask.png" />
	</div>
</step>
<step>
	<div class="text">
		<p style="width:500px">
			The submitted work is inside the orange-bordered box.
		</p>
		<img src="/img/tutorial/review/submission.png" />
	</div>
</step>
<step>
	<div class="text">
		<p style="width:500px">
			If you rate work from 1 to 3 stars, it will be enqueued again to be completed/edited by another crowd-worker according to the reason you write in the review.
		</p>
		<img src="/img/tutorial/review/revise.png" />
	</div>
</step>
<step>
	<div class="text">
		<p style="width:500px">
			If you rate a work with 4 or 5 stars, it will be accepted .
		</p>
		<img src="/img/tutorial/review/accepted.png" />
	</div>
</step>