<step>
	<div class="title">Review </div>
	<div class="text">
		<img src="/img/tutorial/review/microtask.png" />
		<p>In Review Work, your goal is to assess work submitted by the crowd.</p>
	</div>
</step>
<step>
	<div class="text">
		<p style="width:500px">
			The submitted work is inside the orange-bordered box. <br />
			What rating do you think this work should receive?

		</p>
		<img src="/img/tutorial/review/submission.png" />
	</div>
</step>
<step>
	<div class="text">
		<p style="width:500px">
			If you rate work with 1 to 3 stars, the work will be marked as needing revision. In this case, you must describe aspects of the work that you feel must be improved.
		</p>
		<img src="/img/tutorial/review/revise.png" />
	</div>
</step>
<step>
	<div class="text">
		<p style="width:500px">
			If you feel that the work as submitted is already of high quality, you should rate it with 4 or 5 stars. In this case, the work will be accepted as is. You can also (optionally) include a message describing your assessment of the work, which will be provided back to the crowd worker that did the work.
		</p>
		<img src="/img/tutorial/review/accepted.png" />
	</div>
</step>