<step>
	<div class="title">Edit a function</div>
	<div class="text">
		<img src="/img/tutorial/writefunction/microtask.png" />
		<p  style="width:500px">
			In Edit a Function, your goal is to improve the implementation of a function.
		</p>
		<p  style="width:500px">
			In CrowdCode, functions may contain code, <strong>pseudocode</strong>, and other <strong>function calls</strong>. 
			In Edit a Function, your goal is not necessarily to finish a complete implementation of a function. Rather, you may decide to <strong>sketch</strong> some of the behavior using psuedocode and describe some operation that’s best done in another function using a <strong>function call</strong>. 
		</p>
	</div>
</step>
<step>
	<div class="text">
		<img src="/img/tutorial/writefunction/code.png" />
		<p style="width:550px">
			<strong>Pseudocode</strong> (sections of a line beginning with //#) allows you to sketch algorithms or partial solutions, enabling the crowd to determine how best the algorithm or solution should be accomplished. 

		</p>
	</div>
</step>
<step>
	<div class="text">
		<img src="/img/tutorial/writefunction/code.png" />
		<p style="width:550px">
			In CrowdCode, you edit code with a local view of the codebase, seeing only the current function on which you are working.  When you call another function, you have to add a sketch of the called function header with an empty body at the bottom of the code editor window (eventually providing an one-line description of what the function is supposed to do). 
		</p>
		<p style="width:550px">
			When implementing a function, you may discover that a function description needs revision, that an additional parameter is required, or even that the function itself is poorly named. In this case, you may edit the header of the function; the crowd will then update any callers of the function to match its new specification.
		</p>
	</div>
</step>
<step>
	<div class="text">
		<p style="width:300px">
			<strong>Remember</strong>: Using psuedocode and function calls provides an opportunity for the crowd to contribute. For a function with large and complex behavior, sketching some of the behavior provides opportunities for the crowd to consider how it best be done. Rather than build a single monolithic function, function calls provides an opportunity for code to be decomposed into cohesive functions that can be reused. And - most importantly - function calls provides an opportunity for many to work on each requested function in parallel.
		</p>
	</div>
</step>
<step>
	<div class="text">
		<img src="/img/tutorial/writefunction/data_types.png" />
		<p style="width:280px">
			In CrowdCode, all parameters are specified with a data type. CrowdCode provides an Available Data Types panel enabling you to browse the description of data types and see examples.
		</p>
	</div>
</step>