<step>
	<div class="title">Write function description tutorial</div>
	<div class="text">
		<img src="/img/tutorial/writefunctiondescription/microtask.png" />
		<p style="width:500px">
			In this microtask, you’re asked to write the details of a function description (function name, input parameters and return value) given a short explanation of where the function will be used.
		</p>
	</div>
</step>
<step>
	<div class="text">

		<p style="width:500px">
			For example:
		</p>
		
		<img src="/img/tutorial/writefunctiondescription/form.png" />
	</div>
</step>
<step>
	<div class="text">

		<p style="width:500px">
			In you have any doubts about choosing the parameters type, check out the available data types in the box on the left!
		</p>

		<img src="/img/tutorial/writefunctiondescription/datatypes.png" />
	</div>
</step>