<step>
	<div class="title">Write function tutorial</div>
	<div class="text">
		<img src="/img/tutorial/writefunction/microtask.png" />
		<p>In this microtask you are asked to edit the code of a function.</p>
	</div>
</step>
<step>
	<div class="title">Pseudocall & pseudocode</div>
	<div class="text">
		<p style="width:500px">
			When you implement a function from scratch (or editing a pre-written function), <b>don’t do all the work alone! </b>
		</p>
		<p style="width:500px">
			You can sketch out part of the work without worrying about every detail by using <b>pseudocode</b> and <b>pseudocalls</b>.
		</p>
	</div>
</step>
<step>
	<div class="title">Pseudocode</div>
	<div class="text">
		<img src="/img/tutorial/writefunction/code.png" />
		<p style="width:550px">
			The pseudocode <b>( //# syntax)</b> allows you to sketch algorithms or partial solutions and let the other workers know that there is some more work to do on this function.
		</p>
	</div>
</step>
<step>
	<div class="title">Pseudocall</div>
	<div class="text">
		<img src="/img/tutorial/writefunction/code.png" />
		<p style="width:550px">
			As a difference from the way you usually write code, in CrowdCode you don’t know which other functions are already implemented in the system. 
So if you want to call a function, you have to use the pseudocalls <b>(//! syntax)</b>.
		</p>
		<p style="width:550px">
			Pseudocalls are extremely useful when the code you have to write is complex and can’t be written in just a few minutes. They allow you to split the function editing with the other crowd-coders (and reuse existing functions).
		</p>
	</div>
</step>
<step>
	<div class="title">Remember:</div>
	<div class="text">
		<p style="width:300px">
			try to keep it simple and delegate the work if there is too much to do!
		</p>
	</div>
</step>
<step>
	<div class="title">Data types:</div>
	<div class="text">
		<p style="width:280px">
			If you need to explore the available data types, take a look at the data types box!
		</p>
		<img src="/img/tutorial/writefunction/data_types.png" />
	</div>
</step>