<step>
	<div class="title">Write test cases tutorial</div>
	<div class="text">
		<img src="/img/tutorial/writetestcases/microtask.png" />
		<p>In this microtask you are asked to write some test cases starting from a function signature.</p>
	</div>
</step>
<step>
	<div class="title">what is a test case?</div>
	<div class="text">
		<p style="width:500px">
			<i>“A test case is a set of conditions under which a tester will determine whether an application, software system or one of its features is working as it was originally established for it to do”</i> [Wikipedia]
		</p>
		<p style="width:500px">
			For <b>CrowdCode</b>, you don’t need to formally specify a test case but you 
			are instead encouraged to write a simple description in natural language.
		</p>
	</div>
</step>
<step>
	<div class="text">
		<p>For example, for the function <b>sum</b> some test cases are:</p>
		<img src="/img/tutorial/writetestcases/testcases.png" />
	</div>
</step>
<step>
	<div class="title">Remember:</div>
	<div class="text">
		<p style="width:400px">
			good test cases description are short, self-explained and non redundant!
		</p>
	</div>
</step>
<step>
	<div class="text">
		<p>
			If you find an issue in the signature of the given function, please report it.
		</p>
		<img src="/img/tutorial/writetestcases/report.png" />
	</div>
</step>