<step>
	<div class="title">Write test tutorial</div>
	<div class="text">
		<img src="/img/tutorial/writetest/microtask.png" />
		<p>In Write a Test, your goal is to implement a test case.</p>
	</div>
</step>
<step>
	<div class="text">
		<p style="width:500px">
			Given a description of a test case and function to be tested,
		</p>
		<img src="/img/tutorial/writetest/context.png" />
		<p style="width:500px">
			your task is to implement the test case, providing concrete values for the specified scenario.
		</p>
		<img src="/img/tutorial/writetest/data.png" />
		<p style="width:500px">
			Each value is specified as either a primitive or a JSON literal describing a data structure value. Pretty easy, right?
		</p>
	</div>
</step>
<step>
	<div class="text">
		<p style="width:300px">
			JSON literals can become long and complex:
		</p>
		<img src="/img/tutorial/writetest/data_advanced.png" />
		<p style="width:300px">
			But CrowdCode provides examples of each data type. 
		</p>
		<img src="/img/tutorial/writetest/example.png" />
		<p style="width:300px">You can use <b>Paste Example</b> to insert a default value or browse the Available Data Types panel to copy a specific example. </p>
	</div>
</step>
<step>
	<div class="text">
		<p style="width:300px">If you discover an issue with either the function description or the test case, you should report it. </p>
		<img src="/img/tutorial/writetest/report.png" />
	</div>
</step>