<step>
	<div class="title">Add call</div>
	<div class="text">
		<img src="/img/tutorial/writecall/microtask.png" />
		<p style="width:500px">
			In Add a Call, your goal is to revise all the occurrences of a specified function call.
		</p>
	</div>
</step>
<step>
	<div class="text">

		<p style="width:500px">
			For example, in the following code:

		</p>
		
		<img src="/img/tutorial/writecall/before.png" />
	
		<p style="width:500px">
			the task is to replace the call doSum(...) with a call to the function sum, putting the right parameters in the right places and ensuring the result has the right type and interpretation. 
			So the code becomes: 
		</p>

		<img src="/img/tutorial/writecall/after.png" />

		<p  style="width:500px">
			You might also decide that the specified call doesn’t make any sense at all and remove it. Or you might decide that a different function is required and write function call. Your overall goal is to replace the call and logic surrounding it with something better; you can decide how to do that. 

		</p>
	</div>
</step>