<step>
	<div class="title">Write test tutorial</div>
	<div class="text">
		<img src="/img/tutorial/writetest/microtask.png" />
		<p>In this microtask you’re asked to write the implementation of a test case.</p>
	</div>
</step>
<step>
	<div class="text">
		<p style="width:500px">
			Given the test case description and the signature of the function to test 
		</p>
		<img src="/img/tutorial/writetest/context.png" />
		<p style="width:500px">
			you have to implement what the test case asks, writing the inputs and output values as a <b>JSON literals</b>.
		</p>
		<img src="/img/tutorial/writetest/data.png" />
		<p style="width:500px">
			Pretty easy, right?
		</p>
	</div>
</step>
<step>
	<div class="text">
		<p style="width:200px">
			The JSON literals can easily become complex to manage. For example: 
		</p>
		<img src="/img/tutorial/writetest/data_advanced.png" />
	</div>
</step>
<step>
	<div class="text">
		<p style="width:300px">
			But don’t be scared: the “<b>paste example</b>” button allows you to easily copy one of the examples listed in the data type description! 
		</p>
		<img src="/img/tutorial/writetest/example.png" />
	</div>
</step>
<step>
	<div class="title">If you find an issue with the function signature or the test case, please report it:</div>
	<div class="text">
		<img src="/img/tutorial/writetest/report.png" />
	</div>
</step>