<step>
	<div class="title">Write test</div>
	<div class="text">
		<p style="width:500px">
			Given the function description, your goal is to add one or more test (in addition to the previous written tests) to describe every possible corner case.
		</p>
		<p style="width:500px">
			Follow this tutorials for more details:
		</p>
		<ul>
			<li>
				<a href="#" 
					ng-click="$emit('queue-tutorial', 'create_edit_test', true, undefined, 'DescribeFunctionBehavior' ); close(); $event.preventDefault();">
					creating a test
				</a>
			</li>
			<li>
				<a href="#" 
					ng-click="$emit('queue-tutorial', 'input_output_tests', true, undefined, 'DescribeFunctionBehavior'); close(); $event.preventDefault();">
					input/output tests</a></li>
			<li><a href="#" ng-click="$emit('queue-tutorial', 'assertion_tests', true, undefined, 'DescribeFunctionBehavior'); close(); $event.preventDefault();">assertion tests</a></li>
		</ul>
	</div>
</step>