<step>
	<div class="title">Edit function</div>
	<div class="text">
		<p style="width:500px">
			Given the test suite for a function, your goal is to implement some code for letting one (or more) test to pass.
		</p>
		<p style="width:500px">
			Follow this tutorials for more details:
		</p>
		<ul>
			<li><a href="#" ng-click="$emit('queue-tutorial', 'running_tests', true); close(); $event.preventDefault();">running and debugging tests</a></li>
			<li><a href="#" ng-click="$emit('queue-tutorial', 'function_editor', true); close(); $event.preventDefault();">using the function editor</a></li>
		</ul>
	</div>
</step>