<h3> Questions List</h3>
<form>
	<div class="form-group">
		<input type="text" class="form-control" name="search" ng-model="search" id="searchBox" placeholder="search">
	</div>
</form>
<div class="list-group">
	<a href="#" ng-click="setView('question_detail'); setSelected(q)" class="list-group-item" ng-repeat="q in questions | orderBy : 'numVotes' : 'desc' ">
		<span class="pull-left">
			{{q.title}}

			<span ng-repeat="tag in q.tags" class="badge">{{tag}}</span>
		</span> 

		<span class="pull-right" style="margin-left:5px">
			{{ q.votes !== undefined ? q.votes.length : 0 }}
			<span class="glyphicon glyphicon-thumbs-up"></span>
		</span>

		<span class="pull-right">
			{{ q.answers !== undefined ? q.answers.length : 0 }}
			<span class="glyphicon glyphicon-comment"></span>
		</span>

		<span class="clearfix"></span>
	</a>
</div>

<a href="#" ng-click="setView('question_form')" class="btn btn-sm btn-primary">ask a new question</a>