
<a href="#" ng-click="setView('question_list'); setSelected(null)" class="btn btn-link">back</a>


<div class="list-group">
	<div class="list-group-item">

		<h3>{{sel.title}}</h3>
		<div>
			{{sel.text}}
		</div>
		<div>
			<span style="margin-left:5px">
				{{ sel.votes !== undefined ? sel.votes.length : 0 }}
				<span class="glyphicon glyphicon-thumbs-up"></span>
			</span>

			<span >
				{{ sel.answers !== undefined ? sel.answers.length : 0 }}
				<span class="glyphicon glyphicon-comment"></span>
			</span>
		</div>

		<div>
			Tags: <strong ng-repeat="tag in sel.tags">{{tag}} </strong>
		</div>
		<div>
			<small>{{ sel.timestamp | date : 'medium' }}</small>
		</div>
	</div>
</div>
<div class="list-group">
	<div class="list-group-item" ng-repeat="a in sel.answers | orderBy : 'numVotes' : 'desc' ">
		{{a.text}}

		<div>
			<small>{{ a.timestamp | date : 'medium' }}</small>
		</div>
	</div>
</div>

<hr />

<form>
	<div class="form-group">
		<textarea name="text" class="form-control" ng-model="a.text" placeholder="answer text"></textarea>
	</div>
	<button type="submit" ng-click="postAnswer()" class="btn btn-sm btn-primary pull-right">Answer</button>
</form>
