<div ng-controller="ImplementBehavior">
    

    <div class="section section-description " >
        <div ng-include="'/client/microtasks/microtask_title.html'"></div>
        <div class="section-content  job-description" >
            Implement a behavior for this function
        </div>
    </div>

	<div class="section section-description">
		<div class="section-title" >
			<div class="dot bg-color"></div>
			Previously implemented behaviors
		</div>
		<div class="section-content">
			<div class="tests-list" >
				<div class="test-item" ng-repeat="t in data.tests track by $index">
					<div class="toggler bg-color-alpha" ng-click="toggleTest(t)">
						<span class="pull-left">
							<strong> it </strong>
							<span ng-bind="t.description"></span>
						</span> 
						<span class="pull-right">{{t.result.passed ? 'passed' : 'failed'}}</span>
						<span class="clearfix"></span>
					</div>
					<div ng-form="testForm" class="form" ng-if="t.expanded">
						<div class="form-group">
							<test-editor test="t"></test-editor>
						</div>
					</div>
				</div>
			</div>
		</div>	
	</div>

	<div class="section section-description" >
		<div class="section-title" >
			<div class="dot bg-color"></div>
			Behavior to be implemented
		</div>
		<div class="section-content">
			<div class="test-item">
				<div class="toggler bg-color-alpha">
					<span class="pull-left">
						<strong> it </strong>
						<span ng-bind="data.currentTest.description"></span>
					</span> 
					<span class="pull-right">{{t.result.passed ? 'passed' : 'failed'}}</span>
					<span class="clearfix"></span>
				</div>
				<div ng-form="testForm" class="form">
					<div class="form-group">
						<test-editor test="data.currentTest"></test-editor>
					</div>
					
				</div>
			</div>

		</div>	
	</div>

	<div class="section section-form">
		<div class="pull-right">
			<button ng-click="run()">Run Tests</button>
			<button>Inspect</button>
		</div>
		<span class="clearfix"></span>

		<function-editor
            function="funct" 
            editor="data.editor" 
            annotations="data.annotations"
            markers="data.markers"
            has-pseudo="data.hasPseudo"
            >
        </function-editor>
	</div>
		
</div>
