<step style="width:800px">
    <div class="title">Implement Function</div>
    <div class="text">
        <p>
            Given the function description, you have 15 minutes to implement this function fully/partially.
            You can write/edit the code in the function editor, create/edit/remove tests cases and run the tests suite
            on your code.
        </p>
        <p><strong>TIP:</strong> Everywhere in website you can open the tutorials by clicking on the question mark icons. <img src="/img/tutorial/main/questionmark2.png"/> </p>
        <!--<p style="width:500px">-->
        <!--Follow this tutorials for more details:-->
        <!--</p>-->
        <!--<ul>-->
        <!--&lt;!&ndash;<li><a href="#" ng-click="$emit('queue-tutorial', 'running_tests', true , undefined, 'ImplementBehavior'); close(); $event.preventDefault();">running and debugging tests</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#" ng-click="$emit('queue-tutorial', 'function_editor', true, undefined, 'ImplementBehavior'); close(); $event.preventDefault();">using the function editor</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#" ng-click="$emit('queue-tutorial', 'create_edit_test', true, undefined, 'ImplementBehavior' ); close(); $event.preventDefault();">creating a test</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#" ng-click="$emit('queue-tutorial', 'input_output_tests', true, undefined, 'ImplementBehavior'); close(); $event.preventDefault();">input/output tests</a></li>&ndash;&gt;-->
        <!--&lt;!&ndash;<li><a href="#" ng-click="$emit('queue-tutorial', 'assertion_tests', true, undefined, 'ImplementBehavior'); close(); $event.preventDefault();">assertion tests</a></li>&ndash;&gt;-->
        <!--</ul>-->
    </div>
</step>

<step style="max-width:800px;max-height: 900px">
    <div class="title">Function Implementation Complete</div>
    <div class="text">

        <p>
            Once you have implemented the function completely, you can click the checkbox in the test editor panel as
            shown below and then submit this task.
        </p>

        <img src="/img/tutorial/implementation/implementation_complete.png"
             style=" max-width:750px; max-height: 650px"/>

    </div>
</step>
<step style="width: 900px; height: 800px">
    <div class="title">coding tasks (implement one behavior tasks)
    </div>
    <div class="text">
        <p><strong> Step 1: </strong> find only one behavior in the function description(in the comments above the function) that is not yet implemented, for example: "it should check arguments to be valid"
        </p>
        <img src="/img/Behave-step1.png" style="max-height: 200px;width: 400px"/>

        <p><strong> Step 2: </strong> write a test for the behavior you have chosen implement the behavior in the function editor, just implement one bahvior, it does not need to
        implement more than one bahvior. For example: only implement "it thow TypeError if argmunents are null or empty." </p>
        <img src="/img/behvae-step2-assertion-code.png" style="max-height: 200px;width: 400px"/>

        <p><strong> Step 3: </strong> implement the behavior in the function editor, just implement one bahvior, it does
            not need to implement more than one bahvior. For example: only implement "it thow TypeError if argmunents are null or
            empty." </p>

        <img src="/img/behave-Step3.png" style="max-height: 200px;width: 400px"/>
        <p><strong> Step 4: </strong> once you’re finished, click “Submit” button.</p>
        <img src="/img/SubmitButton.png" style="max-height: 80px;width: 100px"/>

    </div>
</step>
<step style="width:600px;">
    <div class="title">Function Implementation Incomplete</div>
    <div class="text">

        <p>
            If you have partially implemented the function, please describe the unfinished sections as pseudo code to
            notify the next programmer.
        </p>

        <img src="/img/tutorial/implementation/psuedo_code.png" width="470px"/>

    </div>
</step>

<step style="width:600px;">
    <div class="title">Comment Code</div>
    <div class="text">

        <p>
            Please write the code with appropriate comments as this will help the following programmers understand your
            code quickly.
        </p>

        <img src="/img/tutorial/implementation/comment_code.png" width="470px"/>

    </div>
</step>
<step style="width:600px">
    <div class="title">Calling a function</div>
    <div class="text">
        <p>
            To see the list of all functions in the system, type OPTION+SPACE (Mac) or CTRL+SPACE (Windows/Linux)
        </p>

        <img src="/img/tutorial/running/functions_list.png"/>
    </div>
</step>

<step style="width:800px">
    <div class="title">Creating a new function</div>
    <div class="text">
        <p>
            If you need a supporting function to realize the implementation, you can create a new function and submit
            your task.
            This function will then be assigned to programmers to implement.
            To create a new function, type ALT SPACE(Mac) or CTRL SPACE(Windows/Linux) and select “Add a new function”,
            where you can write a comment specifying the function name, description, parameters, parameter types and
            return type.
        </p>
        <img src="/img/tutorial/running/add_function.png" width="470px"/>
        <br/><br/>
        <img src="/img/tutorial/running/new_function.png" width="470px"/>
    </div>
</step>
<step style="width:800px">
    <div class="title">Last not least
    </div>
    <div class="text">
        <p >
            You should be aware implement only one behavior.
            In the function description(in the comments above the function) there is a lot of behaviors , but choose one of them for implement. for example: in the below screenshot, function has
            behaviors like 1) it update status of a todo 2) it return false if it can not find the todo. 3)it should call 3rd party api for interacting with database
            4) it throw an exception if arguments be invalid.
            <strong style="color: red"> But, you should implement just one of these behaviors such as specified via rectangle in screenshot, NOT ALL BEHAVIORS</strong>
        </p>
        <img src="/img/function-description.png" style="max-height: 5cm;;max-width: 20cm"/>
    </div>
</step>

<step on-hide="showProfileModal(); " style="width:450px">
    <div class="title">Implementing a function tutorial is completed!</div>
    <div class="text">
        You have completed Implementing a function! The next tutorial is <strong>Reviewing implemented function</strong>.
    </div>
</step>