
<div class="panel panel-default">
	<div class="panel-heading">
		<h3 class="panel-title">Commands</h3> 
	</div>
	<div class="panel-body" >
		

		<button class="btn btn-sm" ng-click="executeCommand('Reset')">Reset</button>
		<button class="btn btn-sm" ng-click="toggleSettings('reviews')"   ng-class="{on: settings.reviews}">Reviews</button>
		<button class="btn btn-sm" ng-click="toggleSettings('tutorials')" ng-class="{on: settings.tutorials}">Tutorials</button>
		<button class="btn btn-sm" ng-click="clearOutput()">Clear Output</button>
		<button class="btn btn-sm" ng-click="setAsDefault()" ng-class="{on: settings.tutorials}">Set As Default</button>
		<hr />
		<pre ng-bind="output"></pre>
	</div>
	
	
</div>

