<div ng-repeat="q in questions">
	<h4>{{q.title}}</h4>
	<div>{{q.text}} - <small>{{q.ownerHandle}}</small></div>
	<div><span ng-repeat="tag in q.tags" class="badge">{{tag}}</span></div>

	<strong>answers</strong>
	<div ng-repeat="a in q.answers" style="padding-left:20px">
		<div>{{a.text}} - <small>{{a.ownerHandle}}</small> ({{a.score}})</div>
		<div ng-repeat="c in a.comments" style="padding-left:20px;">
			<div>{{c.text}} - <small>{{c.ownerHandle}}</small> ({{c.score}})</div>
		</div>
	</div>
	<hr />
</div>