<ng-form name="functionForm">
	<div 
		class="ace_editor js-editor" 
		ui-ace="{ onLoad : aceLoaded, mode: 'javascript', theme: 'twilight'  }" 
		ng-model="stringValue" >
	</div> 
	<div style=" " class="function-errors">
		<textarea 
			class="form-control" 
			name="code" 
			function-validator 
			max-new-statements="10"
			function-id="{{funct.getId()}}"
			ng-model="stringValue" 
			ng-show="false">
		</textarea>
		<span class="recap" ng-if="functionForm.code.$error.function_errors.length > 0" > {{ functionForm.code.$error.function_errors.length }} problem(s) found: </span>
		<ul ng-if="functionForm.code.$error.function_errors.length > 0" >
	        <li ng-repeat="error in functionForm.code.$error.function_errors track by $id($index)">
	        	<span ng-bind-html="trustHtml(error)"></span>
	        </li>
		</ul>
	</div>
</ng-form>