<ng-form name="functionForm">
	<div ui-codemirror="{ onLoad : codemirrorLoaded, autofocus : true }" ng-model="code" focus></div>
	<textarea 
		class="form-control" 
		name="code" 
		function-validator 
		function-id="{{funct.id}}"
		ng-model="code" 
		ng-show="false">
	</textarea>
	<ul class="help-block pull-left" ng-if="functionForm.code.$error.function_errors.length > 0">
	    <ul >
	        <li ng-repeat="error in functionForm.code.$error.function_errors track by $id($index)">
	        	<span ng-bind-html="trustHtml(error)"></span>
	        </li>
	    </ul>
	</ul>
	<div class="clearfix"></div>
</ng-form>