
<div ui-codemirror="{ onLoad : codemirrorLoaded, autofocus : true }" ng-model="code" focus></div>
<textarea function-validator class="form-control" name="code" ng-model="code" ng-show="false"></textarea>
<ul class="help-block pull-left" ng-if="microtaskForm.code.$error.function_errors.length > 0">
    <ul >
        <li ng-repeat="error in microtaskForm.code.$error.function_errors track by $id($index)">
        	<span ng-bind-html="trustHtml(error)"></span>
        </li>
    </ul>
</ul>
<div class="clearfix"></div>