<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">Stubs for the function {{info.name}}</h4>
      </div>
      <div class="modal-body" >
   
             <ace-read-js code="info.signature"></ace-read-js>

            <div class="heading-1 heading-2" ng-repeat-start="(sKey,stub) in stubs track by $index">Input set {{$index+1}}</div>
            <table ng-repeat-end ng-form="stubForm" class="test">
                <tr ng-repeat="(iKey,iValue) in stub.inputs track by $index" >
                    <td>{{ info.parameters[$index].name }}<br /><small>{{ info.parameters[$index].type }}</small></td>
                    <td><div ace-read-json ng-model="iValue" ></div></td>
                </tr>
                <tr >
                    <td>return value <br/> <small>{{ info.returnType }}</small> </td>
                    <td >
                        <ace-edit-json 
                          ng-model="stub.output" 
                          min-lines="2"
                          >
                        </ace-edit-json>

                        <textarea type="text" 
                          ng-model="stub.output"
                          name="output"
                          ng-show="false"
                          required
                          json-data-type="{{ info.returnType }}" />

                        <div class="help-block pull-left" ng-show="stubForm.$dirty" ng-messages="stubForm.output.$error">
                          <div ng-message="required">Please, fill this field</div>
                          <div ng-message="jsonDataType">
                              <span ng-repeat="e in stubForm.output.$error.jsonErrors" ng-bind="e"></span>
                          </div>
                        </div>
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                       
                    </td>   
                </tr>
            </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="close()">Save stubs</button>
      </div>
    </div>
  </div>
</div>

