<div class="modal" tabindex="-1" role="dialog" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" aria-label="Close" ng-click="$hide()">
        <span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title">Stubs for the function {{info.name}}</h4>
      </div>
      <div class="modal-body" >
   
             <ace-read-js code="info.signature"></ace-read-js>

            <div class="heading-1 heading-2" ng-repeat-start="(sKey,stub) in stubs track by $index">Input set {{$index+1}}</div>
            <table ng-repeat-end ng-form="stubForm" class="test">
                <tr ng-repeat="(iKey,iValue) in stub.inputs track by $index" >
                    <td>{{ info.inputs[$index] }}<br /></td>
                    <td><div ace-read-json ng-model="iValue" ></div></td>
                </tr>
                <tr >
                    <td>return value </td>
                    <td >

                        <ace-edit-json ng-model="stub.output"></ace-edit-json>

                        <textarea type="text" 
                            ng-model="stub.output"
                            ng-show="false"
                            required
                            json-data-type="{{ info.returnType }}" />
                    </td>
                </tr>
                <tr>
                    <td></td>
                    <td>
                        <div class="" ng-messages="stubForm.$error">
                            <div ng-message="required">Please, fill this field</div>
                            <div ng-message="jsonDataType">
                                <span ng-repeat="e in stubForm.$error.jsonDataType[0].$error.jsonErrors" ng-bind="e"></span>
                            </div>
                        </div>
                    </td>   
                </tr>
            </table>

      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" ng-click="$hide()">Save stubs</button>
      </div>
    </div>
  </div>
</div>

