<div ng-controller="ReuseSearchController">

	<h2 id="taskHeader">
		<span id="taskTitle" >{{datas.title}}</span>
		<span id="taskPoints" class="label label-default">{{datas.submitValue}} points</span>
	</h2>

	<br/>

	<div id="taskDescription" class="bg-success">
		Is there a function that does<BR>
		<strong>{{microtask.callDescription}}</strong>
		<BR><BR>
		Use the search box to see if a function exists to do this. Otherwise, select "No function does this".
		<BR><BR>
		
		<a ng-init="showContext=false" ng-click="showContext = !showContext">Show context</a> 
		<div id="callContext" ng-show="showContext">
			<div class="codemirrorBox">
				<div ui-codemirror="{ onLoad : codemirrorLoaded }"></div>
			</div>
		</div>
		<BR>
	</div>
	<div class=" bg-warning">
		<input type="text" id="SearchText" class="input-large" ng-model="reuseSearch.text" ng-change="doSearch()">
		<div id="results"></div>
		<BR>	
		If you can't find any, click this:<br>
		<button id="noFunction" type="button" class="btn btn-primary" ng-click= "reuseSearch.selected = -1" >No function does this</button>
	</div>

	<br/>
			
	<div ng-repeat= "function in reuseSearch.functions | orderBy:'-score'">
		<div id="result" ng-class="{ 'result' : reuseSearch.selected != $index , 'selectedResult' : reuseSearch.selected == $index } " ng-click="reuseSearch.selected = $index">
		 	{{function.value.description}}<br/>
			<b>{{function.value.header}}</b>
		</div>
	</div>

	<br/>

	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled= "reuseSearch.selected == -2" >Submit</button>
		<button ng-click="$emit('skipMicrotask')"   class="btn btn-link"   >Skip</button>
	</div>
	<div class="clearfix"></div>

</div>