<div ng-controller="ReuseSearchController">

	<div class="section section-description " >
		<div class="section-content no-padding" >
			<ul class="microtask-details clearfix">
				<li>{{datas.title}}</li>
				<li>
					<span>{{datas.submitValue}} points</span>
				</li>
				<li>
					<div class="help-btn"><span class="glyphicon glyphicon-question-sign"></span></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
		JOB DESCRIPTION
		</div>
		<div class="section-content" >
			Is there any function that could substitute the pseudocall:<BR>
			<span class="pseudoCall">{{microtask.callDescription}}</span>
			<BR><BR>
			Looking at the context try to find it using the search box, otherwise just select "No function does this".
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
			FUNCTION WITH THE PSEUDOCALL
		</div>
		<div class="section-content no-padding" >
			<div class="readOnlyCodemirror" ui-codemirror="{ onLoad : codemirrorLoaded }"></div>
		</div>
	</div>
	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help" style="width:30%">
				<div class="section-title" >
					HINT
				</div>
				<div class="section-content" >
					Choose a function that does what the pseudocall
					asks ( you can filter the list of functions typing some characters in the input box).
					<strong>If in the list there isn't the right function, click on the button "no function does this"</strong>

				</div>
			</div>
			<div class="section section-form" style="width:70%;" >
				<div class="section-title form-group" >
					<input
						class="form-control input-sm"
						tabindex="1"
						type="text"
						name="newtestcase"
						ng-model="reuseSearch.text"
						ng-change="doSearch()"
						placeholder="filter functions"
						focus/>
					<div class="clearfix"></div>
				</div>
				<div class="section-content" >
					<ul ng-if="reuseSearch.functions.length > 0">
						<li ng-repeat= "function in reuseSearch.functions | orderBy:'-score'">
							<div id="result" ng-class="{ 'result' : reuseSearch.selected != $index , 'selectedResult' : reuseSearch.selected == $index } " ng-click="reuseSearch.selected = $index">
							 	{{function.value.description}}<br/>
								<b>{{function.value.header}}</b>
							</div>
						</li>
					</ul>
					<span ng-if="reuseSearch.functions.length == 0" >No function found</span>
					<BR>
					If you can't find any, click this:<br>
					<button id="noFunction" type="button" class="btn btn-primary" ng-click= "reuseSearch.selected = -1" >No function does this</button>
					<alertcontainer></alertcontainer>
					<div class="clearfix"></div>

				</div>


			</div>


		</div>
	</div>
<!--
	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="form.$invalid || testCases.length==0" >Submit</button>
		<button ng-click="$emit('skipMicrotask')"   class="btn btn-link"   >Skip</button>
	</div>
	<div class="clearfix"></div>
-->
</div>
