<div ng-controller="ReuseSearchController" >

	<div class="section section-description " >
		<div class="section-content no-padding microtask-details" >
				<span class="bg-color type">{{::data.title}}</span>
				<span class="points">{{::data.submitValue}} pts</span>
				<span class="tutorial-btn glyphicon glyphicon-question-sign color" ng-click="startTutorial(microtask.type);"></span>
				<span class="clearfix"></span>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
			<div class="dot bg-color"></div> FUNCTION WITH THE PSEUDOCALL
		</div>
		<div class="section-content no-padding" >
			<ace-read-js code="code"></ace-read-js>
		</div>
	</div>


	<alertcontainer></alertcontainer>


	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help bg-color-alpha" style="width:30%">
				<div class="section-title" >
					<div class="dot"></div> HINT
				</div>
				<div class="section-content" >
					Choose a function that provides the requested behavior ( you can filter the list of functions by entering text in the input box).
					<strong>If there isn't the right function, click check "no function found".</strong>

				</div>
			</div>
			<div class="section section-form" style="width:70%;" >
				<div class="section-title no-padding" >

					<div class="input-group">
						<input
							class="form-control"
							tabindex="1"
							type="text"
							name="newtestcase"
							ng-model="text"
							ng-change="doSearch()"
							placeholder="Search for functions"
							focus/>
						<span class="input-group-btn">
							<button class="btn btn-default" ng-click="doSearch()" type="button" tabindex="2">
								<span class="glyphicon glyphicon-filter"></span>
							</button>
						</span>

					</div>
					<div class="input-group" style="width:100%">

						<b>If you can't find any, select: 
						<input type="checkbox" ng-model="selectedResult" ng-true-value="-1" ng-false-value="-2"> No function found</b>
					</div>
				</div>
				<div class="section-content no-padding">

					<div ng-if="results.length > 0" class="list-group">
						<div ng-repeat= "function in results | orderBy:'-score'" 
						     class="list-element animate-repeat {{ selectedResult == $index ? 'selected' : '' }}"
						     ng-click="select($index)" description-popover="function.value">
								<b>{{function.value.header}}</b>
						</div>
					</div>
					<span ng-if="results.length == 0" >No function found</span>
					

				</div>


			</div>


		</div>
	</div>
<!--
	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="form.$invalid || testCases.length==0" >Submit</button>
		<button ng-click="$emit('skipMicrotask')"   class="btn btn-link"   >Skip</button>
	</div>
	<div class="clearfix"></div>
-->
</div>
