<div class="section section-description " >
	
	<div ng-include="'/html/templates/microtasks/microtask_title.html'"></div>

	<div class="section-content job-description" >
		
		<div ng-if="! review.microtask.submission.inDispute">
			<div>
				A worker was asked to implement the following test case for
				the function <strong>{{functionUnderTest.name}}</strong>
				<span>Can you review this work?</span>
			</div>
		</div>

		<div ng-if="review.microtask.submission.inDispute">
			<div ng-if="review.microtask.submission.disputeFunctionText!=''" >
				A worker reported the following issue with the function
				<strong>{{functionUnderTest.name}}</strong>.
				<span>Can you review this issue?</span>
			</div>

			<div ng-if="review.microtask.submission.disputeTestText!=''" >
				A worker reported the following issue with the following test case for the function
				<strong>{{functionUnderTest.name}}</strong>.
				<span>Can you review this issue?</span>
			</div>
		</div>
	</div>
</div>


<div class="section section-description">
	<div class="section-title" ng-if="reviewed.submission.disputeFunctionText==''">
		<div class="dot bg-color"></div>function description
	</div>
	<div class="section-title" ng-if="reviewed.submission.disputeFunctionText!=''">
		<div class="dot bg-color"></div>reported FUNCTION DESCRIPTION
	</div>
	<div class="section-content no-padding" >
		<ace-read-js code="review.functionCode"></ace-read-js>
	</div>
</div>


<div class="section section-description" ng-if="reviewed.submission.disputeFunctionText==''">
	<div class="section-title" ><div class="dot bg-color"></div>Test case</div>
	<div class="section-content" >
		{{reviewed.owningArtifact}}
	</div>
</div>


<div ng-if="review.microtask.submission.inDispute" class="section section-description-2">
	<div class="section-title" ><div class="dot bg-color"></div>Reported Issue</div>
	<div class="section-content" >
		{{reviewed.submission.disputeTestText}}
		{{reviewed.submission.disputeFunctionText}}
	</div>
</div>

<div ng-if="! reviewed.submission.inDispute" >

	<div class="section section-review">
		<div  class="section-title" ><div class="dot bg-color"></div>submitted TEST</div>
		<div class="section-content" >
			<table style="width:100%" class="test">
				
				<tr ng-repeat="(inputKey,input) in review.microtask.submission.simpleTestInputs track by $index">
					<td>{{functionUnderTest.paramNames[$index]}}</td>
					<td>
						<div ace-read-json ng-model="input" ></div>
					</td>
				</tr>
				<tr ng-if="functionUnderTest.returnType!=undefined">
					<td>test output</td>
					<td>
						<div ace-read-json ng-model="review.microtask.submission.simpleTestOutput" ></div>
					</td>
				</tr>
			</table>
		</div>
	</div>
</div>

