
    
<div class="section section-description " >
	<div ng-include="'/html/templates/microtasks/microtask_title.html'"></div>

	<div class="section-content job-description" >

		<div ng-if="! review.microtask.submission.inDispute">
			A worker was asked to write a description of the following sketch of function
		</div>

		<div ng-if="review.microtask.submission.inDispute">
			A worker reported the following sketch of function as not implementable
		</div>

		<span>Can you review this work?</span>
	</div>
</div>
<div class="section section-description">
	<div class="section-title" >
		<div class="dot bg-color"></div>FUNCTION SKETCH
	</div>

	<div class="section-content no-padding" >
		<ace-read-js code="review.microtask.callDescription"></ace-read-js>
	</div>
</div>
<div class="section section-review" ng-if="! review.microtask.submission.inDispute">
	<div class="section-title" >
		<div class="dot bg-color"></div>submitted function description
	</div>
	<div class="section-content" >
		<ace-read-js code="review.functionCode"></ace-read-js>
	</div>
</div>

<div class="section section-review" ng-if="review.microtask.submission.inDispute">
	<div class="section-title" ><div class="dot bg-color"></div>report reason</div>
	<div class="section-content" >
		{{review.microtask.submission.disputeFunctionText}}
	</div>
</div>
