<div ng-controller="ReviewController"  class="task-container container-flex-column">

	<div class="section section-description " >
		<div class="section-content no-padding" >
			<ul class="microtask-details clearfix">
				<li>{{datas.title}}</li>
				<li>
					<span>{{datas.submitValue}} points</span>
				</li>
				<li>
					<div class="help-btn"><span class="glyphicon glyphicon-question-sign"></span></div>
				</li>
			</ul>
		</div>
	</div>

	<!--///////////////////////////////////////////-->
	<!--//        WRITE TEST CASES MICROTASK     //-->
	<!--///////////////////////////////////////////-->

	<!-- prompt type = FUNCTION_SIGNATURE -->
	<div ng-if="review.microtask.type == 'WriteTestCases'"> 
		<div class="section section-description">
			<div class="section-title" >
				Job description
			</div>
			<div class="section-content" ng-if="review.microtask.promptType == 'FUNCTION_SIGNATURE'" >
				The worker was asked to write all possible testcases for the following function. <br /> Can you rate his work?
			</div>
			<div class="section-content" ng-if="review.microtask.promptType == 'CORRECT_TEST_CASE'" >
				The worker was asked to rewrite the test case
				<div class="alert alert-info" >{{review.microtask.disputedTestCase }}</div>
				that the crowd put in dispute for the following reason:
				 <div class="alert alert-info"> {{review.microtask.disputeDescription }} </div>
				Can you review his work?
			</div>
	
		</div>
		<div class="section section-description">
			<div class="section-title" >
			function description
			</div>
			<div class="section-content no-padding" >			
				<code-mirror-readonly code="review.functionCode"></code-mirror-readonly>
			</div>
		</div>

		<div class="section section-description-2">
			<div class="section-title" >submitted test cases</div>
			<div class="section-content" >
				<ul style="list-style:none">
					<li class="" ng-repeat="testcase in review.testcases"><strong>#{{$index+1}}</strong> {{testcase.text}}</li>
				</ul>
			</div>
		</div>
	</div>

	<!--//////////////////////////////////////////-->
	<!--//           WRITE TEST MICROTASK       //-->
	<!--//////////////////////////////////////////-->
	<div ng-if="review.microtask.type == 'WriteTest'">
		<div class="section section-description">
			<div class="section-title" >
				Job description
			</div>
			<div ng-if="! review.microtask.submission.inDispute" class="section-content" >
				The worker was asked to write a test for the following case:
				<div class="alert alert-info">{{review.microtask.owningArtifact}}</div>
				of the function below. Can you rate his work?
			</div>
			<div ng-if="review.microtask.submission.inDispute" class="section-content" >
				The worker disputed the test that the crowd has written for the following case:
				<div class="alert alert-info">{{review.microtask.owningArtifact}}</div>
				of the function below.
				<br /> Can you rate his dispute?
			</div>
		</div>
		<div class="section section-description">
			<div class="section-title" >
			function description
			</div>
			<div class="section-content no-padding" >
				<code-mirror-readonly code="review.functionCode"></code-mirror-readonly>
			</div>
		</div>

		<div ng-if="! review.microtask.submission.inDispute" class="section section-description-2">
			<div  class="section-title" >Written TEST</div>
			<div class="section-content" >
				<table style="width:100%" class="test">
					
					<tr ng-repeat="(inputKey,input) in review.microtask.submission.simpleTestInputs track by $index">
						<td>{{functionUnderTest.paramNames[$index]}}</td>
						<td>
							<div ace-read-json ng-model="input" ></div>
						</td>
					</tr>
					<tr ng-if="functionUnderTest.returnType!=undefined">
						<td>test output</td>
						<td>
							<div ace-read-json ng-model="review.microtask.submission.simpleTestOutput" ></div>
						</td>
					</tr>
				</table>
			</div>
		</div>

		<div ng-if="review.microtask.submission.inDispute" class="section section-description-2">
			<div class="section-title" >dispute reason</div>
			<div class="section-content" >
				<div class="alert">{{review.microtask.submission.disputeText}}</div>
			</div>
		</div>
		</div>


	<!--//////////////////////////////////////////-->
	<!--//        WRITE FUNCTION MICROTASK      //-->
	<!--//////////////////////////////////////////-->
	<div ng-if="review.microtask.type == 'WriteFunction' && review.microtask.promptType == 'SKETCH'">
		<div class="section section-description">
			<div class="section-title" >
				Job description
			</div>
			<div class="section-content" >
				The worker was asked to implement/edit the following function. <br /> Can you rate his work?
			</div>
		</div>

		<div class="section section-description-2">
			<div class="section-title" >
				submitted function code
			</div>
			<div class="section-content no-padding" >
				<code-mirror-readonly code="review.functionCode"></code-mirror-readonly>
			</div>
		</div>
	</div>

	<div ng-if="review.microtask.type == 'WriteFunction' && review.microtask.promptType == 'DESCRIPTION_CHANGE'">
		<div class="section section-description">
			<div class="section-title" >
				submitted work description
			</div>
			<div class="section-content" >
				After the change of the following callee function the user was asked if necessary to change the code of the caller function <br />
				<div ng-bind-html="review.microtask.oldFullDescription" ></div>
				<br>
				Can you rate his work?

			</div>
		</div>

		<div class="section section-description-2">
			<div class="section-title" >
				submitted function code
			</div>
			<div class="section-content" >
				<code-mirror-readonly code="review.functionCode"></code-mirror-readonly>
			</div>
		</div>
	</div>

	<!--//////////////////////////////////////////-->
	<!--// WRITE FUNCTION DESCRIPTION MICROTASK //-->
	<!--//////////////////////////////////////////-->
	<div ng-if="review.microtask.type == 'WriteFunctionDescription'">

		<div class="section section-description">
			<div class="section-title" >
				Job description
			</div>
			<div class="section-content" >
				The worker was asked to write the above signature of the function, in order to solve the following pseudoCall :
				<span class="pseudoCall">{{review.microtask.callDescription}}</span>?

			</div>
		</div>

		<div class="section section-description-2">
			<div class="section-title" >
				submitted function code
			</div>
			<div class="section-content" >
				<code-mirror-readonly code="review.functionCode"></code-mirror-readonly>
			</div>
		</div>
	</div>

	<!--//////////////////////////////////////////-->
	<!--//          WRITE CALL MICROTASK        //-->
	<!--//////////////////////////////////////////-->
	<div ng-if="review.microtask.type == 'WriteCall'">
		<div class="section section-description">
			<div class="section-title" >
				Job description
			</div>
			<div class="section-content" >
				The worker replaced the following pseudocall:
				<span class="pseudoCall">{{review.microtask.pseudoCall}}</span>
				in the above way. Can you rate his work?
			</div>
		</div>

		<div class="section section-description-2">
			<div class="section-title" >
				submitted function code
			</div>
			<div class="section-content" >
				<code-mirror-readonly code="review.functionCode"></code-mirror-readonly>
			</div>
		</div>
	</div>

	<alertcontainer></alertcontainer>

	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help" style="width:30%">
				<div class="section-title" >
					RATING SYSTEM
				</div>
				<div class="section-content" >
					<ul style="list-style:none;margin:0px;padding:0px;">
						<li><b>1 Star</b>: Work incoherent or unfocussed, <b>microtask will be rejected</b></li>
						<li><b>2 Star</b>: Work unconvincing or weak, <b>microtask will be rejected</b></li>
						<li><b>3 Star</b>: Work with some weakness, <b>microtask will be accepted</b></li>
						<li><b>4 Star</b>: Work with few weaknesses, <b>microtask will be accepted</b></li>
						<li><b>5 Star</b>: Excellent work with no significant weaknesses, <b>microtask will be accepted</b></li>
					</ul>

				</div>
			</div>

			<div class="section section-form" style="width:70%;" >

				<div class="section-title" >
					YOUR RATING
				</div>
				<div class="section-content" >
					<div id="ratingsDiv" >
						<span class="pull-left"> Quality: </span>
						<span ng-repeat="currentValue in [1,2,3,4,5] track by $index"
							  ng-mouseenter="review.mouseOn=currentValue"
							  ng-mouseleave="review.mouseOn=0"
							  ng-click="rate(currentValue)">
							<span class="rating-star {{ ( review.mouseOn > $index || review.rating > $index ) ? 'full' : '' }}"></span>
							<span ng-if="$index == 1" class="rating-separator" ></span>
						</span>
						<span class="clearfix"></span>
					</div>

					<span >Please briefly explain your rating:</span>
					<span
						ng-class="{ 'has-error': microtaskForm.reviewText.$dirty && microtaskForm.reviewText.$invalid , 'has-success': microtaskForm.reviewText.$valid}">
						<textarea
							id="reviewText" class="col-md-12 form-control input-sm" ng-model="review.reviewText" name="reviewText" required focus></textarea>
						<span
						class="help-block" ng-show="microtaskForm.reviewText.$dirty && microtaskForm.reviewText.$invalid && microtaskForm.reviewText.$error.required">This field is required!</span>
					</span>
				</div>
			</div>

		</div>
	</div>

	<!--
	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="form.$invalid || review.rate<1 " >Submit</button>
		<button ng-click="$emit('skipMicrotask')" class="btn btn-link">Skip</button>
	</div>
	<div class="clearfix"></div>
-->
</div>
