<div class="section section-description " >
		
	<div ng-include="'/html/templates/microtasks/microtask_title.html'"></div>

	<div class="section-content job-description" >
		<!-- if function description disputed -->
		<div ng-if="reviewed.submission.inDispute" >
			A worker reported an issue with a test case for the function
			<strong>{{ reviewed.owningArtifact }}</strong> .
		</div>

		<!-- if no function description dispute  AND the prompt type is WRITE   --> 
		<div ng-if="reviewed.promptType == 'WRITE' && !reviewed.submission.inDispute" >
			The worker was asked to write the testcases for the function 
			<strong>{{ reviewed.owningArtifact }}</strong>.
		</div>

		<!-- if no function description dispute  AND the prompt type is CORRECTS   --> 
		<div ng-if="reviewed.promptType == 'CORRECT' && !reviewed.submission.inDispute" >
			The worker was asked to edit the test cases of the function 
			<strong>{{ reviewed.owningArtifact }}</strong> 
			to address an issue that the crowd found.
		</div>

		<span>Can you rate this work?</span>
	</div>

</div>

<!-- prompt type = WRITE -->


<!-- always show the function description --> 
<div class="section section-description">
	<div class="section-title" >
		<div class="dot bg-color"></div>function description
	</div>
	<div class="section-content no-padding" >
		<ace-read-js code="review.functionCode"></ace-read-js>
	</div>
</div>

<!-- if the function description has been disputed -->
<div class="section section-review" ng-if="review.microtask.submission.inDispute">
	<div class="section-title" ><div class="dot bg-color"></div>report reason</div>
	<div class="section-content" >
		{{review.microtask.submission.disputeFunctionText}}
	</div>
</div>


<!-- if the function description has not been disputed -->

<!-- show report data if is a CORRECT -->
<div ng-if="reviewed.promptType == 'CORRECT' && !reviewed.submission.inDispute">
	<div class="section section-description" >
		<div class="section-title" >
			<div class="dot bg-color"></div>
			REPORT DETAILS 
		</div>

		<div class="section-content">
			<strong> Issued testcase: </strong>
			<span>{{reviewed.issuedTestCase}}</span>
			<br />
			<strong> Issue: </strong>
			<span>{{reviewed.issueDescription}}</span>

		</div>
	</div>
</div>

<div class="section section-review" ng-if="!review.microtask.submission.inDispute">
	<div class="section-title" ><div class="dot bg-color"></div>submitted test cases</div>
	<div class="section-content" >
		<ul style="padding-left:20px">
			<li ng-repeat="tc in review.testcases">
				
				<span ng-if="tc.class != 'chg'" class="{{tc.class}}" >
					<span ng-if="tc.class == 'add'">+</span>
					<span ng-if="tc.class == 'del'">-</span>
					{{tc.text}}
				</span>
				<span ng-if="tc.class == 'chg'">
					<span class="del">{{tc.old}}</span>
					changed to 
					<span class="add">{{tc.text}}</span>
				</span>

			</li>
		</ul>
	</div>
</div>