<div ng-controller="WriteTestController" class="task-container container-flex-column">

	<div class="section section-description " >
		<div class="section-content no-padding" >
			<ul class="microtask-details clearfix">
				<li>{{datas.title}}</li>
				<li>
					<span>{{datas.submitValue}} points</span>
				</li>
				<li>
					<div class="help-btn"><span class="glyphicon glyphicon-question-sign"></span></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
			JOB DESCRIPTION
		</div>
		<div class="section-content" >

			<div ng-show="microtask.promptType=='WRITE'">
				Please, write a test for the following test case: 
			</div>

			<div ng-show="microtask.promptType=='CORRECT'">
				The following issue was reported with this test:

				<div class="alert alert-info">{{test.description}}</div>
				<div class="alert alert-info">{{microtask.issueDescription}}</div>
				Can you fix the test to address this issue?<BR>
			</div>

			<div ng-show="microtask.promptType=='TESTCASE_CHANGED'">
				The description for this testcase has changed from:
				<div class="alert alert-info">{{microtask.oldTestCase}}</div> to : 
				<div class="alert alert-info">{{microtask.owningArtifact}}</div>
				Can you update the test below, if necessary?<BR>
			</div>

			<div ng-show="microtask.promptType=='FUNCTION_CHANGED'">
				The description of the function being tested has changed<BR>
				Can you update the test relative to the following description, or if necessary dispute the test case?<BR>
		   	</div>

			<div class="input-group">
		    	<input type="text" 
		    		class="form-control"
		      		disabled="true"
		      		name="newTestCase"
					ng-model="test.description"
		      	>
				<span class="input-group-btn">
					<button class="btn btn-primary" ng-disabled="dispute" ng-click="toggleDispute()">Dispute test case</button>
				</span>
		    </div>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
			FUNCTION SIGNATURE
		</div>
		<div class="section-content no-padding" >
			<code-mirror-readonly ng-if="microtask.promptType != 'FUNCTION_CHANGED'" code="code"></code-mirror-readonly>
			<code-mirror-readonly ng-if="microtask.promptType == 'FUNCTION_CHANGED'" code="diffCode" ></code-mirror-readonly>
		</div>
	</div>

	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help" style="width:30%">
				<div class="section-title" >
					AVAILABLE DATA STRUCTURES 
				</div>
				<div class="section-content" >
					<adt-bar></adt-bar>
				</div>
			</div>

			<div class="section section-form" style="width:70%;" ng-if="!dispute">

				<div class="section-title" >
					WRITE TEST 
				</div>
				<div class="section-content" >
					
					<div id="simpleTest" ng-hide="dispute">
						<p>Provide a JSON object literal of the specified type for each parameter and the expected
					    return value. If you need help for the available data structures, check the box on the left. </p>

					    <div class="form-group"
					    	 ng-form="inputForm" 
					         ng-repeat="(index,paramName) in funct.paramNames" 
					         ng-class="{ 'has-error': inputForm.input.$dirty && inputForm.input.$invalid , 'has-success': inputForm.input.$valid}" 
					         >
							<span for="input">{{paramName}} ({{funct.paramTypes[index]}}): </span>
							<a href="#" ng-click="testData.inputs[index]=loadExample(funct.paramTypes[index])" >Paste Example </a>
							<ace-edit-json ng-model="testData.inputs[index]" focus-ace=" index == 0" ></ace-editor-json>
							<textarea class="form-control" name="input" ng-model="testData.inputs[index]" ng-attr-required="dispute" json1="{{funct.paramTypes[index]}}" ng-show="false"></textarea>
							{{inputForm.input.$dirty}}
							<ul class="help-block" ng-show="inputForm.input.$invalid ">
								<li ng-show="inputForm.input.$error.required" >This field is required!</li> 
								<li ng-show="inputForm.input.$error.json1" >
									<!--<span>There are JSON errors. Please fix them:</span>-->
									<ul ng-repeat="error in inputForm.input.$error.json_errors">
										<li>{{error}}</li>
									</ul>
								</li>
							</ul>
						</div> <!-- /. FORM GROUP TEST INPUT -->

						<div ng-if="funct.returnType!=''" class="form-group" ng-class="{ 'has-error': form.output.$dirty && form.output.$invalid , 'has-success': form.output.$valid}" >
							<label for="output">expected Return value ({{funct.returnType}}):</label>
							<a href="#" ng-click="testData.output=loadExample(funct.returnType)" >Paste Example </a>

							<ace-edit-json ng-model="testData.output" focus-ace></ace-editor-json>

							<textarea ng-show="false" class="form-control" name="output" ng-model="testData.output"  ng-attr-required="dispute" json1="{{funct.returnType}}" ></textarea>
							<ul class="help-block" ng-show="form.output.$invalid">
								<!--<li ng-show="form.output.$error.required" >This field is required!</li> -->
								<li ng-show="form.output.$error.json1" >
									<span>There are JSON errors. Please fix them:</span>
									<ul ng-repeat="error in form.output.$error.json_errors">
										<li>{{error}}</li>
									</ul>
								</li>
							</ul>
						</div> <!-- /. FORM GROUP TEST OUTPUT -->

					</div> <!-- /. WRITE TEST DIV -->

				</div> <!-- ./ SECTION CONTENT -->


			</div>

			<div class="section section-form" style="width:70%;" ng-if="dispute">

				<div class="section-title" >
					DISPUTE THE TEST CASE
				</div>
				<div class="section-content" >

					<div id="disputeDiv" ng-show="dispute" class="form-group">
						<label for="disputeText">Dispute test case:</b> what's wrong with this test case? </label>
						<textarea name="disputeText" class="form-control" class="resize:none" ng-model="testData.disputeText"></textarea><br>
						<button class="btn " ng-click="toggleDispute()" >Nothing is wrong with the test case</button>
					</div> <!-- /. DISPUTE DIV -->
				</div> <!-- /. WRITE TEST DIV -->

			</div> <!-- ./ SECTION CONTENT -->
					

		</div>
	</div>
</div>





<!--
	<br/>
	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="form.$invalid" >Submit</button>
		<button ng-click="$emit('skipMicrotask')"   class="btn btn-link">Skip</button>
	</div>
	<div class="clearfix"></div>
-->
