<div ng-controller="WriteFunctionDescriptionController" >

	<div class="section section-description " >
		<div class="section-content no-padding" >
			<ul class="microtask-details clearfix">
				<li class="bg-color">{{::datas.title}}</li>
				<li >
					<span>{{::datas.submitValue}} points</span>
				</li>
				<li class="color">
					<div class="help-btn" ng-click="startTutorial('WriteTestCases');"><span class="glyphicon glyphicon-question-sign"></span></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
			<div class="dot bg-color"></div>
			JOB DESCRIPTION
		</div>
		<div class="section-content">
			<div ng-show="microtask.reissuedFrom !== undefined" ng-include="'/html/templates/reissue_microtask.html'"></div>

			Can you write the description of the function that will replace the pseudocall <strong>{{ microtask.callDescription}}</strong> in the following function code?<br>
			
		</div>
		
	</div>

	<div class="section section-description">
		<div class="section-title" >
			<div class="dot bg-color"></div> FUNCTION WITH PSEUDOCALL
		</div>
		<div class="section-content no-padding" >
			<ace-read-js code="code"></ace-read-js>
		</div>
	</div>


	<alertcontainer></alertcontainer>


	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help bg-color-alpha" style="width:30%">
				<div class="section-title" >
					<div class="dot"></div>DATA TYPES
				</div>
				<div class="section-content" >
					<adt-list></adt-list>
				</div>
			</div>

			<div class="section section-form" style="width:70%;" >
				<div class="section-content">
					<div class="form-horizontal" role="form" style="display:inline-block">
					  	<div class="form-group">
						    <label for="description" class="col-sm-2 control-label reset-padding">description</label>
						    <div class="col-sm-10 reset-padding">
						      	<textarea class="form-control" name="description" placeholder="briefly describe the purpose and the behavior of the function" ng-model="description" required ng-pattern="/^[^/\\]+$/" focus></textarea>
								<ul class="help-block" ng-show="microtaskForm.description.$dirty && microtaskForm.description.$invalid">
									<li ng-show="microtaskForm.description.$error.required">This field is required!</li>
									<li ng-show="microtaskForm.description.$error.pattern">The "\" and "/" are not allowed</li>
								</ul>
						    </div>

					  	</div>
					  	<div class="form-group">
						    <label for="returnType" class="col-sm-2 control-label reset-padding">return data type</label>
						    <div class="col-sm-10 reset-padding">
						      	<input type="text" class="form-control" name="returnType" ng-model="returnType" ng-model-options="{ updateOn: 'blur' }"  adt-validator required placeholder="insert the return data type" press-enter="addParameter()" >
						      	<ul class="help-block" ng-show="microtaskForm.returnType.$dirty && microtaskForm.returnType.$invalid">
									<li ng-show="microtaskForm.returnType.$error.required">This field is required!</li>
									<li ng-show="microtaskForm.returnType.$error.adt"> {{microtaskForm.returnType.$error.adt}}</li>
								</ul>
						    </div>
					  	</div>
					  	<div class="form-group">
						    <label for="functionName" class="col-sm-2 control-label reset-padding">function name</label>
						    <div class="col-sm-10 reset-padding">
						      	<input type="text" class="form-control" name="functionName" ng-model="functionName" required ng-pattern="/^[a-zA-Z0-9_]+$/" function-name-validator placeholder="insert the function name" press-enter="addParameter()">
						    	<ul class="help-block" ng-show="microtaskForm.functionName.$dirty && microtaskForm.functionName.$invalid">
									<li ng-show="microtaskForm.functionName.$error.required">This field is required!</li>
									<li ng-show="microtaskForm.functionName.$error.pattern">Is not a valid function name! Please use only alphanumerical characters and the _ symbol</li>
									<li ng-show="microtaskForm.functionName.$error.name"> {{microtaskForm.functionName.$error.name}}</li>
								</ul>
						    </div>
					  	</div>
					  	<div class="form-group col-sm-12">
						    <label class=" control-label col-sm-2 reset-padding">parameters</label>
							<div class="form-group col-sm-10 reset-padding" >
								<div ng-form="param" class="form-horizontal" style="display:inline-block" ng-repeat="(index,parameter) in parameters">
								    <div class="col-sm-3 reset-padding">
								      	<input type="text" class="form-control pull-left" ng-model="parameter.paramName" required ng-pattern="/^[a-zA-Z0-9_]+$/" placeholder="name" name="parameterName" unic-name parameters="parameters" press-enter="addParameter()"/>
								      	<ul class="help-block" ng-show="param.parameterName.$dirty && param.parameterName.$invalid">
											<li ng-show="param.parameterName.$error.required">This field is required!</li>
											<li ng-show="param.parameterName.$error.unic">{{param.parameterName.$error.unic}}</li>
											<li ng-show="param.parameterName.$error.pattern">Is not a valid parameter name!Please use only alphanumerical characters and the _ symbol</li>
										</ul>
									</div>
									<div class="col-sm-3 reset-padding">
								      	<input type="text" class="form-control pull-left" name="parameterType" ng-model="parameter.paramType" ng-model-options="{ updateOn: 'blur' }" required adt-validator placeholder="type" press-enter="addParameter()"/>
								      	<ul class="help-block" ng-show="param.parameterType.$dirty && param.parameterType.$invalid">
											<li ng-show="param.parameterType.$error.required">This field is required!</li>
											<li ng-show="param.parameterType.$error.adt">{{param.parameterType.$error.adt}}</li>
										</ul>
									</div>
									<div class="col-sm-5 reset-padding">
								      	<input type="text" class="form-control pull-left" name="parameterDescritpion" placeholder="description" ng-model="parameter.paramDescription" required ng-pattern="/^[a-zA-Z0-9_-\s]+$/" press-enter="addParameter()"/>
								      	<ul class="help-block" ng-show="param.parameterDescritpion.$dirty && param.parameterDescritpion.$invalid">
											<li ng-show="param.parameterDescritpion.$error.required">This field is required!</li>
											<li ng-show="param.parameterDescritpion.$error.pattern">Please use only alphanumerical characters or - and _ symbols</li>
										</ul>
									</div>
									<div class="col-sm-1 reset-padding">
								      	<button ng-click="deleteParameter(index)" class="btn  pull-right">X</button>
								    </div>
								</div>
						  	</div>
						</div>
					  	<div class="form-group">
					  		<div class="col-sm-12 reset-padding">
					  			<button ng-click="addParameter()" class="btn btn-mini pull-right">Add Parameter</button>
					  		</div>
					  	</div>
					</div>

				</div>
			</div>

		</div>
	</div>
<!--
	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="microtaskForm.$invalid || testCases.length==0" >Submit</button>
		<button ng-click="$emit('skipMicrotask')"   class="btn btn-link"   >Skip</button>
	</div>
	<div class="clearfix"></div>
-->
</div>



