<div ng-controller="WriteCallController" >

	 
	<div class="section section-description " >
		
		<div ng-include="'/html/templates/microtasks/microtask_title.html'"></div>
		<div class="section-content job-description" >
			<div ng-if="microtask.pseudoName!=calleeFunction.getName()">
				The crowd found that the calls to the function
				<strong>{{ $scope.microtask.pseudoName }}</strong>
				can be implemented by using the function <strong>{{calleeFunction.getName()}}</strong>. <br />
				Using the signature of the function <strong>{{calleeFunction.getName()}}</strong>, can you revise the calls to <strong>{{microtask.pseudoName}}</strong> in the following function code?
				<br />
				<b>Tip:</b> if a call {{calleeFunction.getName()}} doesn't seem the right way to do this, you can also try a different implementation instead.
			</div>
			<div ng-if="microtask.pseudoName==calleeFunction.getName()">
				According to the signature of <strong>{{calleeFunction.getName()}}</strong>, can you check if the calls are correct and revise them if necessary?
			</div>

		</div>
	</div>


	<div ng-show="microtask.reissuedFrom !== undefined" ng-include="'/html/templates/reissue_microtask.html'"></div>
	
	<div class="section section-description">
		<div class="section-title" >
			<div class="dot bg-color"></div> FUNCTION SIGNATURE
		</div>
		<div class="section-content no-padding" >
			<ace-read-js code="calleeFunction.getSignature()"></ace-read-js>
		</div>
	</div>

	<alertcontainer></alertcontainer>

	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help bg-color-alpha" style="width:30%">
				<div class="section-title" >
					<div class="dot"></div> EXAMPLE
				</div>
				<div class="section-content" >
					<div class="accordion-inner">
						<adt-list></adt-list>
					</div>
				</div>
			</div>
			<div class="section section-form" style="width:70%;" >
				<div id="taskForm" >
					<function-editor
						code="code"
						codemirror="codemirror"
						funct="funct"
						highlight = "microtask.pseudoName"
						>
					</function-editor>
				</div>
			</div>
		</div>
	</div>
</div>
