<div ng-controller="WriteTestCasesController" class="task-container container-flex-column">

	<div class="section section-description " >
		<div class="section-content no-padding" >
			<ul class="microtask-details clearfix">
				<li>{{datas.title}}</li>
				<li>
					<span>{{datas.submitValue}} points</span>
				</li>
				<li>
					<div class="help-btn"><span class="glyphicon glyphicon-question-sign"></span></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
		JOB DESCRIPTION
		</div>
		<div class="section-content" >
			<div ng-show="microtask.promptType=='FUNCTION_SIGNATURE'" >

				What are some cases in which this function might be used? Are there any unexpected corner
				cases that might not work?
			</div>

			<div ng-show="microtask.promptType=='CORRECT_TEST_CASE'" >
			    The following test case:<BR><BR>
			    <div class="alert alert-info">{{microtask.disputeDescription}}</div>
			    Has been reported to have this issues:
				<div class="alert alert-danger">{{microtask.disputedTestCase}}</div>

			    Can you rewrite the test case (and others if necessary) to address the issue?<BR>
			</div>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
			FUNCTION SIGNATURE
		</div>
		<div class="section-content no-padding" >
			<!--  <div ng-model="code" ui-codemirror="{ onLoad : codemirrorLoaded }"></div>-->
			<code-mirror-readonly code="code"></code-mirror-readonly>
		</div>
	</div>
	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help" style="width:30%">
				<div class="section-title" >
					EXAMPLE
				</div>
				<div class="section-content" >
					<div class="accordion-inner">
						subtract(a, b)<BR>

						<B>Here's some test cases:</B><BR>
						a is greater than b<BR>
						b is greater than a<BR>
						a is the same as b<BR>
						a is positive, b is negative<BR>
						a is negative, b is zero<BR>
						a is positive, b is zero<BR>
					</div>
				</div>
			</div>

			<div class="section section-form" style="width:70%;" >

				<div class="section-title form-group" >
					<input
						class="form-control input-sm"
						tabindex="1"
						type="text"
						name="newtestcase"
						ng-model="viewData.newTestCase"
						press-enter="addTestCase()"
						placeholder="Describe a test case"/>

					<button class="btn btn-sm btn-primary" type="button"
						ng-click="addTestCase()"
						tabindex="2" >
						Add
					</button>

				</div>
				<div class="section-content" >
					<ul ng-if="testCases.length > 0">
						<li ng-repeat="(index,test) in testCases">
							<ng-form  name="testCaseForm"  class="form-group" ng-class="{ 'bg-danger': testCaseForm.testcase.$dirty && testCaseForm.testcase.$invalid }" ng-init="editMode=false" >

									<label for="testcase" class="col-sm-1 control-label" >#{{index+1}}</label>
									<div >
										<input class="form-control input-transparent "
												   type="text"
												   name="testcase"
												   placeholder="Describe a test case"
												   ng-model="test.text"
												   press-enter=" editMode = testCaseForm.testcase.$invalid ? true : false "
												   ng-focus="editMode=true"
												   ng-blur="editMode=false"
												   tabindex="{{2*index+2}}"
												   data-toggle="tooltip"
												   data-placement="left"
												   title="press Enter to exit edit mode"
												   required/>
										<span class="help-block" ng-show="testCaseForm.testcase.$dirty && testCaseForm.testcase.$invalid && testCaseForm.testcase.$error.required">
											a test case name can't be empty!
										</span>
									</div>

									<div>
										<button class="btn btn-sm" type="button" tabindex="{{2*index+3}}" ng-click="deleteTestCase(index)">
											<span class="glyphicon glyphicon-remove"></span>
										</button>
									</div>
							</ng-form>
						</li>
					</ul>
					<span ng-if="testCases.length == 0" >write at least one test case</span>

				</div>


			</div>

		</div>
	</div>
<!--
	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="form.$invalid || testCases.length==0" >Submit</button>
		<button ng-click="$emit('skipMicrotask')"   class="btn btn-link"   >Skip</button>
	</div>
	<div class="clearfix"></div>
-->
</div>
