<div ng-controller="WriteCallController" >

	 
	<div class="section section-description " >
		<div class="section-content no-padding" >
			<ul class="microtask-details clearfix">
				<li class="bg-color">{{::data.title}}</li>
				<li >
					<span>{{::data.submitValue}} points</span>
				</li>
				<li class="color">
					<div class="help-btn" ng-click="startTutorial('WriteTestCases');"><span class="glyphicon glyphicon-question-sign"></span></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
			<div class="dot bg-color"></div> JOB DESCRIPTION
		</div>
		<div class="section-content" >
			<div ng-show="microtask.reissuedFrom !== undefined" ng-include="'/html/templates/reissue_microtask.html'"></div>

			The crowd found that the pseudocall:<span class="pseudoCall">{{microtask.pseudoCall}}</span>
			can be solved using the function below.
			Can you replace the pseudocall with a call to this function, or find another way to do it?

		</div>
	</div>
	<div class="section section-description">
		<div class="section-title" >
			<div class="dot bg-color"></div> FUNCTION SIGNATURE
		</div>
		<div class="section-content no-padding" >
			<ace-read-js code="microtask.calleeFullDescription"></ace-read-js>
		</div>
	</div>

	<alertcontainer></alertcontainer>

	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help bg-color-alpha" style="width:30%">
				<div class="section-title" >
					<div class="dot"></div> EXAMPLE
				</div>
				<div class="section-content" >
					<div class="accordion-inner">
						<adt-list></adt-list>
					</div>
				</div>
			</div>
			<div class="section section-form" style="width:70%;" >
				<div id="taskForm" >
					
					<div class="codemirrorBox" ui-codemirror="{ onLoad : codemirrorLoaded, autofocus : true }" ng-model="code" ></div>
					<textarea function-validator class="form-control" name="code" ng-model="code" ng-show="false"></textarea>
					<ul class="help-block" ng-show="microtaskForm.code.$error.function_errors.length > 0">
						<span>There are some errors. Please fix them before submit:</span>
						<ul ng-repeat="error in microtaskForm.code.$error.function_errors track by $id($index)">
							<li>{{error}}</li>
						</ul>
					</ul>
				</div>
			</div>
		</div>
	</div>

<!--
	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="form.$invalid || testCases.length==0" >Submit</button>
		<button ng-click="$emit('skipMicrotask')"   class="btn btn-link"   >Skip</button>
	</div>
	<div class="clearfix"></div>
-->
</div>