<div ng-controller="WriteFunctionDescriptionController">

	<div class="section section-description " >
		<div class="section-content no-padding" >
			<ul class="microtask-details clearfix">
				<li>{{datas.title}}</li>
				<li>
					<span>{{datas.submitValue}} points</span>
				</li>
				<li>
					<div class="help-btn"><span class="glyphicon glyphicon-question-sign"></span></div>
				</li>
			</ul>
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
		JOB DESCRIPTION

		</div>
		<div class="section-content" >
			The crowd found that there is not any function yet to solve the pseudocall: <BR>
			<span class="pseudoCall">{{ microtask.callDescription}}</span><BR>
			Looking at the context, can you implement a function to substitute the pseudocall?
		</div>
	</div>

	<div class="section section-description">
		<div class="section-title" >
			FUNCTION WITH PSEUDOCALL
		</div>
		<div class="section-content no-padding" >
			<div class="readOnlyCodemirror" ui-codemirror="{ onLoad : codemirrorLoaded }"></div>
		</div>
	</div>
	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help" style="width:30%">
				<div class="section-title" >
					PROJECT DATA STRUCTURES 
				</div>
				<div class="section-content" >
					<adt-bar></adt-bar>
				</div>
			</div>

			<div class="section section-form" style="width:70%;" >
				<span ng-class="{ 'has-error': form.description.$dirty && form.description.$invalid , 'has-success': form.description.$valid}">
					<span>Description:</span>
					<textarea
					id="functionDescription" class="col-md-8 form-control input-sm" draggable="false" name="description"
					placeholder="Can you briefly describe the purpose and behavior of the function?" ng-model="writeFunctionDescription.description" required>
					</textarea>

					<span class="help-block" ng-show="form.description.$dirty && form.description.$invalid && form.description.$error.required">
						This field is required!
					</span>
				</span>

				<span class="col-md-12" ng-class="{ 'has-error': form.returnType.$dirty && form.returnType.$invalid , 'has-success': form.returnType.$valid}">
					<span class="col-md-2">returns</span>
					<span class="col-md-3">
						<input class="form-control input-sm" type="text" id="returnType"
						placeholder="return type" name=returnType ng-model="writeFunctionDescription.returnType" adt-validator>
						<span class="help-block" ng-show="form.returnType.$dirty && form.returnType.$invalid && form.returnType.$error.adt">
								 {{form.returnType.$error.adt_errors}}
						</span>

					</span>
				</span>


				<span class="col-md-12" ng-class="{ 'has-error': form.functionName.$dirty && form.functionName.$invalid , 'has-success': form.functionName.$valid}">
					<span class="col-md-2">function</span>
					<span class="col-md-3">
						<input class="form-control input-sm" type="text" id="name"
						placeholder="functionName" name="functionName" ng-model="writeFunctionDescription.functionName" required ng-pattern="/^[a-zA-Z0-9_]+$/"  >

						<ul class="help-block" ng-show="form.functionName.$dirty && form.functionName.$invalid">
							<li ng-show="form.functionName.$error.required">This field is required!</li>
							<li ng-show="form.functionName.$error.pattern">Is not a valid function name!</li>
						</ul>
					</span>

					<span class="col-md-1">(</span>
				</span>


				<ng-form name="parameterForm" ng-repeat="(index,test) in writeFunctionDescription.parameters">
					<span class="col-md-9">
						<div class="col-md-3 form-group"
						ng-class="{ 'has-error': parameterForm.paramName.$dirty && parameterForm.paramName.$invalid , 'has-success': parameterForm.paramName.$valid}">

							<input class="form-control input-sm" type="text" ng-model="writeFunctionDescription.parameters[index].paramName" name="paramName"
								placeholder="Parameter Name" required ng-pattern="/^[a-zA-Z0-9_]+$/"/>

							<ul class="help-block" ng-show="parameterForm.paramName.$dirty && parameterForm.paramName.$invalid">
								<li ng-show="parameterForm.paramName.$error.required">This field is required!</li>
								<li ng-show="parameterForm.paramName.$error.pattern">Is not a valid parameter name!</li>
							</ul>

						</div>

						<span class="col-md-1"> , // </span>

						<div class="col-md-3 form-group"
							ng-class="{ 'has-error': parameterForm.paramType.$dirty && parameterForm.paramType.$invalid , 'has-success': parameterForm.paramType.$valid}">

							<input class="form-control input-sm" type="text" ng-model="writeFunctionDescription.parameters[index].paramType" name="paramType"
								placeholder="Parameter Type" adt-validator required/>

							<ul class="help-block" ng-show="parameterForm.paramType.$dirty && parameterForm.paramType.$invalid">
								<li ng-show="parameterForm.paramType.$error.required">This field is required!</li>
								<li ng-show="parameterForm.paramType.$error.adt">{{parameterForm.paramType.$error.adt_errors}}</li>
							</ul>

						</div>
						<span class="col-md-1"> - </span>

						<div class="col-md-3 form-group"
							ng-class="{ 'has-error': parameterForm.paramDescritpion.$dirty && parameterForm.paramDescritpion.$invalid , 'has-success': parameterForm.paramDescritpion.$valid}">
							<input class="form-control input-sm" type="text" ng-model="writeFunctionDescription.parameters[index].paramDescritpion" name="paramDescritpion"
								placeholder="Parameter Description" required press-enter="addParameter()"/>

							<ul class="help-block" ng-show="parameterForm.paramDescritpion.$dirty && parameterForm.paramDescritpion.$invalid">
								<li ng-show="parameterForm.paramDescritpion.$error.required">This field is required!</li>
							</ul>

						</div>
						<div class="col-md-1">
							<button ng-click="deleteParameter(index)" class="btn btn-sm">X</button>
						</div>
					</span>
				</ng-form>
				<button ng-click="addParameter()" class="btn btn-sm">Add Parameter</button>
				<javascrpit-helper></javascrpit-helper>
			</div>

		</div>
	</div>
<!--
	<div class="task-buttons pull-right">
		<button ng-click="submit()" class="btn btn-primary" ng-disabled="form.$invalid || testCases.length==0" >Submit</button>
		<button ng-click="$emit('skipMicrotask')"   class="btn btn-link"   >Skip</button>
	</div>
	<div class="clearfix"></div>
-->
</div>



