<div ng-controller="WriteFunctionController" >
	<div class="section section-description " >


		<div ng-include="'/html/templates/microtasks/microtask_title.html'"></div>
		<div class="section-content job-description" >

			<div ng-if="::microtask.promptType=='SKETCH'">
				Can you write some code in the function below?<br />
				<strong>TIP:</strong> If there’s a lot to do, be sure to use pseudocalls and / or pseudocode to leave some work for others
			</div>
			<div ng-if="::microtask.promptType=='RE_EDIT'">
				The crowd reported an issue with this function. Can you fix the function to address this issue (if necessary)?
			</div>
			<div ng-if="::microtask.promptType=='REMOVE_CALLEE'">
				The crowd has determined that the function <strong>{{callee.getName()}}</strong>, called in the function below, cannot be implemented as requested. Can you replace the call(s) to 
				<strong>{{callee.getName()}}</strong> with a new implementation?
			</div>

			<div ng-if="::microtask.promptType=='DESCRIPTION_CHANGE'">
				The signature of the following callee has changed as follows. Can you updated the code, if necessary?
			</div>
		</div>
	</div>


	<div ng-show="microtask.reissuedFrom !== undefined" ng-include="'/html/templates/reissue_microtask.html'"></div>

	<div class="section section-description" ng-if="::microtask.promptType=='RE_EDIT' || microtask.promptType=='REMOVE_CALLEE'" >
		<div class="section-title"> <div class="dot bg-color"></div> Reported Issue </div>
		<div  class="section-content" >
			<span ng-bind="::microtask.disputeText"></span>
		</div>
	</div>


	<div class="section section-description" ng-if="::(microtask.promptType=='SKETCH' || microtask.promptType=='RE_EDIT')">
		<div class="section-title"> <div class="dot bg-color"></div> Conventions for writing functions </div>
		<div  class="section-content" >
			<function-convections ></function-convections>
		</div>
	</div>
	<div class="section section-description" ng-if="::microtask.promptType=='DESCRIPTION_CHANGE'">
		<div class="section-title" > <div class="dot bg-color"></div> Changes to Function Signature</div>
		<div class="section-content no-padding" >
			<ace-read-js code="::diffCode" mode="diff" ></ace-read-js>
		</div>
	</div>
	<div class="section section-description" ng-if="::microtask.promptType=='REMOVE_CALLEE'">
		<div class="section-title" > <div class="dot bg-color"></div> Description of Function Call to Remove </div>
		<div class="section-content no-padding" >
			<ace-read-js code="::callee.getSignature()"></ace-read-js>
		</div>
	</div>
	<alertcontainer></alertcontainer>
	
	<div class="section-cols" >
		<div class="container-flex-row" ng-show="!dispute.active" >
			<div class="section section-help bg-color-alpha" style="width:30%;">
				<div class="section-title" > 
					<div class="dot"></div> 
					<javascript-helper ></javascript-helper>
				</div>
				<div class="section-title" > <div class="dot"></div> AVAILABLE DATA TYPES </div>
				<div class="section-content" >
					<adt-list></adt-list>
				</div>
			</div>
			<div class="section section-form" style="width:70%;" >
				<div ng-if="!funct.readOnly && !dispute.active" >
					<a class="pull-right" ng-click="dispute.toggle(); $event.preventDefault(); $event.stopPropagation();">
						Report function as impossible (or inadvisable) to implement 
						<span class="glyphicon glyphicon-exclamation-sign"></span>
					</a>
					<div class="clearfix"></div>
				</div>
				<ace-edit-js function="funct" editor="data.editor" ></ace-edit-js>
			</div>
		</div>
		<div class="container-flex-row" ng-show="dispute.active">
			<div class="section section-form" style="width:100%" >
				<div class="section-content">
					<div class="heading-1" >Why should this function not be implemented?</div>
					<textarea 
						name="disputeFunctionText" 
						class="form-control required" 
						style="resize:none" 
						ng-model="dispute.text" 
						ng-required="dispute.active">
					</textarea>
					<a href="#" class="btn btn-sm pull-right" ng-click="dispute.toggle()" > Go back</a>
				</div>
				<span class="clearfix"></span>
			</div>
		</div>
	</div>
</div>
