<div ng-controller="ReviewController">

	<div class="header bg-color">
		<span class="type  ">Review Work</span>
		<span class="reissued" ng-if="microtask.reissuedSubmission !== undefined">REISSUED</span>
		<span class="points">( {{::microtask.points}} pts )</span>
		<button class="btn btn-sm" ng-click="$emit('queue-tutorial', microtask.type, true); trackInteraction('Click Tutorial', 'Review - Microtask', $event)">
			<span class="glyphicon glyphicon-question-sign"></span>
		</button>
		<span class="clearfix"></span>
    </div>

	<div ng-include src="'/client/microtasks/review/review_' + review.template + '.html'" ></div>

<!--
	<div class="section-cols" >
		<div class="container-flex-row">
			<div class="section section-help bg-color-alpha" style="width:30%">
				<div class="section-title" >
					<div class="dot"></div>RATING SYSTEM
				</div>
				<div class="section-content" >
					<ul style="list-style:none;margin:0px;padding:0px;">
						<li><b>1 Star</b>: Incoherent or unfocussed</li>
						<li><b>2 Stars</b>: Unconvincing or weak</li>
						<li><b>3 Stars</b>: There are some weakness</li>
						<li><b>4 Stars</b>: Good quality, without weakness</li>
						<li><b>5 Stars</b>: Excellent without weakness</li>
					</ul>

				</div>
				<div class="section-title" >
					<div class="dot"></div>
					AVAILABLE DATA TYPES
				</div>
				<div class="section-content" >

				</div>
			</div>

			<div class="section section-form" style="width:70%;" >
				<div class="section-content no-padding" >

					<div class="heading-1" >rating</div>
					<div id="ratingsDiv" class="stars-container pull-left" >
						<span ng-repeat="currentValue in [1,2,3,4,5] track by $index"
							  ng-mouseenter="review.mouseOn=currentValue"
							  ng-mouseleave="review.mouseOn=0"
							  ng-click="rate(currentValue)">
							<span class="star {{ ( review.mouseOn > $index || review.rating > $index ) ? 'full' : '' }}"></span>
							<span ng-if="$index == 2" class="stars-separator" ></span>
						</span>
					</div>



					<span class="rating-result pull-left" ng-if="review.rating != -1">
						<strong ng-if="review.rating <= 3"><span class="glyphicon glyphicon-refresh"></span> revise work</strong>
						<strong ng-if="review.rating > 3"><span class="glyphicon glyphicon-ok"></span> work accepted</strong>
					</span>

					<span class="clearfix"></span>

					<div class="heading-1" >review</div>
					<textarea
						id="reviewText" class="col-md-12 form-control input-sm" ng-model="review.reviewText" name="reviewText" ng-required="review.rating < 4" focus style="resize:none;height:100px;"></textarea>
					<span
					class="help-block" ng-show="microtaskForm.reviewText.$dirty && review.rating < 4 && microtaskForm.reviewText.$invalid && microtaskForm.reviewText.$error.required">This field is required!</span>
				</div>
			</div>

		</div>
	</div>
-->
</div>
