<div class="chat {{chatActive?'active':''}}">

	<div class="header"> 
		<span>Project chat</span>
		<span class="pull-right btn-close glyphicon glyphicon-remove" ng-click="$emit('toggleChat')"></span>
	</div>

	<div class="output" scroll-glue>
		<ul class="messages">
			<li ng-repeat="m in messages">
	      		<div class="avatar"><img src="{{profiles.$getRecord(m.workerId).avatarUrl}}" alt="" /></div>
	      		<div class="message">
	      			<span class="nickname">
						{{m.workerHandle}}:</span>
	      			<span class="text">{{m.text}}</span>
	      		</div>
	      		<!--<div class="timestamp">{{ m.createdAt | date : 'medium'}}</div>-->
	      			
	      		<div class="clearfix"></div>
	      	</li>
	      	<li class="clearfix"></li>
		</ul>
	</div>

	<div class="input">
		<textarea ng-model="data.newMessage" ng-model-option="{ updateOn: 'blur'}"class="input-sm" press-enter="addMessage()" ></textarea>
	</div>
	
</div>