<div class="chat {{chatActive?'active':''}}">
	<div class="header"> 
		<span>Project chat</span>
		<span class="pull-right btn-close glyphicon glyphicon-remove" ng-click="$emit('toggleChat')"></span>
	</div>
	<div class="output-wrapper">
		<ul class="output">
			<li ng-repeat="m in messages" >
	      		<div class="avatar"><img src="/user/picture?userId={{ m.workerHandle }}" alt="" /></div>
	      		
	      		<div class="message">
	      			<span class="nickname">{{m.workerHandle}}:</span>
	      			<span class="text" ng-bind-html="m.text | newline"></span>
	      			<div class="time">{{ m.createdAt | date : 'medium'}}</div>
	      			
	      		</div>
	      		<div class="clearfix"></div>
	      	</li>
		</ul>
	</div>
	<div class="input">
		<textarea ng-model="asd" class="input-sm" press-enter="addMessage()"></textarea>
	</div>
	
</div>