
<div ng-controller="LeaderboardController">
	<ul class="sidebar-list leaderboard" >
	  <li ng-repeat="leader in leaders | orderBy:'-score'" ng-if="leaders.length > 0" 
	  	  class="{{ (onlineWorkers.$indexFor(leaders.$keyAt(leader))>-1) && 'loggedIn' || '' }}" ng-init="profile = profiles.$getRecord(leader.$id)">
	  	
	  		<div class="avatar"><img style="width:25px" src="{{ profile.avatarUrl }}" alt="{{ ::leader.name }}" /></div>
	  		<div class="score">{{ leader.score }} pts</div>
	  		<div class="name">{{::(leader.name) }}</div>

	  		<div class="clearfix"></div>

		
	  </li>
	</ul>
	<span ng-if="leaders.length == 0" >
		no leaders yet!
	</span>
</div>
