<div>
	<ul class="sidebar-list news-list ">
		<li class="news-element {{ n.microtaskType | lowercase }}"
			ng-if="news.length > 0" 
			ng-repeat="n in news.slice().reverse()" 
			ng-mouseenter="loadMicrotask(n)" 

			trigger="hover"  
			data-template="/html/templates/popover/news_popover.html" 
			data-animation="" 
			data-auto-close="1" 
			data-placement="right-bottom" 
			bs-popover>
			<span class="left">
				<div class="text">{{n.microtaskType}}
				</div>
			</span>
			<span class="right">

				<span ng-if="n.score != -1 && n.score < 3" class="rejected" >REJECTED</span>
				<span ng-if="n.score != -1 && n.score == 3" class="reissued">REISSUED</span>
				<span ng-if="n.score != -1 && n.score > 3" class="accepted">ACCEPTED</span>
				<br ng-if="n.score != -1" />

				{{n.points}} points
			</span>
	  		<div class="clearfix"></div>
		</li>
	</ul>
	<div ng-if="news.length == 0" >
		no news yet!
	</div>
</div>
