<div  ng-controller="DescribeBehavior">
    

    <div class="section section-description " >
        <div ng-include="'/client/microtasks/microtask_title.html'"></div>
        <div class="section-content  job-description" >
            Describe the behavior of this function
        </div>
    </div>

    <div class="section section-description" id="functionSignature">

		<div class="section-title" >
			<div class="dot bg-color"></div>
			FUNCTION DESCRIPTION
		</div>

		<div class="section-link" ng-hide="funct.readOnly || dispute.active" >
			<a ng-click="dispute.toggle(); $event.preventDefault(); $event.stopPropagation();">
				Report an issue with the function <span class="glyphicon glyphicon-exclamation-sign"></span>
			</a>
		</div>

		<div class="section-content no-padding">
			<ace-read-js code="::funct.getSignature()" ></ace-read-js>
		</div>
		
	</div>

	<div class="section no-padding">
		<div class="section-title"><div class="dot bg-color"></div>Previous described behaviors</div>

		<div class="section-content">

			<div class="tests-list" >
				<div class="test-item" ng-repeat="t in data.tests track by $index">
					<div class="toggler bg-color-alpha" ng-click="toggleTest(t)">
						<span class="pull-left">
							<strong> it </strong>
							<span ng-bind="t.description"></span>
						</span> 
						<span class="pull-right">
							<button 
								class="btn btn-mini {{ t.editing ? 'btn-primary' : '' }}" 
								ng-click="editTest(t); $event.stopPropagation();">
								<span class="glyphicon glyphicon-edit" ></span> Edit
							</button> 
						</span>
						<span class="clearfix"></span>
					</div>
					<div ng-form="testForm" class="form" ng-if="t.expanded">
						<div class="form-group" ng-if="t.editing">
							<div class="input-group" >
						      <span class="input-group-addon">it</span>
						      <input 
						      	class="form-control" 
						      	name="description" 
						      	ng-model="t.description"
						      />
						    </div>
						</div>
						<div class="form-group">
							<test-editor test="t"></test-editor>
						</div>
						
					</div>
				</div>
			</div>

		</div>
	</div>

		
	<div class="section no-padding">
		<div class="section-title">
			<span><div class="dot bg-color"></div>Describe new behavior</span>
			<span class="pull-right" ng-if="data.tests.length > 0"> 
				<input type="checkbox" ng-model="data.isComplete" ng-click="t.editing = !t.editing"> 
				the function is completely described by the previous behaviors
			</span>
			<span class="clearfix"></span>
		</div>

		<div class="section-content">


			<div ng-init="t = data.newTest" class="test-item">
				<div ng-form="newTestForm" class="form" ng-if="t.editing">
					<div class="form-group">
						<div class="input-group" >
					      <span class="input-group-addon">it</span>
					      <input 
					      	class="form-control" 
					      	name="description" 
					      	ng-model="t.description"
					      />
					    </div>
						
					</div>
					<div class="form-group">
						<test-editor test="t"></test-editor>
					</div>
					<div class="form-group">
						
					</div>
				</div>
			</div>
		</div>
	</div>
<!--
	<div class="section section-form">

		<div class="section-title" >
			<div class="dot bg-color"></div>
			Describe new behavior
		</div>
		<div class="section-content">
			<div class="form-group">
				<input class="form-control" ng-model="newTest.description"></input>
			</div>
			<div class="form-group">
				<test-editor code="newTest.code"></test-editor>
			</div>

			<div ng-if="microtask.promptType == 'WRITE' ">
				<label><input type="checkbox" ng-model="isComplete">No more behaviors to describe</label>
			</div>
		</div>

	</div>
    -->

</div>
