<div  ng-controller="DescribeBehavior">
    
	<div class="header bg-color">
		<span class="type  ">{{::microtask.title}} ({{::microtask.promptType}})</span>
		<span class="reissued" ng-if="microtask.reissuedSubmission !== undefined">REISSUED</span>
		<span class="points">( {{::microtask.points}} pts )</span>
		<button class="btn btn-sm" ng-click="$emit('queue-tutorial', microtask.type, true); ">
			<span class="glyphicon glyphicon-question-sign"></span> 
		</button>
		<span class="clearfix"></span>
    </div>

    <div class="sections">
    	
    	<div class="section bg-color-alpha padding" style="height:5%;">
			
			<span ng-if="microtask.disputedTests === undefined "> 
				Can you describe a behavior for this function?	
			</span>		
			<span ng-if="microtask.disputedTests !== undefined "> 
				Can you fix the issues in the disputed tests?
			</span>			
		</div>

		<div class="section"  style="height:35%;">
			<div class="section-bar">
				<span class="title">
					Function Description
				</span>
				<span class="pull-right">
					<button class="btn btn-mini" ng-click="data.dispute.active = !data.dispute.active;" ng-if="!data.dispute.active">
						Report an issue with the function <span class="glyphicon glyphicon-exclamation-sign"></span>
					</button>
				</span>
				<span class="clearfix"></span>
			</div>
			<div class="section-content padding">
				<js-reader code="funct.getSignature()" ></js-reader>
			</div>					
		</div>


		<div class="section" style="height:200px;" ng-if="data.dispute.active">
			<div class="section-bar">
				<span class="title pull-left">Dispute Function Description</span>
				<span class="pull-right">
					<button class="btn btn-mini" ng-click="data.dispute.active = !data.dispute.active;" >
						Cancel Dispute
					</button>
				</span>
				<span class="clearfix"></span>
			</div>

			<div class="section-content">
				<div class="form" style="height:100%">
					<div class="form-group" style="height:100%">
						<textarea style="height:100%;resize:none;" placeholder="write the reason of the dispute" name="disputeDescription" class="form-control" ng-model="data.dispute.text"></textarea>
					</div>
				</div>
			</div>
		</div>

		<div class="section"  style="height:30%;" ng-if="!data.dispute.active">	
			<div class="section-bar">
				<span class="pull-left title" ng-if="data.selected == -1">
					Previous described behaviors
				</span>

				<span class="pull-left" ng-if="data.selected != -1">
					<button class="btn btn-sm" ng-click="toggleSelect($event)">
						<span class="glyphicon glyphicon-arrow-left"></span>
					</button>
				</span>

				<span class="pull-right" ng-if="data.selected != -1">
					<button 
						class="btn btn-mini btn-filled {{ data.selected.editing ? 'active' : '' }}" 
						ng-click="toggleEdit($event)">
						<span class="glyphicon glyphicon-edit" ></span> Edit
					</button> 
				</span>

				<span class="clearfix"></span>
			</div>
			<div class="section-content empty" ng-if="data.tests.length == 0">
				<div>No previous behaviors described!</div>
			</div>

			<div class="section-content padding slide from-left" ng-if="data.tests.length > 0 && data.selected == -1">
				<div class="tests-list">
					<div class="test-item clickable {{ t.dispute.active ? 'disputed' : '' }}" ng-repeat="t in data.tests track by $index">
						<div ng-click="toggleSelect($event,t)">
							<span class="pull-left">
								<strong> it </strong>
								<span ng-bind="t.description"></span>
							</span> 
							<span class="clearfix"></span>
						</div>
					</div>
				</div>
			</div>					

			<div class="section-content slide from-right" ng-if="data.tests.length > 0 && data.selected != -1">
				<div class="form" >
					<div class="form-group" ng-if="data.selected.dispute">
						<div class="col-md-2 col-sm-2 row-label">
							DISPUTE REASON
						</div>
						<div class="col-sm-10 col-md-10">
							{{data.selected.dispute.text}}
						</div>
					</div>
					<div style="position:relative;">
						<div class="form-group" ng-if="!data.selected.editing">
							<div class="col-md-2 col-sm-2 row-label">
								description
							</div>
							<div class="col-sm-10 col-md-10">
								<span>
									it <span ng-bind="data.selected.description"></span>
								</span>
							</div>
						</div>
						<div class="form-group" ng-if="!data.selected.editing">
							<div class="col-sm-2 col-md-2 row-label">
								code
							</div>
							<div class="col-sm-10 col-md-10">
								<js-reader code="data.selected.code"></js-reader>
							</div>
						</div>
						<test-editor ng-if="data.selected.editing" test="data.selected" tested-function="funct"></test-editor>
					</div>
				</div>
			</div>					
		</div>

		<div class="section"  style="height:30%;" ng-if="!data.dispute.active">	
			<div class="section-bar">
				<span class="title" ng-if="!data.isComplete">
					Describe a new behavior
				</span>
				<span class="pull-right" ng-if="data.tests.length > 0">
					<input type="checkbox" ng-model="data.isComplete" ng-click="t.editing = !t.editing"> 
				the function is completely described by the previous behaviors
				</span>
				<span class="clearfix"></span>
			</div>
			<div class="section-content" ng-if="!data.isComplete" ng-init="t = data.newTest" >
				<test-editor test="t" tested-function="funct"></test-editor>
			</div>	

			<div class="section-content empty" ng-if="data.isComplete">
			</div>				
		</div>
	</div>

</div>
