<?xml version="1.0" encoding="utf-8" standalone="no"?><web-app xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" version="2.5" xsi:schemaLocation="http://java.sun.com/xml/ns/javaee http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<servlet-name>SubmitUserStory</servlet-name>
		<servlet-class>com.crowdcoding.servlets.SubmitUserStory</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitUserStory</servlet-name>
		<url-pattern>/submit/userstory</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmitEntrypoints</servlet-name>
		<servlet-class>com.crowdcoding.servlets.SubmitEntrypoints</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitEntrypoints</servlet-name>
		<url-pattern>/submit/entrypoints</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmitSketch</servlet-name>
		<servlet-class>com.crowdcoding.servlets.SubmitSketch</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitSketch</servlet-name>
		<url-pattern>/submit/sketch</url-pattern>
	</servlet-mapping>
	<servlet>
		<servlet-name>SubmitTestCases</servlet-name>
		<servlet-class>com.crowdcoding.servlets.SubmitTestCases</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SubmitTestCases</servlet-name>
		<url-pattern>/submit/testcases</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>Test</servlet-name>
		<servlet-class>com.crowdcoding.TestServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>Test</servlet-name>
		<url-pattern>/test</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>CrowdCoding</servlet-name>
		<servlet-class>com.crowdcoding.CrowdCodingServlet</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>CrowdCoding</servlet-name>
		<url-pattern>/crowdcoding</url-pattern>
	</servlet-mapping>

	<welcome-file-list>
		<welcome-file>crowdcoding</welcome-file>
	</welcome-file-list>
 <servlet>
  <servlet-name>SystemServiceServlet</servlet-name>
  <servlet-class>com.google.api.server.spi.SystemServiceServlet</servlet-class>
  <init-param>
   <param-name>services</param-name>
   <param-value/>
  </init-param>
 </servlet>
 <servlet-mapping>
  <servlet-name>SystemServiceServlet</servlet-name>
  <url-pattern>/_ah/spi/*</url-pattern>
 </servlet-mapping>
</web-app>