<div class="modal" tabindex="-1" role="dialog">
    <div class="modal-dialog">
		<div class="modal-content" >
			<div class="modal-header">
				<button type="button" class="close" ng-click="$hide()">&times;</button>
				<h4 class="modal-title">You've been working on this for a while now</h4>
			</div>
			<div class="modal-body">
                <div style="text-align: center">It's time to hitting <strong>submit button</strong> and let the crowd take a look.</div>
        
                <br /> <br />
                <div style="text-align: center">
                  This microtask will be auto <strong>skipped</strong>  in: <br />
                  <h4>{{skipMicrotaskIn | date:'mm:ss'}}</h4>
                </div>

                <br /> <br />

                <div style="  text-align: center">
                  If you don't know how to do this microtask, click on the 
                  <span class="tutorial-btn glyphicon glyphicon-question-sign color"></span>
                  on the top-right corner for opening the tutorial!
                </div>
            </div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default" ng-click="$hide()">Close</button>
			</div>	
		</div>
	</div>
</div>